[2018-05-12 16:23] atteneder opened #1 "MetalicRoughness textures are not applied correctly"
atm the Unity Standard shader is used, which uses the channels of the metalic/roughness textures differently. Hence the result is incorrect.

[2018-05-12 23:13] atteneder opened #2 "Create automated test"
Test all files from the official sample repositories
https://github.com/KhronosGroup/glTF-Sample-Models
https://github.com/bghgary/glTF-Asset-Generator

on all platforms.

[2018-05-12 23:15] atteneder opened #3 "Load state reporting"
Better feedback when
- error reports
- warnings
- callbacks for when all geometry is ready
- callback when all materials are ready
- callback when everything is ready

[2018-05-12 23:16] atteneder opened #4 "Support missing Vertex Color Formats"
Namely:
Vec3 (without alpha channel)
UInt16

[2018-05-12 23:18] atteneder opened #5 "Support external buffers in GLBs"
At the moment only GLBs that contain all buffers in itself are supported.

[2018-05-12 23:25] atteneder opened #6 "glTF JSON (non-binary)"
Support  for regular text based glTFs

[2018-05-12 23:28] atteneder opened #7 "BufferView target support"
Take BufferView target into account when loading buffers.
See
https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#buffers-and-buffer-views

[2018-05-12 23:45] atteneder opened #8 "Morph Target / Sparse Accessors support"
Follow the progress of the [morph branch](https://github.com/atteneder/glTFast/tree/morph)

- [x] Proper Disposal
- [x] Target names (from extras)
- [x] Sparse accessors
- [x] Works with Draco
- [x] Animation
  - [x] Multi primitives in separate objects

[2018-05-12 23:46] atteneder opened #9 "DoubleSided Materials support"

[2018-05-12 23:47] atteneder opened #10 "Unity backwards compatibility"
Test with a reasonably old version of Unity (2017.1 maybe).

[2018-05-12 23:47] atteneder opened #11 "glTF 1.0 backwards compatibility"

[2018-05-12 23:48] atteneder opened #12 "Camera support"
Optional camera import support. Default should be to not import cameras (or at least not activate them).

[2018-05-12 23:50] atteneder opened #13 "Skin support"
Support meshes/rigs with skinning applied.
- Joints
- Weights

[2018-05-12 23:53] atteneder opened #14 "Draco mesh compression support"
Support extension KHR_draco_mesh_compression

[2018-05-12 23:53] atteneder opened #15 "Specular Glossiness material model"
support extension KHR_materials_pbrSpecularGlossiness

[2018-05-12 23:54] atteneder opened #16 "Unlit material support"
support extension KHR_materials_unlit

[2018-05-12 23:54] atteneder opened #17 "Extension KHR_lights_punctual"
support extension [KHR_lights_punctual](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_lights_punctual)

Optional though. Default should be not to import lights, I guess

[2018-05-12 23:55] atteneder opened #18 "Texture transform support"
support extension KHR_texture_transform

[2018-05-12 23:56] atteneder opened #19 "DDS texture support"
support extension MSFT_texture_dds

[2018-05-12 23:56] atteneder opened #20 "Level of detail support"
extension MSFT_lod

[2018-05-12 23:57] atteneder opened #21 "Advanced texture packing support"
extensions
MSFT_packing_normalRoughnessMetallic
MSFT_packing_occlusionRoughnessMetallic

[2018-05-13 00:03] atteneder opened #22 "Streamable"
Make loading glTFs streamable, so the already received part of the content can be parsed while the rest is loading.

[2018-05-13 00:04] atteneder opened #23 "Thread support"
Investigate if the loading process can be moved off the main thread and spread accross multiple worker threads.

[2018-05-15 11:08] atteneder opened #24 "Texture Transform"
extension KHR_texture_transform
https://github.com/KhronosGroup/glTF-Sample-Models/pull/167

[2018-05-20 18:30] atteneder commented on #1
fixed

[2018-05-20 18:30] #1 closed

[2018-05-20 18:31] atteneder commented on #4
I implemented them without having actual test files.
I couldn't find official ones and all converter tools were kind of hard to get running => wait for proper test files and fix errors in case they pop up.
for now => fixed

[2018-05-20 18:31] #4 closed

[2018-05-23 20:52] atteneder commented on #24
duplicate of #18

[2018-05-23 20:52] #24 closed

[2018-05-23 20:52] atteneder commented on #18
KhronosGroup/glTF-Sample-Models#167

[2018-05-23 21:02] atteneder opened #25 "Optimized Shader/Material System"
Right now the Unity Standard Shader is utilized which has some downsides:

- costly texture transformations for occlusion/roughness/metalic textures, since the channel usage differs

- missing features (like double sidedness or unlit)

An optimized shader (or a derivate of the Standard Shader) could improve speed/size.

Things to consider:
(Scriptable) Render Pipeline compatibility:
Forward/Deferr

[2018-05-23 21:28] atteneder opened #26 "Create an Unity Asset Store Package"
For easier installation/usage.
Ideally an automated process.

[2018-05-23 21:45] atteneder opened #27 "Destroying an imported scene does not free up memory"
Textures, Materials and Meshes stick in memory, even after being destroyed.
Easy to spot using the Unity Profiler.

[2018-05-24 19:51] Siccity opened #28 "Just opened the stuff up for the first time and"
![image](https://user-images.githubusercontent.com/6402525/40510298-8b24b302-5f9c-11e8-82ba-20a12555e2b7.png)

[2018-05-25 19:12] atteneder commented on #28
Thanks for the report!
Looks like the bufferView's byteStride/byteOffset is not taken into consideration when fetching the vertex positions.

[2018-05-28 23:45] atteneder commented on #28
fixed in 8d855bae0eafcc97dbad722c9832ee468d872dc7

[2018-05-28 23:45] #28 closed

[2018-06-17 08:22] Rysm opened #29 "Assets/GLTFast/GLTFast.cs(345,31): error CS1644: Feature `null propagating operator' cannot be used because it is not part of the C# 4.0 language specification"
Occurs when I import into fresh Unity 2018.3 project

[2018-06-17 08:46] #29 closed

[2018-06-19 12:09] atteneder commented on #29
Is there a reason why you closed the issue?
I don't have access to 2018.3 (2018.2 is in beta atm). I'm wondering whether you are an insider or confused a digit :)

[2018-06-19 21:16] Rysm commented on #29
I confused a digit - whoops!

Also, I closed it because I figured out the issue by selection the correct version .NET

[2018-06-20 18:46] #27 closed

[2018-06-20 19:54] Rysm opened #30 "So I can't load GLTF files?"
Do I need to use another library to convert a GLTF file into GLB in order to use :

[code]

[2018-06-21 11:37] atteneder commented on #30
At the moment, yes. Priority is on use cases where you have control over the content and can convert to gltf-binary. You have to re-export your models to glb at the moment. It's a bit of work, but it can be automated as well.
I plan to do gltf support later on (see #6 )

[2018-06-21 11:37] #30 closed

[2018-08-15 07:25] taharaza16 opened #31 "Problem when loading asset with more than 65k vertices"
when i load low poly assets they build just fine.. however if i try to import one with around 300k vertices this is what i get
![image](https://user-images.githubusercontent.com/16437355/44136312-cbfd658e-a085-11e8-8baf-d5d6e37d21dd.png)
instead of
![image](https://user-images.githubusercontent.com/16437355/44136421-30a162e2-a086-11e8-9e6e-2792738aa8e2.png)

[2018-08-17 11:49] taharaza16 commented on #31
[tile.zip](https://github.com/atteneder/glTFast/files/2297059/tile.zip)
here you go!

[2018-09-02 14:30] #31 closed

[2018-09-02 14:49] atteneder opened #32 "multimaterials per mesh not working"
Individual materials per primitive seem to not work atm.

[2018-09-02 14:50] atteneder commented on #31
I noticed another problem with this one: There are two sub meshes with different materials. That does not work atm, so I created a follow up issue #32

[2018-09-02 15:29] #2 closed

[2018-12-17 12:39] jeffries7 opened #33 "Missing namespaces"
I've just cloned the project and opened inside of Unity 2018.3.0 which is causing missing namespaces. These are:
- TestTools
- NUnit
- TestAttribute
- Unity TestAttribute
- Unity Test

Is this because i'm using a newer version of Unity or are these carried over from the Kronos project and i'm missed something?

[2018-12-18 00:15] atteneder commented on #33
Quickfix: switch platform to WebGL and back to standalone (did the trick here).
I'm working on a better solution.

[2019-02-22 00:36] #6 closed

[2019-03-31 10:17] atteneder opened #34 "Support for multiple UV sets"
Meshes can have a second UV set (`TEXCOORD_1`) that materials can use via `texCoord`.
See https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#meshes

[2019-03-31 10:29] atteneder opened #35 "Support embedded base64-encoded data"
For images and buffers.

[2019-05-26 13:09] atteneder opened #36 "Optimize against new Unity Mesh API"
Unity 2019.3 Mesh API Improvements:
https://docs.google.com/document/d/1I225X6jAxWN0cheDz_3gnhje3hWNMxTZq3FZQs5KqPc/edit#heading=h.vyksohcynwk5

glTFast could probably be optimized a bit by using this new API

feedback thread:
https://forum.unity.com/threads/feedback-wanted-mesh-scripting-api-improvements.684670/

[2019-05-30 15:00] fagerbur opened #37 "glb import from network share failed"
I tried to import a .glb from a network share and got the following error.

[code]

[2019-05-30 16:20] atteneder commented on #37
Hi,
I think the error message says it all: that is not a valid HTTP URL.
What you can try is to mount the network share and load the file like a regular local file. To do this set the `GltfAsset.url` to the local path, prefixed with `file://`, which indicates that it is a local path. On macOS this might look something like `file:///Volumes/Sharename/path/to/file.glb`.
The download is done via [Uni

[2019-05-30 16:20] #37 closed

[2019-05-30 17:03] fagerbur commented on #37
@atteneder in the use case I'm pursuing, asking all of my users to mount the file share locally isn't a very viable approach, would something like this fall under enhancement instead of issue?

[2019-05-30 17:10] atteneder commented on #37
Sure!
UnityWebRequest  (and glTFast alike) handles local files as well as HTTP, so you could host your content on a HTTP web server, be it internal or public.

[2019-05-30 17:20] fagerbur commented on #37
totally understand, thanks for the info!

[2019-06-30 11:28] #23 closed

[2019-06-30 11:30] atteneder opened #38 "Unity Package"
Make this project a UnityPackage

- Easier usage for developers
- Separation of core and usage/example code

[2019-07-23 20:20] robertrost opened #39 "Performance on ios"
The (impressive) speed of this library in the editor gets lost when building for ios. The loading duration increases by 400%. Switching from .glb to .gltf does not affect the duration.

[2019-07-23 20:53] atteneder commented on #39
Hi robert,

Thanks for the feedback.

What device are you using?
Which Unity Version?
I can offer to profile it myself, if you can provide your content.

[2019-07-23 21:12] robertrost commented on #39
Hey, sorry for the lack of information:

Unity: 2019.1.4f1
device 1: iPhone XS running ios 12.3.1
device 2: iPad Pro 11" (6GB RAM) running ios 12.2
note 1:  The lack of speed seems to increase especially for large (> 1 mio vertices) geometries.
note 2: I am loading the geometry from the local filesystem using "file://......" as url.

thanks for your offer, that would be great! We will try to creat

[2019-07-23 22:42] atteneder commented on #39
Great to hear you like it!

Your devices are fast and loading from local drive should be no bottleneck. I never tested meshes this big though, so I'll look if there's room for optimization/improvements.

[2019-07-24 05:53] atteneder commented on #38
Done

[2019-07-24 05:53] #38 closed

[2019-09-14 13:51] #14 closed

[2019-09-15 05:02] Giorat commented on #35
Any news on the use of remote textures? Is it a complex task to complete?

[2019-09-15 08:42] atteneder commented on #35
Hi!
Remote textures (as in URL links within the glTF JSON) are already supported (let me know if this is not the case).
This feature is about buffers and images embedded into the glTF JSON.

To be honest, this is not really hard to implement, just not a high priority. Base64 embedded buffers are just not very efficient (~20% data overhead plus decoding effort). If you have control over the content

[2019-09-18 10:57] atteneder opened #41 "Support for Universal Render Pipeline (URP)"
Currently there's only support for the Built-In render pipeline via `DefaultMaterialGenerator`. It implements the interface `IMaterialGenerator`.

To add support for the URP, the corresponding code creating the materials has to go into a new class implementing `IMaterialGenerator`.

It has to be used in the constructor of `GLTFast` instead of the default one (ideally dynamically).
[code]

[2019-09-18 10:58] atteneder opened #42 "Support for High Definition Render Pipeline (HDRP)"

[2019-10-04 13:10] tylocook opened #43 "Invalid Package Dependency"
I am not incredibly well versed in how Unity's fancy new Package Manager works, but when I follow your instructions on attempting to add glTFast to my `manifest.json` file, it returns the following error.

[code]

[2019-10-04 13:11] tylocook commented on #43
I see you made a change 19 days ago to "fix" this, but I'm curious as to how Unity tries to resolve seeing it in your `packages.json` file...

https://github.com/atteneder/glTFast/commit/8ef4fb7a22bb4d70f0efab75ff718376de362a17

[2019-10-06 13:23] atteneder commented on #43
Hy @tylocook

thanks a lot for pointing this out. I tested an installation from scratch myself and could confirm the issue. Turns you, you also need to add the DracoUnity package manually, which is a dependency. Add this line to your package manifest:

`"com.atteneder.draco": "https://gitlab.com/atteneder/DracoUnity.git",`

I updated the installation instructions as well.

Please let me know if th

[2019-10-06 22:47] tylocook commented on #43
It did thanks. However I am also getting an error with your Draco package saying the Windows x64 DLL is not currently built for the x64 platform.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Andreas Atteneder <notifications@github.com>
Sent: Sunday, October 6, 2019 9:23:12 AM
To: atteneder/glTFast <glTFast@noreply.github.com>
Cc: Tyler Cook <Tyler.Cook@in

[2019-10-09 19:07] atteneder commented on #43
Oh well :(

I can't fix this before October 21st, since I don't have access to a Windows Box until then.

I switched to build via [GitHub Actions](https://github.com/atteneder/draco/actions) recently. Seems like the build is not configured correctly.

[2019-10-10 02:26] tylocook commented on #43
Ah I see. Well no rush for me, just wanted you to be aware of it. Looking forward to the fix of course, but I can build it myself in the meantime probably.

________________________________
From: Andreas Atteneder <notifications@github.com>
Sent: Wednesday, October 9, 2019 3:07:54 PM
To: atteneder/glTFast <glTFast@noreply.github.com>
Cc: Tyler Cook <Tyler.Cook@incontextsolutions.com>; Mention <men

[2019-10-19 09:22] Giorat commented on #41
How can I help you with this task? How should be added support for URP? Which files to add or change?

[2019-10-20 11:39] atteneder commented on #41
Hi @Giorat ,
help is very much welcome! I updated the description, which should give you a starting point. I haven't used  the URP (or its shaders) thus far myself. Let me know if this helped.

[2019-10-24 00:01] atteneder commented on #43
I couldn't reproduce the issue, but I have a suspicion:

Please navigate to the DLL file and inspect it. Check if it's only 100-200 bytes and its content looks something like this:

[code]

If so, the package was not cloned properly. Make sure you have a recent version of GIT and GIT LFS installed on your system, since Unity may use your system's GIT to clone.

hth

If it's still not working, open

[2019-10-24 00:01] #43 closed

[2019-11-15 20:39] atteneder commented on #15
Implemented on 0.6.0
thanks @Stephengower

[2019-11-15 20:39] #15 closed

[2019-11-15 20:40] atteneder commented on #16
Implemented in 0.6.0
thanks @Stephengower

[2019-11-15 20:40] #16 closed

[2019-11-16 01:51] atteneder opened #45 "Sampler support"
Apply correct texture filtering and wrapping modes provided by [glTF samplers](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#sampler)

[2019-11-21 23:51] atteneder opened #47 "All nodes and meshes are in wrong coordinate space"
glTF is right-handed whilst Unity uses a left-handed coordinate system. Initially glTFast simply scaled the root node by -1 in the Z-axis to fix this. Turns out this can have some negative impact on, for example, shader or physics behaviour.

TODO: convert node's transforms and meshes into Unity space

[2019-11-21 23:52] #47 closed

[2019-11-22 00:33] atteneder opened #48 "Support for KTX 2.0 textures with Basis Universal compression"
Add support for extensions:
- KHR_image_ktx2
- KHR_texture_basisu

See https://github.com/KhronosGroup/glTF/pull/1612

[2019-11-22 11:12] atteneder commented on #29
Note: glTFast 0.7.0 now supports Unity back to 2018.2, also with legacy C# settings

[2019-11-24 18:36] sam598 opened #49 "Draco compressed files do not load"
I receive this error whenever the plugin tries to decode a gltf or glb compressed with draco:

'''
EntryPointNotFoundException: DecodeMeshForUnity
DracoMeshLoader+DracoJob.Execute () (at Library/PackageCache/com.atteneder.draco@b04c2d09ff4d4889e68e0cdfe6b3dc47f4a58a29/Runtime/Scripts/DracoMeshLoader.cs:64)
Unity.Jobs.IJobExtensions+JobStruct`1[T].Execute (T& data, System.IntPtr additionalPtr, Syst

[2019-11-24 18:46] sam598 commented on #49
Same issue happens when running the SampleScene in this project:
https://github.com/atteneder/DracoUnityDemo

[2019-11-24 19:21] #49 closed

[2019-11-24 19:22] atteneder commented on #49
Please install GIT LFS and try again. The DLL library files are not downloaded correctly otherwise.

[2019-11-24 20:01] sam598 commented on #49
It looks like there is an issue with git-lfs and some versions of 2019.2.

I'll try 2019.3 later and see if that resolves things.

[2019-11-24 20:13] atteneder commented on #49
Just make sure you have an up-to-date git client ( find it at <https://git-scm.com>; this should include the git LFS client).

An alternative is to download the package and all its dependency sub-packages manually and adding them via local path in the package manager.

[2019-11-24 21:59] sam598 commented on #49
Thanks for all of the quick help! It is up to date, but there are some versions of 2019.2 that have issues with git-lfs. 2019.3 is working now.

[2019-11-29 09:03] floAr opened #50 "Loading of draco file fails"
I'm getting a decoding error when trying to load draco compressed files.
[code]

I tried running with 2019.2 as well as 2019.3 on windows 10, git as well as lsf are up to date.
Packages appear to also be in order and up to date:
[code]

I created the file using the [fbx2gltf ](https://github.com/facebookincubator/FBX2glTF/releases) converter 0.9.7 using .\FBX2glTF-windows-x64.exe --input .\Y_Bot.f

[2019-11-29 15:27] atteneder commented on #50
Thanks for the report!
Draco in combination with glTF-binary does not work, because the main buffer access is off. For some reason the default sample models don't contain a file like that :)
Expect a fix today/tomorrow.

[2019-11-29 15:52] atteneder commented on #50
Fixed in master and upcoming release 0.7.1
Nice model, by the way.
Thanks again for the report!

[2019-11-29 15:52] #50 closed

[2019-11-30 00:46] atteneder commented on #7
Not sure about the benefit

[2019-11-30 00:50] atteneder commented on #25
Note: Unlit support was added already.

[2019-11-30 00:51] atteneder opened #51 "Add support for KHR_mesh_quantization"
See <https://github.com/zeux/glTF/tree/master/extensions/2.0/Khronos/KHR_mesh_quantization>
Requires #18 to be implemented first

[2019-11-30 00:56] atteneder commented on #34
Note: the second UV set is loaded, but no material/shader makes use atm.

[2019-11-30 01:18] atteneder commented on #18
Requires #25 to be implemented first

[2019-12-01 18:30] incafox opened #52 "poor performance on editor/android with large glb file"
Hi, i was testing this project and i have very bad performance with "large" glb scene (40mb-100mb) (3d models with lot of objects, ~1M verts ), this was designed just for litle objects? what about performance on mobile devices? what are the limits of this library?

[2019-12-01 19:39] atteneder commented on #18
done in branch feature/custom_shaders

[2019-12-01 19:39] #18 closed

[2019-12-01 19:40] atteneder commented on #25
done in branch feature/custom_shader

[2019-12-01 19:40] #25 closed

[2019-12-01 19:51] atteneder commented on #52
The goal of glTF is, to not be the limiting factor when it comes to performance. That being said, your observation can have multiple reasons (that don't exclude themselves):

- weakness in glTFast
- unoptimized glTF files
- simply too much data to handle

I can't possibly tell you why it's slow without taking a look at the glTF files you load, but 100 MB seems excessive (so the 3rd category might

[2019-12-01 20:51] incafox commented on #52
thanks for answer, i uploaded some files:
https://drive.google.com/open?id=1SyBrFE4kZTIgYQV21FIHS48CLuZvZxG9
i was using an obj runtime importer, on my experience is faster than glTFast, but i will like to implement gltf instead of some other format.

[2019-12-01 23:35] atteneder commented on #52
Thanks for providing the files!

These glTF file have few (2) huge vertex/position buffers for all objects and the indices of all primitives refer to this one huge buffer (380k verts for the bigger file)

I'v never seen a strange layout like this and while it's probably compliant to the specification, I'm not sure if this should be a valid file.

It might load/work OK if your engine/API allows bin

[2019-12-01 23:41] atteneder commented on #52
you might try a different exporter like this one:
https://github.com/YulioTech/SketchUp-glTF-Exporter-Ruby

[2019-12-02 00:02] atteneder commented on #52
Using [gltfpack](https://github.com/zeux/meshoptimizer#gltfpack) the big scene loads in under 3 seconds (instead of 18) on a macbook pro.
You might wanna check it out, but be aware that the current glTFast version cannot load the atm. You have to use the mesh_quantization branch.

[2019-12-02 17:56] #35 closed

[2019-12-02 22:49] #9 closed

[2019-12-05 21:20] atteneder commented on #39
might want to read #52, in case there are parallels.
Since you didn't provide test data, I'll close this one. Re-open if that changes.

[2019-12-05 21:20] #39 closed

[2019-12-19 12:57] umresh opened #55 "Loading glb from Application.persistantdatapath in android."
Hi,
   I downloaded the glb files in persistantPath in Android and when I try to load from this path I get an error
Unity: Cannot connect to destination host /storage/emulated/0/Android/data/com.xxx.xxxx/files/C772BCFB-B2FD-406E-8B32-05D3D5DEFAD6.glb

[2019-12-19 13:05] atteneder commented on #55
Hi,

Thanks for the report!

I only ever loaded glTFs either via HTTP or from the StreamingAssets path. In both cases glTFast loads via UnityWebRequest.

I'm not sure if UnityWebRequest can load from an arbitrary local path (like in your case). Could you test if you can load the data via UnityWebRequest directly?

If not, then I should add the feature to load directly from local paths (via System.

[2019-12-19 13:24] umresh commented on #55
I'm downloading files and storing them so that I don't have to download them again and I can load offline too.

[2019-12-19 16:55] atteneder commented on #55
I see. Did you test if UnityWebRequests work on downloaded files?

[2019-12-20 06:25] umresh commented on #55
We are downloading using unuitywebrequests and then giving url to gltfast to load and it seems Gltfast using UnityWebRequests to load files.

[2019-12-20 07:51] atteneder commented on #55
I got that.

I know.

question is, is loading the cache data via UnityWebRequest not working and why.

You might have to prefix the URL with "file://". A simple google search for "UnityWebRequest local file" gives you this helpful thread on the forums:

<https://forum.unity.com/threads/unitywebrequest-for-local-files-on-android-failure.441655/>

[2019-12-20 09:27] veyvin opened #56 "a lot of same objects in one gltf, Use Instantiate?"
![image](https://user-images.githubusercontent.com/6776758/71244621-e7679280-234d-11ea-81fe-0fc0a4426699.png)

[2020-01-24 13:29] julienduroure opened #57 "Shared accessor are loaded multiple times - Out of Memory"
Hello,
I am one of the maintainer of the Blender glTF importer/exporter (see https://github.com/KhronosGroup/glTF-Blender-IO).
I am also a 3D engineer at Airbus Defence & Space, and we are currently testing glTFast to import glb file in Unity at runtime. You are doing a great job!

We are currently facing a bug using shared accessor.
Here is the case:
* A mesh with multiple primitives
* A big acce

[2020-01-24 18:03] atteneder commented on #57
Hi Julien,

thanks a lot for this text book example of a bug report :)

I noticed this misconception in glTFast when I was investigating #52

My plan is to release my current work (fix normal mapping and KHR_mesh_quantization support) and then change glTFast to load per-accessors instead of per-primitive. But to make this easier, I'd like to refactor the core  (`GltFast.cs`) a bit, since it's quit

[2020-01-24 18:31] julienduroure commented on #57
Thanks for the feedback.
Don't hesitate to poke me as soon as you have a testable branch, if you want me to test it on the big (non shareable) file.

[2020-02-01 20:32] atteneder commented on #57
good news: I have a refactored branch (not pushed yet) that does convert buffers into Unity types (position Vector3[] etc.) once per accessor (and not per primitive) anymore.

bad news: the vertex attribute buffers (positions,normals,uvs,etc.) still get duplicated due to limitation in Unity's Mesh API. To double check this, I asked this in the Unity forums:
<https://forum.unity.com/threads/feedbac

[2020-02-01 23:43] #51 closed

[2020-02-01 23:46] atteneder commented on #10
Currently it's tested back to 2018.2, so that's not an issue per se anymore.

[2020-02-01 23:46] #10 closed

[2020-02-01 23:47] atteneder commented on #5
Not true anymore. Though untested (I don't have a GLB file that is "hybrid").
But it should work and as long as no report proves otherwise=> close

[2020-02-01 23:47] #5 closed

[2020-02-02 17:42] atteneder commented on #56
Hi,

sorry for the late response. Could you provide a demo glTF file demonstrating this?

thanks

[2020-02-02 17:44] atteneder commented on #55
As this is probably not a glTFast issue and there was no more response I'm closing it.

[2020-02-02 17:44] #55 closed

[2020-02-06 10:08] edgarrodrigosantos opened #58 "UWP support"
Hi,

The project doesn't compile after downloading dependencies for UWP build target with the following error:
"Library\PackageCache\com.atteneder.draco@85765a855cad1a4848678a894b17213e27df9ef6\Runtime\Scripts\DracoMeshLoader.cs(69,14): error CS0103: The name 'DRACODEC_UNITY_LIB' does not exist in the current context"

Is there any way around this?

Thank you

[2020-02-06 10:49] atteneder commented on #58
Hi,

I never tried this platform, so some things are not defined properly. try this:

open `DracoMeshLoader.cs` (found inside the DracoUnity package)

and change this (line 30):
[code]

to:
[code]

It may be, that UWP still needs a different binary of the Draco library.

please let me know if it works.

[2020-02-06 10:50] atteneder commented on #58
The editor should work though, but the final build might still not.

[2020-02-07 11:16] umresh commented on #55
Hi, Just tried in android files are loaded but there is some error. This is the log

`Unable to find _burst_generated
ArgumentNullException: Value cannot be null.
Parameter name: shader
at GLTFast.DefaultMaterialGenerator.GetPbrMetallicRoughnessMaterial (System.Boolean doubleSided) [0x00000] in <00000000000000000000000000000000>:0
at GLTFast.DefaultMaterialGenerator.GenerateMaterial (GLTFast.Schem

[2020-02-07 11:19] atteneder commented on #55
Seems to me like the necessary Shaders and its variants are included in the build. Is it working in the editor?
Please read `README.md` about including shader (variants).

[2020-02-07 11:21] umresh commented on #55
yes its working in editor

[2020-02-07 14:36] umresh commented on #55
I was the shader varient issue.
I'm trying to load a drc file and load is failed. Link to file is below
[https://unity-video.s3-ap-southeast-1.amazonaws.com/Animal.drc](url)

[2020-02-07 14:51] atteneder commented on #55
Assuming it's a Draco mesh file:
Use [DracoUnity](https://gitlab.com/atteneder/DracoUnity) and see [this demo project](https://github.com/atteneder/DracoUnityDemo) how.

Note: DracoUnity is a dependency of glTFast, but you don't need (all of) glTFast for loading Draco files.

[2020-02-07 15:02] umresh commented on #55
I have both glb, gltf and just found out it had drc too. and I was hoping to load all the type using gltfast

[2020-02-07 15:05] atteneder commented on #55
RTFM!
Please read my answers carefully:
You CAN via DracoUnity, which is a dependancy of glTFast. Read my links above.

[2020-02-09 12:10] atteneder commented on #52
I did some more research:

glTFast currently does not properly merge primitives of identical vertex attribute data into one mesh with sub meshes. This is an optimization I'd like to do to fix/improve #57. Your scene might benefit a little too, but the main issue remains the giant vertex buffers.

@aras-p [confirmed](https://forum.unity.com/threads/feedback-wanted-mesh-scripting-api-improvements.68

[2020-02-09 12:10] #52 closed

[2020-02-10 18:07] edgar-rodrigo-santos commented on #58
It works (both Editor and UWP runtime on Hololens).

The rendering is great (probably the best I've seen from gltf loaders) but it is too much for us (we want to keep the framerate very high with the fastest shaders possible even sacrificing quality).

In terms of shaders, the ideal scenario would be to support the MRTK library standard shader (which is a more efficient version of the Unity Standa

[2020-02-10 19:17] atteneder commented on #58
Great to hear! I'll include this fix in the next release then.

glTFast started out using Unity's standard shader. I eventually forked it into custom shaders in order to provide all features the glTF materials offer (double-sided, vertex colors, occlusion/roughness/metallnes textures, texture transforms with rotation). So I don't intend to go back here.

But, I see that there's a need for differen

[2020-02-10 23:37] atteneder commented on #57
Hi Julien,

after another look I figured out that the test cube you provided actually does not suffer from accessors being used across meshes. They are just used across primitives within one mesh. So basically my last post doesn't apply to the cube and hopefully not to your real data as well.

That being said, I have a branch ready for testing, that improves in two ways:
- buffers are not retrieve

[2020-02-11 07:26] julienduroure commented on #57
Hello,
Thanks for this update. I will test it in the following days.
You're right, in my cases, accessors are shared by multiple primitives, but inside a same mesh. I never find a test case where accessors are shared between multiple meshes.

[2020-02-11 08:58] atteneder commented on #57
Me neither. That's why I decided to not pay attention to those cases and focus on optimizing your case.

Also: Next step is to optimize the Jobs/Threads and utilize Burst/Unity.Math. First tests are promising so expect speed improvements on your big scenes in the coming days/weeks.

[2020-02-22 10:47] atteneder commented on #58
Both DracoUnity and KtxUnity now have this change applied and should work on UWP.

[2020-02-22 10:47] #58 closed

[2020-02-24 02:36] veyvin opened #59 "line index error."
this is a line.
[9076dec0-1b2f-4395-9957-5f2d74b92b80.mod.zip](https://github.com/atteneder/glTFast/files/4242939/9076dec0-1b2f-4395-9957-5f2d74b92b80.mod.zip)
this model in gltf viewer and assimp viewer is  correct.
in gltfast the index is  0 2 1  3 5 4
the correct index is 0 1 2 3 4 5.

[2020-02-24 08:30] atteneder commented on #59
Hey veyvin,

thanks for providing a sample scene (I never tested a file with lines/points)

glTFast has to switch indices order for triangular meshes, but for lines this is indeed an error. Shouldn't take long...expect a fix this week

regards

[2020-02-24 20:14] #59 closed

[2020-02-26 07:56] atteneder commented on #57
fyi: was merged+released already.

[2020-02-26 12:47] julienduroure commented on #57
Thanks a lot!
We are a bit late in our dev here, tests on our production data is not done yet.
Hope we will be able to perform tests next week

[2020-02-27 15:28] Mrgove10 opened #60 "Plugins: Failed to load when saving"
Hello,
When i save my unity project (ctrl+s) i get these two errors :
[code]
and
[code]
Outside of that the library works super well, great work !

[2020-02-27 17:09] atteneder commented on #60
Thanks for letting me know!

Strange thing it works otherwise. I'll get access to a windows box next week and then I'll have a look.

[2020-02-27 21:57] Mrgove10 commented on #60
I also get an error when i build but the wierd thing is :
build 1 : get the error
build 2 (done right after, not shanging ANYTHING) : no error

I will post the error on build tomorrow

[2020-02-28 09:01] Mrgove10 commented on #60
For information i am on Unity 2019.3.1f1

[2020-03-02 14:05] atteneder opened #61 "Texture sampler's `minFilter` / `magFilter` modes are only partially supported"
Unity's [Texture API](https://docs.unity3d.com/ScriptReference/Texture.html) does not give you the amount of fine-grained control over filtering the glTF specification requires. Thus some modes might not work as expected.

- No diffentiation between minification and magnification
- No separete/direct control over mip-map filtering

[2020-03-02 14:13] #45 closed

[2020-03-05 12:15] umresh opened #62 "GLB not loading."
Tried your demo project and while loading this glb https://unity-video.s3-ap-southeast-1.amazonaws.com/181C41E3-653C-4AD6-B76F-F4AE1553FFF3.glb its giving error saying
TestLoader: loading failed!

[2020-03-05 13:19] umresh commented on #62
Its working conversion issue from our side

[2020-03-05 13:19] #62 closed

[2020-03-09 10:40] umresh opened #63 "Model UV Issue"
Hi,
   Applying texture to the loaded model but uv data is not loaded and texture is applied as whole for each mesh.
[Model](https://unity-video.s3-ap-southeast-1.amazonaws.com/GLB/3F54A97D-6E36-49C2-8F2B-A43813F9BF73.glb) and [texture](https://unity-video.s3-ap-southeast-1.amazonaws.com/GLB/1DD0C0C3-C665-42AC-83C8-3C6E809E4C82.png)

[2020-03-09 11:40] atteneder commented on #63
Hi,
In this glTF there is no texture assigned to any material. So it's a content issue => closing.

Please test your scenes in a another glTF viewer as a reference. I use this one often:
https://gltf-viewer.donmccurdy.com

[2020-03-09 11:40] #63 closed

[2020-03-09 12:37] umresh commented on #63
Yes there is no texture in glb file thats why i'm applying texture in material via script and model looks like texture is applied without uv unwarpping.

[2020-03-09 18:01] atteneder commented on #63
Can you verify in another viewer/loader that the UVs are working?

[2020-03-09 18:16] umresh commented on #63
Hi, tried on babylonjs viewer its working.
[Link](https://unity-video.s3-ap-southeast-1.amazonaws.com/GLB/babylon.JPG)

[2020-03-09 20:28] atteneder commented on #63
Seems like UVs are loaded correctly
<img width="648" alt="grafik" src="https://user-images.githubusercontent.com/2593014/76254483-d2174b80-624c-11ea-9190-cb7e11913bed.png">

I slapped a random texture on it.

[2020-03-09 20:30] atteneder commented on #63
Oh, I might have the missing clue for you:
glTF has a different "origin" for UV coordinates than Unity, so it might help to flip the texture in the Y-axis because I do so when importing UVs.

[2020-03-13 17:41] atteneder commented on #32
already solved

[2020-03-13 17:41] #32 closed

[2020-03-13 18:20] atteneder commented on #7
obsolete, since we now iterate the accessors prior to extraction anyways. In the future we may extract interleaved as a bunch anyways.

[2020-03-13 18:20] #7 closed

[2020-03-13 18:21] atteneder commented on #19
won't fix in favor of KTX2 textures

[2020-03-13 18:21] #19 closed

[2020-03-13 18:22] atteneder commented on #21
Will not implement this vendor extension

[2020-03-13 18:22] #21 closed

[2020-03-13 18:23] atteneder commented on #33
I guess this is obsolete => closing

[2020-03-13 18:23] #33 closed

[2020-03-13 18:28] atteneder commented on #48
Added experimental in 0.10.1. Optional in 1.0.0

[2020-03-13 18:28] #48 closed

[2020-03-13 18:31] atteneder commented on #56
I think a recent version of glTFast should do considerably better.

If not, provide a sample file and re-open the issue.

thanks

[2020-03-13 18:31] #56 closed

[2020-03-13 18:32] atteneder commented on #57
I think it's safe to close it now. Feel free to re-open if you still encounter the problem.

[2020-03-13 18:32] #57 closed

[2020-03-13 18:34] atteneder commented on #60
Can you check if the mentioned DLL file has a proper size? It should be around 228 kB:
https://gitlab.com/atteneder/DracoUnity/-/blob/master/Runtime/Plugins/x86_64/dracodec_unity.dll

If that's not the case, you might not have GIT LFS installed, as the install instructions suggest you to.

[2020-03-13 18:35] atteneder commented on #60
see https://github.com/atteneder/glTFast#installing

[2020-03-16 10:06] Mrgove10 commented on #60
x86 = 190kb
x86_64 = 228kb

So everything seams good.

[2020-03-16 11:04] atteneder commented on #60
I could reproduce it and will look into it later

[2020-03-16 14:54] Mrgove10 commented on #60
for information : i ahve updated to the latest release and i still have the issue

[2020-03-16 15:00] atteneder commented on #60
workaround:
the current version does not require DracoUnity to be installed, so if you don't need draco mesh compression, just remove the package.

[2020-03-16 16:34] Mrgove10 commented on #60
seams to have fixed the issue ! thanks !

[2020-03-19 04:59] prajwalshettydev opened #64 "Secondary UV support for the occlusion texture"
Hi thanks for the amazing plugin. I understand that this is more of a feature request than an issue. So, currently, in the project I'm working on, I need to connect the Occlusion Texture using the secondary uv of the mesh instead of the primary. Please help me out since it is an urgent need. Thanks again

[2020-03-19 05:06] prajwalshettydev commented on #64
I see that you have mentioned [here](https://github.com/atteneder/glTFast/issues/34#issuecomment-559900832) that the

So, can you please let me know how I can do this? for eg in the "glTFUnityStandardCoreForwardSimple.cginc" I see that "half occlusion = Occlusion(i.tex.xy);" is passed, so I'm guessing I need to pass the uv2 here instead of the uv1, just not sure how exactly to. Thanks!

[2020-03-19 05:52] prajwalshettydev commented on #64
Hi, me again, managed to fix it for now by adding this
`texcoord.zw = TRANSFORM_TEX(v.uv1, _OcclusionMap);`
in the `glTFUnityStandardInput.cginc`'s `TexCoords(VertexInput v)` fn. I will close this thread soon. Thanks for the wonderful plugin.

[2020-03-19 07:16] #64 closed

[2020-04-01 14:07] jeanfabre opened #65 "git package failing with Package Manager on 2019.3.6f1"
Hi,

 oddly, on 2019.3.6f1, the package manager fails to load the https://github.com/atteneder/glTFast.git

here's the screenshot of the error in the package manager:
https://imgur.com/PkjHIGN

Thanks,

 Jean

[2020-04-01 22:08] atteneder commented on #65
Hi Jean,

it seems like you don't have GIT LFS installed, which is needed for this package.
See https://git-lfs.github.com/ for details.
If you're on a mac, I'd recommend using homebrew to install it.

hth,
andi

[2020-04-02 07:26] jeanfabre commented on #65
Ok, thanks, all working now!

[2020-04-02 07:26] #65 closed

[2020-04-05 12:37] atteneder commented on #64
Hi,

glad you figured out a solution that works for you. I may work  on a more general solution after version 2.0, which uses the new mesh API and and some point maybe the shader graph.

[2020-04-07 17:02] prajwalshettydev commented on #64
That'd be great!

[2020-04-09 08:49] veyvin opened #66 "Use MaterialPropertyBlock instead of Material ,increase draw call"
https://docs.unity3d.com/ScriptReference/MaterialPropertyBlock.html

[2020-04-09 12:30] atteneder commented on #66
Hi veyin,

can you shed a bit of light onto what you suggest with this?

I assume it would be possible to save draw calls by finding materials of a glTF file that use an identical shader(variant), but have varying properties. You'd have to group those together, is that what you're implying?

[2020-04-12 21:10] atteneder commented on #60
fyi, seems to be Unity bug:
https://forum.unity.com/threads/dll-not-found-with-standalone-app-but-works-fine-in-editor.389392/page-2

still not fixed though

[2020-04-12 22:12] Mrgove10 commented on #60
As often with unity bugs :/ We have pause the project on our side so we are not gonne be using the library in a little bit.

[2020-04-12 22:14] atteneder commented on #60
alright.
FWIW: a workaround for builds is to move the DLL into the same (root) folder than the .exe file.

[2020-04-13 09:42] veyvin commented on #66
yep，i have a lot of models

![2020-04-13 173726](https://user-images.githubusercontent.com/6776758/79110677-89a00000-7dad-11ea-8c14-d057d6d42ff8.png)

![2020-04-13 173919](https://user-images.githubusercontent.com/6776758/79110803-ca981480-7dad-11ea-8c33-0d780f6dc83a.png)

[2020-04-13 12:27] atteneder commented on #66
Interesting use case! Can you provide a sample file(s)?

I'll put it on the list of feature requests, but cannot make promises since this list is long.

In case you want to give it a try yourself, this is how I'd approach it:

Currently each Gltfast instance creates its own instance of DefaultMaterialGenerator (IMaterialGenerator), which creates the materials. The intention is, that alternative Ma

[2020-04-16 19:05] wangvnn opened #67 "Normal map should be loaded as linear not sRGB"
For reference:
https://forum.unity.com/threads/get-external-normal-map-at-runtime.532892/

[2020-04-16 19:43] atteneder commented on #67
Hi wangvnn,
thanks for the finding. I'll look into it, this week probably.

[2020-04-18 13:05] atteneder commented on #67
Do you happen to use linear color space in your project? Because I use gamma space in my test project and it seems be correct here.

Otherwise, please provide your specs (Unity version, platform, project's color space) and sample files and explain what you'd expect (also visually) and where glTFast differs? Did you test Jpeg/PNG or KTX2/BasisU textures?

Thanks!

[2020-04-19 16:35] atteneder opened #68 "Support for clearcoat materials"
See extension [KHR_materials_clearcoat](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_clearcoat)

Probably won't work on it before looking into URP/HDRP.

[2020-04-19 22:31] atteneder commented on #67
Is fixed in master for PNG/Jpeg textures.
KTX2 still has to get fixed.

[2020-04-21 13:54] Merichbier opened #69 "Header authentication"
Hi,

Thanks for your work first, looks good I'll test it for sure. I was wondering if this plugin can download a GLTF which is on a protected https url ?

We have a server where we need to authenticate using http headers. Is it possible to set this up and access our assets on our server ?

Cheers

[2020-04-21 13:58] atteneder commented on #69
Hi,

honestly, I don't know. glTFast uses regular [UnityWebRequests](https://docs.unity3d.com/ScriptReference/Networking.UnityWebRequest.html) for loading, so it should be possible to submit credentials or a token.

I might have to make this accessible though. If UnityWebRequests work with your server infrastructure and you send me a code snippet, how to achieve it, I can look into creating an API

[2020-04-21 14:02] Merichbier commented on #69
Hi,

Thanks for this super fast response !

We usually also work with UnityWebRequest and simply set the authentication header like this :

[code]

It should be quite easy to expose an API to set http header with simple key/value input somewhere

[2020-04-21 14:19] atteneder commented on #69
Sounds reasonable.

Maybe register a delegate/callback that let's you work with the request before sending it.
If you need this urgently feel free to go ahead. I can offert to review PRs.

[2020-04-23 15:07] edgar-rodrigo-santos opened #71 "Editor import/export"
Hi,

Does glTfast support editor-time gltf import/export?
If not, do you plan on supporting that?

Thanks

[2020-04-23 15:24] atteneder commented on #71
Hi Edgar,

unfortuantely not. I don't rule it out completely, but at least I myself won't need/implement it that anytime soon.

I had good experience exporting glTF at editor-time with [UnityGLTF](https://github.com/KhronosGroup/UnityGLTF) though.

hth

[2020-04-23 15:24] #71 closed

[2020-04-27 07:08] Merichbier opened #72 "Change alpha of gltf model"
Hi,

I tried to play with the shader used to display the GLTF object but I wasn't able to make it transparent.
I tried to change both Color parameters with alpha channel set to 0

Do you know a way how we could make the transparency of the model controllable ?

Cheers

[2020-04-27 07:39] atteneder commented on #72
Hi,

what is your use-caes? why do you want to set it manually?

The shader can be made transparent by setting certain shader keywords and adjusting the blending parameters (I haven't memorized them; look at DefaultMaterialGenerator.cs)

Unity's Standard shader works exactly the same, but there you have a custom Inspector, which takes care of the stuff underneath for you. Since I thought no one is

[2020-04-27 07:43] Merichbier commented on #72
Hi @atteneder ,

Thanks again for your quick feedback !
The use case is that we load CAD models converted to GLTF and want to be able to show the different layers.
Examples with a motor, we would like to be able to set the outer case semi transparent as to better see the inner parts.

I'll check those shader, I just didn't knew where to look for them. Thanks for the hints ! I'll maybe take the cha

[2020-04-27 08:22] atteneder commented on #72
Take a look at this:
https://github.com/atteneder/glTFast/blob/e31ea599987621337f1a98a4198a7865907d985f/Runtime/Scripts/StandardShaderHelper.cs#L72

You might prefer the "Fade" Transparency mode for your use-case. For that you need an similar, but adjusted function.

[2020-04-27 13:24] Merichbier commented on #72
Good point I'll investiguate that thanks !

[2020-04-29 06:20] mikejurka opened #74 "glTF Sample Model (GearboxAssy) doesn't render correctly"
Steps to reproduce:
1. Clone the glTF samples repo (https://github.com/KhronosGroup/glTF-Sample-Models)
2. Clone https://github.com/atteneder/glTFastDemo
3. In the demo viewer, load "file:///[..base path....]glTF-Sample-Models/2.0/GearboxAssy/glTF-Draco/GearboxAssy.gltf"
You will see that it looks different from the regular GearboxAssy model.

Note: loading the gltf model using Draco in https://gl

[2020-04-29 06:23] mikejurka commented on #74
![Screen Shot 2020-04-28 at 11 22 53 PM](https://user-images.githubusercontent.com/440407/80566172-3500a580-89a7-11ea-9519-088fdfa5fa56.png)
![Screen Shot 2020-04-28 at 11 22 47 PM](https://user-images.githubusercontent.com/440407/80566178-3762ff80-89a7-11ea-961e-5f3ef62ae1cc.png)

[2020-04-29 09:11] atteneder opened #75 "Black/incorrect shading on glTFs with mesh quantization"
Quantized meshes have high amplitude vertex positions and counter-acting low node scale values.

The shader used for the built-in engine sometimes lacks the precision for this and flips to either complete black or extremely bright colors (depending on platform/version).

You can easily spot this issue by trying to scale up the fault object until the colors are correct again.

Not sure how to solve

[2020-04-29 17:51] atteneder commented on #67
Fixed in 1.0.1

[2020-04-29 17:51] #67 closed

[2020-04-29 17:52] atteneder commented on #69
Added in 1.0.1

[2020-04-29 17:52] #69 closed

[2020-04-29 17:56] atteneder commented on #74
Cannot reproduce!

Some weeks/months ago I adressed this bug by changing DracoUnity, so that it inverts one axis in order to make a glTF to Unity space conversoin.

Please try to update your [DracoUnity](https://gitlab.com/atteneder/DracoUnity) package and see if it works afterwards.

[2020-04-29 17:56] #74 closed

[2020-04-29 18:20] mikejurka commented on #74
Thanks!!! I'll make sure i upgrade my dracounity version.

[2020-05-27 23:41] atteneder opened #77 "Vertex colors don't work with Unlit shading"
yup, true

[2020-05-28 19:56] #77 closed

[2020-06-04 08:55] tufeixp opened #78 "Color missing"
![image](https://user-images.githubusercontent.com/11953709/83736369-20898a00-a684-11ea-9360-3be11caf3a4d.png)

using:
https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/Buggy/glTF-Draco

[2020-06-04 09:36] atteneder commented on #78
Hi,
thanks for reporting.
Can you provide some more information:
- Which operating system?
- Unity version?
- Which rendering backend (built-in, URP, HDRP) ?
- Details about the material (look at the inspector)

Thanks

[2020-06-04 10:20] tufeixp commented on #78
Windows 10 Editor mode
Unity 2019.3.5f1
build-tin
about the material: color in yellow, without uv map.

[2020-06-17 11:33] blackbird-91 opened #79 "Unable to load files with some special characters"
When a glb file has a '+' character in it, like "file_a + file_b.glb", the co-routine to load the file fails to read the file. Since windows and mac allows some special characters in filenames, I can't have control on the file names themselves. Is there a way to fix this issue?

[code]

[2020-06-18 19:57] atteneder commented on #79
Hi,

sorry for the late answer. glTFast uses regular UnityWebRequest under the hood. Everything they can load, glTFast can load. A quick workaround is to escape the `+` like this:

`url = url.Replace("+","%2B");`

This worked here also on local paths (starting with `file://`). There's also the more generic [`UnityWebRequest.EscapeURL`](https://docs.unity3d.com/ScriptReference/Networking.UnityWebRe

[2020-06-18 20:21] atteneder commented on #79
Regarding internal URIs, the way I interpret the [glTF URI specification](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#uris) I think it's not required to support special characters, but optional. Thus any content-creator creating such URIs has to be aware that his files won't be widely portable.

[2020-07-29 10:06] p-skakun commented on #66
Hi, Andreas

It seems like there is no convenient way to override IMaterialGenerator in GltFast script. Is there a good reason not to add it as the constructor parameter(like for download provider and defer agent)?
If no, could you extend the GltFast constructor and GltfAssetBase.Load method in the next release, please? Or I could submit an appropriate pull request if this works for you.

[2020-07-31 07:57] atteneder commented on #66
Hi @p-skakun !
I created the IMaterialGenerator abstraction with other shaders (esp. URP and HDRP) in mind, but didn't get that far as of now. But it definitely needs to be exposed!

A PR would be highly appreciated, otherwise I'll eventually implement this down the road in fall.

[2020-09-04 01:07] FreakTheMighty opened #81 "Load from byte array"
Is it possible to load a glb from a byte array rather than using a url? I need to extract the bytes from a larger file before generating the glb.

[2020-09-04 06:13] p-skakun commented on #81
@FreakTheMighty We used custom `IDownloadProvider` implementation for such case.
It accepts byte array as a constructor parameter and `Request` method just returns `IDownload` implementation with filled `data` field.

[2020-09-04 10:31] atteneder commented on #81
Hi,

@p-skakun already provided a great answer that I'd support.

Since this question pops up repeatedly I'm considering

- Providing a simpler interface (maybe IDownloadProvider is too much for some)
- Document it better (FAQ or similar)

Anyways, I'm always open to inputs.

Thanks!

[2020-09-04 14:14] FreakTheMighty commented on #81
Thanks @p-skakun @atteneder , let me give that interface a try and see if I have any thoughts on improvements.

[2020-09-10 15:28] FreakTheMighty commented on #81
So I got it working using the interfaces. Agreed, that it feels a bit clunky. I wonder, could we have something like [this](https://github.com/atteneder/glTFast/blob/a83c230168b0caa74194ac772ecbb747d035ca93/Runtime/Scripts/GltFast.cs#L670) become public function? It would be nice for `url` to be optional. I ended up passing in a dummy https://example.com.

[2020-09-11 07:18] atteneder commented on #81
That seems doable! I'll check it soon and change it.
Thanks for your input!

[2020-09-11 14:21] FreakTheMighty commented on #81
Thank you for this library! My initial tests show it to be much more performant than the one built into MRTK for our use case. I'm looking forward to doing more testing with it.

[2020-09-12 12:30] pampanelson opened #83 "unity 2018.2.21 import package errors"
An error occurred while resolving packages:
  Project has invalid dependencies:
    com.atteneder.draco: Version is invalid.  Expected a pattern like 'x.x.x[-prerelease]', got 'https://gitlab.com/atteneder/DracoUnity.git' instead.
    com.atteneder.gltfast: Version is invalid.  Expected a pattern like 'x.x.x[-prerelease]', got 'https://github.com/atteneder/glTFast.git' instead.

here is the manife

[2020-09-12 19:22] atteneder commented on #83
Thanks for reporting!

Note: Since releasing version glTFast 2.0.0 a few days ago the minimum required Unity version is 2019.3! If you want to use an older version of Unity (up until 2018.2), use the branch [`gltfast-1`](https://github.com/atteneder/glTFast/tree/gltfast-1)

I reproduced it successfully and this is a Unity Bug. Upgrading to 2018.4 resolves the issue! You have to use the [`gltfast-1

[2020-09-12 19:22] #83 closed

[2020-09-17 02:20] camnewnham opened #84 "Draco not recognized in 2.0.0"
I'm getting the error `DracoUnity package needs to be installed in order to support glTF extension KHR_draco_mesh_compression` when following the instructions to install this library and subsequently Draco support in Unity 2020.1.5f1.

From a glance at the code it looks like `DRACO_UNITY` is not getting defined properly. Digging a bit further I found that the asmdef for glTFastis asking for versio

[2020-09-17 09:39] atteneder commented on #84
Thanks for reporting!

Seems I messed up by not doing a DracoUnity Release :/

I just released DracoUnity 1.3.0 (with weight/joint support) to fix it.

Please test, let me know and close the issue in case it worked.

[2020-09-17 14:22] Sudar-shan opened #85 "Marking readability of mesh should be optional and exposed."
Hi andreas,
In PrimitiveDracoCreateContext.cs
mesh.UploadMeshData(true);

bool markNoLongerReadable should be exposed.
By default it can be true but this is needed if we want to create collision after the mesh is loaded.

Thanks.

[2020-09-17 14:25] atteneder commented on #85
Hi,

True, thanks for bringing it up.

I'll try to look into it soon. Feel free to make a PR if you need it faster.

regards

[2020-09-21 00:00] camnewnham commented on #84
Thanks for the prompt fix Andreas! I can confirm that this issue is resolved.

[2020-09-21 00:00] #84 closed

[2020-10-06 06:10] FriskyBishop opened #88 "WebGL error ArgumentNullException: Value cannot be null. Parameter name: shader"
Unity 2019.2.1
WebGL Build
glTFast 2.0.0

I get this error every time I try to build and run glTFast  on my aws bucket.

`ArgumentNullException: Value cannot be null. Parameter name: shader
`

The web demo works with my 3D model but when I build and try to load I get this error every time.
The Unity scene only contains a camera, light, and 1 glftAsset script

[2020-10-06 06:23] FriskyBishop commented on #88
i forgot the Materials and Shader Variants step in the setup -_-

[2020-10-06 07:09] atteneder commented on #88
Hi,

Thanks for reporting and great that you found a solution.

If you don't mind I'd like to reopen it until there's a more descriptive error message.

[2020-10-08 12:34] chrisssssy opened #90 "Custom Properties - Deserialize extras property in node.extras"
Hello @atteneder ,

it would be great to get notified whenever an gltf-file is loaded, which has an extras property in one of its node objects. Maybe fire an event when that happens and pass a reference to the corresponding unity gameobject/node and the extras data as json-string. Another way could be to create a monobehaviour and attach it to the gameobject and pass the json-string in there. Afte

[2020-10-09 08:26] atteneder commented on #90
Hi @chrisssssy ,

Reasonable feature request! The glTF spec says, it recommends `extras` to be an object with key-value pairs of strings, which in your case, it is. I use Unity's JsonUtility for parsing, so it wouldn't be very flexible (for other structures) anyways.

Not sure where to place it in the planning timeline though. I see other features (like stable KTX support or animation) more import

[2020-10-09 11:26] chrisssssy commented on #90
Hi @atteneder

thank you for your quick reply. I managed to implement it for nodes.extras myself. But of course the extras property could be used in every other property as well, like mesh.extras or in the root itself. Also, like you mentioned, in order to deserialize it with JsonUtility, i had to encode my metadata in another json-string and put it in an string variable in the extras property. I

[2020-10-09 13:26] atteneder commented on #90
Sure, create a PR!
Maybe I accept it right away. Worst case I use it as a starting point for a better solution.

[2020-10-13 17:57] andrewsmoc opened #91 "How to set the default Unlit material?"
When I modify the GltFast.cs class on line 1066:
This: primMaterials [m] = materialGenerator.GetPbrMetallicRoughnessMaterial ();

Because of this: materialGenerator.GetUnlitMaterial ();

I get the error:
error CS1061: 'IMaterialGenerator' does not contain a definition for 'GetUnlitMaterial' and no accessible extension method 'GetUnlitMaterial' accepting a first argument of type 'IMaterialGenerator

[2020-10-14 13:46] reubenkcoutinho commented on #41
Hi @atteneder, thanks for making this plugin!

[2020-10-15 21:34] atteneder commented on #91
Hi @andrewsmoc,

the best way to use unlit materials is to use the [unlit extension](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_unlit) in your glTF files. You'd have to look up your glTF-generator's/exporter's documentation to see how this is done.

In case you don't have control over the content, but want to override ALL materials to be unlit:
I'd do tha

[2020-10-15 21:55] atteneder commented on #41
Hi @reubenkcoutinho,
Thanks for your input. I was thinking about a very similar solution, but didn't find time yet.
I'll be making more planninig in the upcoming weeks and I'll be putting more time iinito glTFast soon, so stay tuned!

[2020-10-21 05:44] reubenkcoutinho commented on #26
Unity allows for [scoped pacakges](https://docs.unity3d.com/Manual/upm-scoped.html), so you could place them on your own registry

You could place the packages on Github and GitLab. They allow to create registries as well:
https://github.com/features/packages#pricing
https://docs.gitlab.com/ee/user/packages/package_registry/

[2020-10-21 07:18] atteneder commented on #26
Hi Reuben,

That's a great idea. glTFast is already in openupm, another scoped registry. I haven't had the time to try it (and add it to the documentation) though.

Feel free to give it a try and tell me if it worked:

https://openupm.com

Regards,
Andi

[2020-10-21 14:15] reubenkcoutinho commented on #26
I can confirm this work. Although users would need to know how to work with upm

[2020-10-21 17:11] atteneder commented on #26
@reubenkcoutinho Thanks for testing! I'd assume it's fairly easy to set it up, wasn't it?

A clear plus to me is that OpenUPM doesn't produce costs (compared to GitHub packages) and I like the community spirit.

I'll test it soon myself and if there's no showstopper, I consider this issue resolved.

[2020-10-21 20:33] atteneder opened #92 "Increase Performance via DOTS (Jobs / ECS / Burst)"
Unity's approach to improving performance is called [DOTS](https://unity.com/de/dots)

This will not just allow faster loading, it enables very small builds (especially interesting for WebGL).

## Job System

glTFast already takes advantage of C# Jobs and it really pays off! Still, things can always be improved.

## Burst

Some code could be improved by using the Burst compiler. Some early experim

[2020-10-22 01:47] reubenkcoutinho commented on #26
Hi Andi,

It was fairly easy. I didn't have any issues getting it going.

I'm working on a package that should make it easier for users to install it. I'll share that as soon as I have it going.

Cheers,
Reuben

[2020-10-22 05:57] reubenkcoutinho commented on #26
Hey Andi,

Check this out. I made an installer for glTFFast [here](https://github.com/reubenkcoutinho/glTFFastInstaller).

This should make it easy for anyone trying to install glTFFast.

This is my first time contributing to open source so I'm not sure I did anything incorrect (w.r.t license, mentions, etc)

[2020-10-22 11:10] atteneder commented on #26
Congratulations on your first open source project! 🥇

Making the install easier is indeed desirable. I'm not sure if adding another package is the best solution (since adding anther step kind of kills the purpose of saving another).

Nonetheless it's great input, Thanks!

Thinking out-of-the-box: Ideally users would just click a button on the project's site that opens Unity and installs everything

[2020-10-22 13:31] reubenkcoutinho commented on #26
Thanks for the feedback Andi. I've made this for developer who may not have come across using openupm-cli. Plus this also hopefully removes any dependencies for openupm-cli

[2020-10-22 21:38] vjleo commented on #92
Hi Thomas,
I have sent you an email with a suggestion for the `EntityInstantiator`
Hope it helps!

[2020-10-23 09:08] atteneder commented on #92
Hi @vjleo ,

That's a great starting point, thanks! Atm I've only glimpsed over it, but I'll give it a try soon.

DOTS, here we go :)

P.S.: I received an error from my email system last time I tried to reply to your email. Maybe check your domain/email server settings.
P.P.S.: My name's Andi, not Thomas ;)

[2020-10-23 09:10] atteneder commented on #92
@vjleo

Forgot: Consider publishing your work by forking this project! The benefit is that others can try/test it as well. I'm sure this is of interest.

[2020-10-23 18:39] atteneder commented on #26
I took the time to take a look at the topic of "making installing easier".

OpenUPM offers an experimental *package installer* feature. It automatically generates an installer package:

[KtxUnity Installer](https://package-installer.glitch.me/v1/installer/OpenUPM/com.atteneder.ktx?registry=https%3A%2F%2Fpackage.openupm.com)

I took the link from the [OpenUPM site of KtxUnity](https://openupm.com/p

[2020-10-23 18:39] #26 closed

[2020-10-23 21:36] juancarlosgermano commented on #92
Hi @atteneder, I made a fork, instead @vjleo.
If you can take a look, I'll appreciate.

Now I'm trying to convert GltFast.cs with: Job System and Burst Compiler.
I have tried run a Job in a JobComponentSystem to read a path.
I am converting part of GltFast and removing coroutines, and applying complete/execute on jobhandle instead of scheduling there.
My last issue was to get the material and gene

[2020-10-23 22:20] atteneder commented on #92
Please familiarize yourself with the concept of [pull requests](https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/about-pull-requests).

Prepare changes you want me to review thouroughly, send a PR (=pull request) and I'll review, give feedback and ideally merge it.

Thanks!

[2020-10-26 12:46] zkyf opened #93 "script files are not imported into Unity 2019.4.12f"
I downloaded the package and imported it to the project by double clicking the `.unitypackage` file, but there was nothing added to the project. The editor also tells me there is no script related to "gltf".
![image](https://user-images.githubusercontent.com/13307442/97173938-4c8cdf80-17cc-11eb-995c-57dafc8b2455.png)

[2020-10-26 13:30] juancarlosgermano commented on #92
Ok, I sent a pull request now.

https://github.com/atteneder/glTFast/pull/94

[2020-10-26 14:01] atteneder commented on #93
Hi @zkyf,

Thanks for reporting. Let's find out where it went off the rails for you.

It's normal that there was nothing added to the Assets folder, since the installer package removes itself after installation. What it does add is a scoped registry and the glTF package (see Project view under `Packages`).

Step by step:

1. Opening the installe gives you this import dialog:

<img width="462" alt=

[2020-10-26 14:31] atteneder opened #96 "Idea: Progressive Material Loading"
- Create/Instantiiate materials right after JSON parsing
- Assign textures/update materials as they load

Respect samplers while doing so

[2020-10-26 14:33] atteneder opened #97 "Unity 2020.2 Potentials"
2020.2's release logs have some interesting improvements to be looked at, namely:

- Graphics: Added: added Mesh.SetSubMeshes to set all submeshes in one go avoiding all kinds of corner cases when updating existing mesh
- Graphics: Added: Image encoders that use NativeArray as input/output added.
- Graphics: Improved documentation for Texture.allowThreadedTextureCreation
- WebGL: Added: Added "Cod

[2020-10-27 02:33] zkyf commented on #93
![image](https://user-images.githubusercontent.com/13307442/97249820-94991a00-183f-11eb-89e1-e091fdb07023.png)
![image](https://user-images.githubusercontent.com/13307442/97249829-9bc02800-183f-11eb-89f6-164b5dd50cea.png)
Thanks for reply! I have checked project setting and package manager and found they are here as your screenshots show. But still they seem dont exist in my project. I have tried

[2020-10-27 03:31] zkyf commented on #93
I switched back to legacy RP and the package works when I use it as a component for a gameobject. However when i use it in scripts with `using GLTFast`, Unity says it cannot find `GLTFast`.
![image](https://user-images.githubusercontent.com/13307442/97253767-f3629180-1847-11eb-9381-fab7f248d980.png)

[2020-10-27 11:13] atteneder commented on #93
HDRP is not supported at the moment. Still, you should be able to import glTFs (but they would end up having materials with non-working shaders). HDRP/URP support is on the TODO list though.

Do you use Assembly Definitions? Have you referenced glTFast as dependency?

[2020-10-27 14:20] waseemkhan1989 opened #98 "Attaching collider to the imported model"
Please excuse me for this naïve question. I can successfully upload a draco compressed glb file through this awesome library but the problem is that how can I attach collider to the whole model?  Following is the code that I am using for importing the model.

`            var model = gameObject.AddComponent<GLTFast.GltfAsset>();
            model.url = path;
            ResetWrapper();

[2020-10-27 14:58] atteneder commented on #98
Hi,

That's an appropriate question that's been asked before.

The glTF spec does not say anything about physics colliders.

glTFast's default behaviour is to attach no colliders to save resources (some don't use physics, so it's opt-in). Also, this is highly individual. Some models come with additional (lower poly) collider meshes just for physics. glTF wouldn't know how to deal with those.

Ther

[2020-10-28 04:21] zkyf commented on #93
finally got this work! really thanks! 😄

[2020-10-28 04:21] #93 closed

[2020-10-28 15:30] waseemkhan1989 commented on #55
@atteneder Sorry for this inconvenience. I read the whole thread and also the links that you mentioned as well but still could not figure out how to solve the following problem.
![GLTFastIssue](https://user-images.githubusercontent.com/25552247/97456786-76afe000-1939-11eb-8afb-d90b944eb9c4.PNG)

The code that I am using for downloading glb file from static link to a location on Android on Quest wi

[2020-10-28 15:39] atteneder commented on #55
reading my last response here... sorry, I must've lost my temper for the moment :)

The path you try to load is invalid! The `file://` is supposed to be at the very beginning
[code]

I also doubt that this new path is valid. You have to find out where your files are first!

[code]

[2020-10-30 10:17] waseemkhan1989 commented on #55
@atteneder I am again sorry for asking such dumb questions but as I am new to this field so please excuse me:)

After spending 1.5 days, I managed to import the models into VR.

A comment for what I understood so far:
If I understand correctly then UnityWebRequest is already implemented within GLTFast and I just have to give the static link(URL) to the library as input. Previously, as mentioned in

[2020-10-30 10:25] waseemkhan1989 commented on #98
Thanks for your prompt reply. I highly appreciate it. I looked at the source files such as IInstantiator and other source files that uses this interface.  As I do not have experience with interfaces. I will look into the library again and will try to figure out how to add collider through custom implementation of IInstantiator and then will get back to you. Thanks

[2020-10-30 10:47] waseemkhan1989 opened #99 "Some 3D objects looks deformed/destroyed in the imported model"
Hi!

Now, I can successfully import glb files on Quest but some objects in my model looks deformed or destroyed. Here is an example of a car. The image is the original one

![OriginalHall](https://user-images.githubusercontent.com/25552247/97696264-9d8b2500-1aa5-11eb-908b-1b23f8f25324.PNG)

This is the one imported through GLTFast on Quest:

![com Uraan TopexGLTFast-20201030-114028](https://user-i

[2020-10-30 13:36] atteneder commented on #55
[UnityWebRequst](https://docs.unity3d.com/Manual/UnityWebRequest.html) is provided by Unity and just used by glTF as a dependency. I mention that so you can read their docs and figure it out (there's tons of threads out there regarding loading files with it.

You have to give it the path or URL to the glTF asset (.glb or .gltf file). Paths have to be prefixed with `file://` on certain platforms (a

[2020-10-30 13:39] atteneder commented on #99
Thanks for reporting.

Very strange :/

The original image is not from Unity/glTFast, right? From what is it then?

Can you provide the model?

You can also cross-check with alternative glTF viewers like [this great one](https://gltf-viewer.donmccurdy.com/).

[2020-11-02 17:37] BlocInBloc opened #100 "CombineMeshes crash"
Hi !

Unity Editor (2019.4.13f1) crash when we call  "mesh.CombineMeshes(CombineInstance[])" on imported objects with GltFast.

Unity editor logs
[code]

The script to reproduce the crash
[code]

[2020-11-03 13:25] atteneder commented on #100
Sorry for the crash and the late reply.

This may be related to #86
I'd have to test, but feel free to try it right away.

[2020-11-04 07:51] BlocInBloc commented on #100
We tried to force
`mesh.UploadMeshData(false);`
it still crashes with same editor logs.

[2020-11-04 09:34] waseemkhan1989 commented on #99
@atteneder Sorry for late replying. I was busy in moving to a new city.

Please find attached the model.

[DWG1_Halle.zip](https://github.com/atteneder/glTFast/files/5486847/DWG1_Halle.zip)

There are also other models with which I am facing the same problem with GLTFast.
Point to be noted! with Unity GLTF library, I am not facing this problem.

Any solution?

[2020-11-10 02:01] sarangborude opened #101 "Model is not visible in ios"
I am trying to load a model that I download from a server.
I am loading it like this
`
        GameObject go = new GameObject(nameOfObject);

        var gltf = go.AddComponent<GltfAsset>();

        gltf.Load("file://" + fileInfo.FullName);  // this is the path of the file, on iOS I am using Application.persistantDataPath and on unity i am using Application.DataPath.
`

This code is working fine

[2020-11-10 02:04] sarangborude commented on #101
I also added a callback on gltf.onLoadComplete

it gets called when i run in the unity editor but fails on iOS.

[2020-11-10 02:40] sarangborude commented on #101
Problem solved. I just had to read the github readme.
I just had to read the Material and Shader Variants section.
Preloading the shader in the iOS build solved. the problem.

[2020-11-10 02:40] #101 closed

[2020-11-10 04:16] anupamdas2012 opened #102 "error on IOS: ArgumentNullException: Value cannot be null. Parameter name: shader"
hi, im trying to load duck.gltf from your minimal sample. Works great on desktop/ editor.
when i run the app on IOS (Ipad), I get this error:

error on IOS: ArgumentNullException: Value cannot be null. Parameter name: shader

I have tried a number of other objects and none seem to work on IOS but they all work on desktop.

Am I setting up something wrong? Please advise?

[2020-11-10 11:27] atteneder commented on #102
Hi,

Please read the section [Materials and Shader Variants](https://github.com/atteneder/glTFast#materials-and-shader-variants) of the [README](https://github.com/atteneder/glTFast) very carefully.

Regards

[2020-11-10 11:27] #102 closed

[2020-11-10 12:02] atteneder commented on #101
Hi @sarangborude ,

I'm glad you figured it out! I'll improve the error message to avoid future confusion.

[2020-11-10 16:48] BlocInBloc commented on #100
We found a solution, we loop over the submesh in our combine function.
It doesn't crash anymore and it works.
Thank you for your help !

[2020-11-11 07:06] waseemkhan1989 opened #103 "To record Loading time of glb file"
Hi,

I am importing a glb file into my scene as follows:

` var model = gameObject.AddComponent<GLTFast.GltfAsset>();
model.url = "https://dummy.com/model.glb";
ResetWrapper();
model.transform.SetParent(wrapper.transform);`

To determine the loading efficiency of GLTFast, I would like to record how much time it takes:

1. To downloading a glb file from remote server to a local location(on hard dri

[2020-11-11 11:14] atteneder commented on #103
Hi @waseemkhan1989 ,

That's a good idea. Performance profiling is something I pay close attention to.

When I started out I had code that made A/B comparisons with UnityGLTF. glTFast was clearly faster at some point and I stopped maintaining this comparison projects to focus on improving glTFast itself.

After that I usually did look at the [Unity Profiler](https://docs.unity3d.com/Manual/Profile

[2020-11-11 11:14] #103 closed

[2020-11-11 12:31] waseemkhan1989 commented on #103
@atteneder Thanks for replying. Currently, I am also doing the same thing i.e. the performance comparison of UnityGLTF and GLTFast on various models. Can I have that code where you made comparison  with UnityGLTF in terms of load timings?

I will look into the gltFastDemo for calculating loading time. For a fair comparison, I am also considering some factors like in Unity GLTF, they have some para

[2020-11-11 12:49] atteneder commented on #103
I actually re-used the scripts from the glTFastDemo within the UnityGLTF project with the `UNITY_GLTF` scripting define on (search for it). I'm almost certain, that this `UNITY_GLTF` mode is broken at the moment. If you find time to fix it, please share it with me. I'd be interested in up-to-date comparisons as well.

On by default in glTFast (cannot be disabled)

It's configurable. Take a look at

[2020-11-12 09:57] Spoon2311 opened #104 "Question: Tested on Hololens 2"
Hey Great tool you wrote here!

I tested it on the HL2 and it sadly didn't work, but on the editor it does.
Have you had any experience with it or are there any changes I'd need to make to make it work?

Thanks for the answer.

[2020-11-12 10:07] atteneder commented on #104
Hi @Spoon2311,

Thanks for reaching out.

Unfortunately I don't have the hardware to test. I think somebody once wrote me they tested it on Hololens 1, but I'm not sure.

Can this be emulated (by me) somehow? Can you reproduce in an emulator?

Can you give me more informations (exact error message(s) and the models you try to load) ?

Can you load models from a HTTP server (not locally) that have

[2020-11-12 14:00] Spoon2311 commented on #104
Ahhh ok.
There should be the possibility to emulate HL2, some documentation can be found [here](https://docs.microsoft.com/en-us/windows/mixed-reality/develop/platform-capabilities-and-apis/using-the-hololens-emulator).

Concerning the errors I attached 2 Log files, one of the compressed and one of the uncompressed .glb file.
[UnityPlayer_Log_Uncompressed.log](https://github.com/atteneder/glTFast/

[2020-11-12 16:41] JSWorkspace1 commented on #104
In the Uncompressed.log you have the Excpection

[code]
It's the same exception as Issue #102  for example
To fix this Please read the section Materials and Shader Variants of the README very carefully.

[2020-11-12 18:36] kircher1 commented on #104
Looking at the Draco package, it doesn't have a DLL for ARM64 UWP, so the plugin wouldn't work on HL2. +1 to generating Draco DLLs for all flavors of UWP (x86/x64/ARM/ARM64).

[2020-11-12 19:02] Spoon2311 commented on #104
@JSWorkspace1 Thanks for the input.
Yeah I installed the Draco 3D Data Compression Unity Package. In the Editor everything works totally fine, independend of compressed or uncompressed data.
But I'll change the Shader Settings and give it another try.

@kircher1 I guess also then from +1 such that we can have compressed data 👍

[2020-11-12 19:20] Spoon2311 commented on #104
@JSWorkspace1 Just gave it a try after following the steps in Materials and Shaders.
Sadly still didn't work an the Log messages seems to be the same, except for the part:
`"ArgumentNullException: Value cannot be null.
Parameter name: shader"`

[2020-11-12 21:49] atteneder commented on #104
Cool, you figured it out! Neither DracoUnity nor KtxUnity includes binaries for UWP ARM64 atm....that's the problem. I'll look if those are easy to build.

Regarding missing shaders:
It should work if you always include shaders starting with `glTF...`. To do so, add them to the list "Always Included Shaders" under *Project Settings* -> *Graphics* (The build size/time will be bigger though).

[2020-11-12 23:24] atteneder commented on #104
I'll try to provide native libs for HoloLens soon. I'd appreciate if you could help testing. You'd have to install a test version of DracoUnity from GIT URL (I'll provide).

Might have to make some C/C++ changes according to the [documentation](https://docs.unity3d.com/2020.2/Documentation/Manual/windowsstore-plugins-il2cpp.html).

See <https://github.com/atteneder/KTX-Software-Unity/pull/5> for n

[2020-11-12 23:42] atteneder commented on #104
Interesting: HoloLens 1 support would require x86 32-bit libraries...I might consider doinig those as well.

[2020-11-13 10:57] Spoon2311 commented on #104
@atteneder Thanks for the Input.
So I had 3 shaders that I was able to add, adding all 3 Unity gave me a failed built, because the `glTF/PbrMetallicRoughness`-Shader was too large.
Using the other 3 Shaders it gave me the following error 3 times, but with a successful build:
`TLS Allocator ALLOC_TEMP_THREAD, underlying allocator ALLOC_TEMP_THREAD has unfreed allocations, size 648856
0x00007FF6B0EC

[2020-11-13 11:42] atteneder commented on #104
The error message indicates a Unity Bug. At least I cannot make anything out of it. Feel free to report it to Unity.

Regarding shaders I can't do more than point you to [Materials and Shader Variants](https://github.com/atteneder/glTFast#materials-and-shader-variants) in the documentation. It'll make sure the exact shaders (variants) you need are present and the build size stays low enough.

I ho

[2020-11-13 12:13] atteneder commented on #104
@Spoon2311 Please install DracoUnity from this GIT URL:

`git@github.com:atteneder/DracoUnity.git#24c171d81e404402335e56f2e95115b8706df444`

This is a pre-release of 1.4.0 that shoud work with HoloLens. Plese test draco compressed glTFs with it.

Thanks!

[2020-11-13 22:41] atteneder opened #105 "Customizable Mesh read access"
Quote from the [documentation](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/glTFast.md#readable-mesh-data):

A more flexible solution is to allow scripters to discard/keep mesh data based on a per-primitive evaluation they can inject.

use-case:
Create physics MeshCollider only on meshes with certain criteria (name prefix or certain `extra` meta data). Keep those in memory.

Ide

[2020-11-13 23:37] camnewnham commented on #104
Hi folks,
Just came across this - I have tested this library and DracoUnity and found working on HoloLens 2. There's a PR for it open here: https://gitlab.com/atteneder/DracoUnity/-/merge_requests/3. The notes for building the library for UWP are in the PR - I had to supress some warnings which can probably be automated but cmake is out of my area of expertise!

No changes were required on the glT

[2020-11-13 23:44] camnewnham commented on #104
Ah - it looks like you've moved the repo back to github from gitlab @atteneder, should github.com/atteneder/DracoUnity that be considered the primary repo now?

[2020-11-13 23:46] atteneder commented on #104
@camnewnham Thanks. Sorry for not responding on gitlab...Seems I missed the notification.

Yes, gitlab was only there to avoid the GIT LFS limit on github. Nowadays OpenUPM covers most traffic (plus I pay github).

Sorry about that confusion! I'll clear it up (and keep both up to date in the meantime)

Did the libs work for you without `-DCMAKE_SYSTEM_NAME:String=WindowsStore` and `-DCMAKE_SYSTEM_

[2020-11-13 23:48] atteneder commented on #104
@camnewnham Or in other words: I did not use those parameters (only set the arch via `-A ARM64`). Did you successfully test my native libraries or your builds?

[2020-11-14 01:40] #91 closed

[2020-11-14 01:42] atteneder commented on #13
fixed in 2.0.0

[2020-11-14 01:42] #13 closed

[2020-11-14 01:43] atteneder commented on #36
fixed in 2.0.0

[2020-11-14 01:43] #36 closed

[2020-11-14 01:45] atteneder commented on #60
fwiw: Install latest version via OpenUPM (see README.md) and you should be fine!

[2020-11-14 01:45] #60 closed

[2020-11-14 01:49] atteneder commented on #66
Hi @p-skakun ,

did you manage to write your own material generator that does use MaterialPropertyBlocks? Would you share your changes?

[2020-11-14 01:50] atteneder commented on #72
Fixed via #89

[2020-11-14 01:50] #72 closed

[2020-11-14 04:29] camnewnham commented on #104
I haven't tested them (only just came across this post now) - it could be a while before I can do so but I'll update here when I can, hopefully another can test in the mean time!

[2020-11-14 21:55] atteneder commented on #104
@Spoon2311 Would be great if you can test!

I presume not using the WindowsStore toolchain is not a problem, since we don't use any Windows related API anyways.

[2020-11-15 02:20] atteneder commented on #78
I just tested on macOS, Unity 2019.4.13f1; built-in.

Here's what it looks like:
<img width="1215" alt="grafik" src="https://user-images.githubusercontent.com/2593014/99161265-db688a00-26f0-11eb-957f-dffe00adf918.png">

Import seems fine.
Your lighting seems strange (completely black shadows). Please make sure your lighting was generated (in Lightinig Settings). To ensure this is not a problem, mo

[2020-11-15 14:31] #66 closed

[2020-11-15 14:34] atteneder commented on #85
fixed in upcoming release

[2020-11-15 14:34] #85 closed

[2020-11-15 14:43] atteneder commented on #98
Re-reading your initial post: You have to add a collider to each individual glTF Primitive (GameObject with a MeshFilter/Renderer component).

To be able to do that, use a recent development version and look up [Readable Mesh Data](https://github.com/atteneder/glTFast/blob/main/Documentation~/glTFast.md#readable-mesh-data).

[2020-11-15 14:43] #98 closed

[2020-11-15 20:30] #79 closed

[2020-11-15 20:30] #81 closed

[2020-11-16 01:13] atteneder commented on #99
What I observed so far:

I'm using Unity's Matrix4x4.rotation and Matrix4x4.lossyScale to decompose the Matrix. This algorithm seem to break if the scale of the object was negative (in some/all axises?).

One workaround is to not use negative scale.

I'll have to investigate if other implementations are more robust.

[2020-11-16 01:53] waseemkhan1989 commented on #103
I searched the whole UnityGLTF project but I could not find out `UNITY_GLTF`  within the UnityGLTF project.

Regarding the time calculation, I am calling UWR by myself for downloading a file from remote server. Once the file is downloaded on local location on Android(Quest) then I am calling GLTFast/UnityGLTF importer to import the model into the scene. The reason is, I want to rule out the networ

[2020-11-16 17:15] atteneder commented on #99
fix is in the making!

@waseemkhan1989 Would you mind it if I share screenshots of your model for educational purpos in my blog?

[2020-11-16 17:55] waseemkhan1989 commented on #99
@atteneder  Yeah sure:)

[2020-11-16 17:59] Spoon2311 commented on #104
@atteneder Just tried to install the preview, sadly it didn't work.
Could it be that the link changed or that I can download it from somewhere else?

[2020-11-16 18:07] waseemkhan1989 commented on #103
I compared the loading time of GLTFast(v2.1.0) with the UnityGLTF(v1.0.1). GLTFast and UnityGLTF has the loading speed ratio of around 2:1, means GLTFast is twice as fast as UnityGLTF on Oculus Quest.

I will update the comparison with the new update of UnityGLTF soon.

[2020-11-16 19:28] atteneder commented on #104
No, it should work. Use this **exact** GIT link (notice it's Git**Hub** and not GitLab anymore):

`git@github.com:atteneder/DracoUnity.git#7c2095e1494fb10d303f1c808ecb835d5be937b1`

Alternatively click the `Clone` button and then `Download ZIP` at this site:
<https://github.com/atteneder/DracoUnity/tree/uwp_and_apple_silicon>

hth

[2020-11-16 19:31] atteneder commented on #103
The difference depends heavily on the content, but yes...2x speedup is within my measures as well.

And it'll get even better over time with DOTS support (#92 ), so stay tuned.

[2020-11-16 19:31] #99 closed

[2020-11-16 19:57] #88 closed

[2020-11-17 11:49] atteneder opened #106 "Extension EXT_meshopt_compression"
Add support for the vendor extension [EXT_meshopt_compression](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Vendor/EXT_meshopt_compression)

See also: [meshoptimizer / gltfpack](https://github.com/zeux/meshoptimizer)

[2020-11-17 12:05] atteneder opened #107 "Extension EXT_mesh_gpu_instancing"
Add support for the vendor extension [EXT_mesh_gpu_instancing](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Vendor/EXT_mesh_gpu_instancing)

[2020-11-17 12:07] atteneder opened #108 "Extension EXT_lights_image_based"
Add support for the vendor extension [EXT_lights_image_based](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Vendor/EXT_lights_image_based)

[2020-11-18 11:05] waseemkhan1989 opened #109 "Glb loading progress bar"
Hi,

Its a little bit urgent so plz help @atteneder , I would highly appreciate. For downloading from remote server to local location, I used UWR.downloadProgress to track the download progress. I am only adding the component of `GltfAsset` in my application to load a file from local location into my scene as described in `Readme.` I am assuming that the downloading from remote server to local loc

[2020-11-18 11:16] atteneder commented on #109
Thanks for the input, good suggestion! (loosely relates to #3)

Making a good progress property is not trivial though. You'd have to consider:

- Main glTF(-binary) Download
- JSON parsing
- Buffer Downloads
- Buffer View imports
- Textures
  - Downloads
  - Decode/Transcode
  - GPU upload
- Instantiation (probably best as a separate progress)

Calculating a good progress involves making predictio

[2020-11-18 13:59] DerrickBarra commented on #92
@atteneder glad to see this being poked at, I just wanted to mention that GLTFast should also keep a normal coroutine/single-threaded loading solution as well for compatibility with Unity WebGL (no multi-threading support and can't use while loops).

[2020-11-18 14:04] atteneder commented on #92
WebGL is an important platform for glTF(ast). The reduced build size of glTFast (compared to UnityGLTF) was a good reason to pursue this project.

So stay assured that it will stay compatible. I'm not sure if it will be via Coroutines though and Web multi-threading (hopefully) will become a thing some day.

[2020-11-18 16:26] waseemkhan1989 commented on #109
Thanks for your prompt reply. Due to my very little experience in C#, I would like to have some more details to accomplish this enhancement as I can't wait and have to accomplish this task today.

 **Main glTF(-binary) Download:** Are you here referring to the UWR call in `DefaultDownloadProvider` script in the range of lines (45-48) i.e.

  `        protected virtual void Init(Uri url) {

[2020-11-18 17:18] atteneder commented on #109
@waseemkhan1989 I'm not sure I can give you all tools required to finish this, but I'll give you some starting points:

If you download glTFast (either via Clone -> Download ZIP or cloning the repository), you can add it to your project via local path in the package manager (any pre-installed glTFast version gets replaced/override). You then can edit and develop glTFast. If you plan to make pull r

[2020-11-18 18:18] waseemkhan1989 commented on #109
Hi,
Thanks for your reply. I think, if I download GLTFast and put it in Assets folder then it will also work and may be I can access these classes like `AwaitableDownload`(where you call UWR) in my main application.

You did not confirm/tell the location of Main glTF(-binary) Download, JSON parsing, Buffer Downloads, Buffer View imports, Textures( Downloads, Decode/Transcode, GPU upload) and insta

[2020-11-18 18:21] atteneder commented on #109
Why not as suggested? You'll still be able to access ALL scripts (look under `Packages` in the project view) and won't have conflicts with the OpenUPM package.

[2020-11-18 18:25] waseemkhan1989 commented on #109
Ok sure, I just mentioned it for my own understanding. Thanks for the quick feedback. And what about the other part of the question?

[2020-11-18 19:29] atteneder commented on #109
Alright. Trust me, it works like a charm :)

Regarding the details: No offence, but I'd like you to investigate on your own first. If you cannot make anything out of it, chances are it won't make a difference if I direct you. Thanks for understanding.

[2020-11-24 07:10] anupamdas2012 commented on #107
this is AWSOME. so you are saying meshes "instanced" via gltfpack for example will work now? I must try this!

[2020-11-24 07:41] anupamdas2012 commented on #107
Hi, i tried to load a glb file with instancing support and im getting an error "Required glTF extension EXT_mesh_gpu_instancing is not supported!" . I downloaded the package "Install-com.atteneder.gltfast-2.2.0.unitypackage". Is there another repo with a more up-to-date package?

[2020-11-24 08:14] atteneder commented on #107
Hi,

Thanks for your feedback. Unfortunately this is not supported at the moment.

Feel free to provide a sample glTF file for testing and stay subscribed to this issue to get notified once this gets supported.

[2020-11-24 16:12] JSWorkspace1 commented on #100
@BlocInBloc can you elaborate on your solution or post a code snippet? I have the same problem since i updated to version 2.2

[2020-11-24 16:14] atteneder commented on #100
Have you gone through [Readable Mesh Data](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/glTFast.md#readable-mesh-data) in the docs?

[2020-11-24 16:20] JSWorkspace1 commented on #100
Yes i even debugged the #if GLTFAST_KEEP_MESH_DATA  part and it definitely goes in there but it still crashes on    mesh.CombineMeshes(combine);

[2020-11-24 16:22] atteneder commented on #100
Sorry to hear that. I'll reopen the issue and look into it.

Can you provide a test file plus the code snippet that fails?

[2020-11-24 17:01] JSWorkspace1 commented on #100
code is basically the same as  @BlocInBloc   so i am interested in his solution.
[code]

Here the full Class and an example gltf Object that i used

[FileAndCode.zip](https://github.com/atteneder/glTFast/files/5591436/FileAndCode.zip)

[2020-11-24 17:05] anupamdas2012 commented on #107
sure, here is some stuff which im sure you are aware of. Ive been using gltfpack which supports instanced geometry. The uninstanced gltf/glb file is processed and then via EXT_Mesh_gpu_instancing, a new instanced glb file is generated. Ive been using bablyonJS and works great with that. Much faster than the original mesh and its great for CAD data where there are lots of instances. Now to get this

[2020-11-24 20:05] atteneder opened #110 "Extension KHR_materials_sheen"
Add support for [KHR_materials_sheen](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_sheen)

[2020-11-24 20:07] atteneder opened #111 "Extension KHR_materials_transmission"
Add support for [KHR_materials_transmission](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_transmission)

[2020-11-24 20:08] atteneder opened #112 "Extension KHR_materials_variants"
Add support for extension [KHR_materials_variants](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_materials_variants)

[2020-11-25 18:39] Vaxela opened #113 "Plugins: Couldn't open Draco"
Hi I try to install GLTF fast on unity 2018.4.9f1

The first error :
Assembly has reference to non-existent assembly 'Ktx' (Packages/com.atteneder.gltfast/Runtime/Scripts/glTFast.asmdef)
When I click on it , unity seems to fix it

But I have this issue

Plugins: Couldn't open /Users/Vaxela/Documents/syslorprojects/unity/ar.implantation/Library/PackageCache/com.atteneder.draco@00d28a7cbf4b016d0b017

[2020-11-29 16:55] dudziakl opened #114 "Hide glTF model while loaded"
Hi @atteneder, many thanks for this great plugin!

I would like to know if there is a way to hide the the model while it is loaded? I would like to load bigger model in the background and then show part of it without displaying full model. When I disable the game object that have script GltfAsset.cs then the coroutine that is loading glTF model is not working. I cannot disable the Renderer because

[2020-11-29 19:04] atteneder commented on #114
Hi @dudziakl,

There's no straightforward way for your exact use case, but the instantiation can be customized to your way.

1. Create a custom implementation of `IInstantiator` ( inspect `GameObjectInstantiator`, as it's the default implementation). You can disable all renderers in there you don't require or don't instantiate them at all.
2. Create a custom version/derive from `GltfAsset` and pas

[2020-12-02 17:30] dudziakl commented on #114
Many thanks for the instruction Andi! It solved my problem.

[2020-12-02 17:30] #114 closed

[2020-12-02 17:38] dudziakl opened #115 "JobTempAlloc has allocations that are more than X frames old"
@atteneder once again I need your help :)
My model is loading fine and everything looks good but I have few warnings for each mesh inside of one glTF model. What I'm doing wrong? Should I ignore it?

Unity.Collections.LowLevel.Unsafe.UnsafeUtility:Free(Void*, Allocator)
Unity.Collections.NativeArray`1:Deallocate()
Unity.Collections.NativeArray`1:Dispose()
GLTFast.VertexBufferConfig`1:Dispose() (at

[2020-12-02 19:37] atteneder commented on #114
Great to hear!

Let me know if you have suggestions regarding improving the interface.

[2020-12-02 19:39] atteneder commented on #115
I'll have to make temporary buffer allocation safer by allocating them permanent. This might be a bit slower, but will resolve those warnings (and potential memory leaks/corruption).

[2020-12-02 21:28] Bersaelor opened #116 ""Invalid matrix on node 2" error when importing working file"
Dear @atteneder , thank you for your work on this importer tool.

I've also been looking into [The khronos framework](https://github.com/KhronosGroup/UnityGLTF) but yours looks more promising.

Many of my models successfully import, yet with one model I get the following error:

[code]

Now the object imports fine into other gltf programs, so the issue must be non-fatal, would it be possible to ma

[2020-12-02 21:41] #41 closed

[2020-12-02 21:41] #116 closed

[2020-12-02 21:43] atteneder commented on #116
Please pull the main branch and give it a spin!

Feel free to reach out to me if you need sensitive data tested. I suggest to not upload it here and remove it.

[2020-12-02 21:43] Bersaelor commented on #116
Thanks @atteneder , you are quick indeed!

[2020-12-02 21:56] atteneder commented on #116
@Bersaelor No problemo :)
Feel free to thank me by starring the project.
Thanks!

[2020-12-03 21:05] #115 closed

[2020-12-04 00:01] camnewnham commented on #104
In Unity 2020.1.16f1 I get an error adding the package using that verbatim URL:

[code]

I added the package with this URI:
`https://github.com/atteneder/DracoUnity.git#7c2095e1494fb10d303f1c808ecb835d5be937b1`

And tested with the glTFast commit: `https://github.com/atteneder/glTFast.git#9d7732462484b81002f4cf45a671db47929c5a47`

Works as expected in editor, but **does not** run on device in an A

[2020-12-04 12:38] atteneder commented on #113
Thanks for the report!

First issue: I've renamed that package, so I might have to fix this.

Second issue: How did you install glTFast? If you used a GIT URL, please make sure you have GIT LFS working.

I recommend reading the [Installing](https://github.com/atteneder/glTFast#installing) section of the readme and use the package installer from there.

[2020-12-04 12:43] atteneder commented on #104
Thanks for testing!

That's reasonable to presume. I'll re-build the binaries and prepare an updated test version.

[2020-12-04 14:07] atteneder commented on #104
Well, the build didn't succeed and I won't have access to a Windows machine until after the holidays :(

[2020-12-04 22:59] #42 closed

[2020-12-07 00:10] camnewnham commented on #104
No worries - from the log it looks like the cause is the same as I experienced: `error C4146: unary minus operator applied to unsigned type, result still unsigned`

Since I was building with VS I suppressed this warning as described:

I'm not sure whether the correct behaviour is to suppress these during the build process (can this be done with cmake?) or whether a change to the source is required

[2020-12-09 17:48] Vaxela commented on #113
Via the gitUrl

[2020-12-09 21:24] atteneder commented on #113
You can check whether the git clone worked (used LFS) by navigating to the path `Packages/com.atteneder.draco/Runtime/Plugins/x86_64/dracodec_unity.bundle/Contents/MacOS/dracodec_unity` in the Project view.
Right click it and choose `Reveal in Finder`. How big is the file? It should be ~900kB. If it is just 130 Bytes, you didn't have GIT LFS installed.

[2020-12-10 08:57] Vaxela commented on #113
Plugins: Couldn't open /Users/Vaxela/Documents/syslorprojects/unity/2020/ar.implantation/Library/PackageCache/com.atteneder.draco@00d28a7cbf/Runtime/Plugins/x86_64/dracodec_unity.bundle/Contents/MacOS/dracodec_unity, error: dlopen(/Users/Vaxela/Documents/syslorprojects/unity/2020/ar.implantation/Library/PackageCache/com.atteneder.draco@00d28a7cbf/Runtime/Plugins/x86_64/dracodec_unity.bundle/Conten

[2020-12-10 09:02] Vaxela commented on #113
I try to install Git LFS and retry

[2020-12-10 09:04] atteneder commented on #113
I don't understand why you didn't try that in first place after I recommended it to you. Again:

To quote the [Unity documentation on GIT packages](https://docs.unity3d.com/2020.1/Documentation/Manual/upm-git.html):

[2020-12-10 09:04] #113 closed

[2020-12-10 09:07] Vaxela commented on #113
I was working on 2020 when I was speaking with you, I'm trying to install Git LFS and reinstall your git

[2020-12-10 09:38] Vaxela commented on #113
Ok so i've reinstall it with the package manager. And no error that a good sign but

<img width="1312" alt="Capture d’écran 2020-12-10 à 10 29 46" src="https://user-images.githubusercontent.com/32814462/101754110-a96dfc00-3ad3-11eb-86be-cdd15431bab1.png">

Ive just have a little problem model are like in 2D ?
Do you know why  ?

[2020-12-10 09:39] atteneder commented on #113
Do you have a non-uniform scale on your GameObject?

[2020-12-10 09:44] Vaxela commented on #113
That why, thanks you very much can't wait to use your solution in your application.
At the moment we where using KhronosGroup/UnityGLTF, but its outdated
Just a last question can we retrieve easily the GLTF extras informations from a mesh ?

[2020-12-10 10:02] atteneder commented on #113
Thanks, much appreciated. I'm always happy when people give the project a star!

There's already a discussion how to procede with this situation. I'll keep you posted.

I presume you mean the application specific data in the `extras` JSON fields, right?
I have to test this first. The JSON parser I'm using is somewhat limited, so it might not work on arbitrary data. Feel free to provide me with sam

[2020-12-10 10:27] Vaxela commented on #113
Yeah we want a better solution to load our GLTF fast, we work on big GLTF model for Augmented Reality , and sometime the model can take 5 minutes to load on a phone :/ so we wanna use your solution to make the loading faster.
And we wanna recover the extras data from the mesh

Yes data from extras json fields, we make a little improvement to Kronos to get the data before they clean it, but for me

[2020-12-10 10:43] atteneder commented on #113
Sounds good. Expect more speed improvements over the next months.

[2020-12-10 12:56] atteneder commented on #78
Assuming this is a non-issue.

[2020-12-10 12:56] #78 closed

[2020-12-10 14:38] atteneder opened #118 "Investigate in SerializeReference as replacement for FakeSchema"
Using [SerializeReference](https://docs.unity3d.com/ScriptReference/SerializeReference.html) instead of a second JSON parse with the FakeSchema might speed up parsing.

[2020-12-14 00:18] De-Panther opened #119 "No way to call TimeBudgetPerFrameDeferAgent constructor"
As `TimeBudgetPerFrameDeferAgent` is a `MonoBehaviour`, there's no way to call it's constructor and set the `frameBudget`.

[2020-12-18 15:01] waseemkhan1989 opened #120 "Back-face Culling problem"
Hi,

I am facing a problem of back face culling in one of my models. The picture is attached for the reference.

![image](https://user-images.githubusercontent.com/25552247/102628279-b7fa8a00-4149-11eb-8ecc-f36d18e8516a.png)

Any solution @atteneder ?

[2020-12-18 16:19] atteneder commented on #120
The glTF model would be helpful

Have you tried loading it in another glTF viewer?

What glTFast version?

[2020-12-24 21:20] msub2 opened #121 "Building project with glTFast+URP will fail (Unity 2019.4.13f1)"
I discovered while doing some experimentation in Unity 2019.4.13f1 that building a project for WebGL using URP and glTFast will fail with the following errors:

`Library\PackageCache\com.atteneder.gltfast@2.5.0\Runtime\Scripts\MaterialGenerator.cs(48,42): error CS0161: 'MaterialGenerator.GetDefaultMaterialGenerator()': not all code paths return a value`

and

`Library\PackageCache\com.atteneder.gl

[2020-12-27 20:44] dudziakl opened #122 "Setting model axes during import"
Hi @atteneder, I would like to know if it is possible to change model axes during import? Can I use custom Instantiator for that?
In my very basic scene I have just GltfAsset script and my model is pointing wrong direction on the Z axis. I would like to do the mesh manipulation to avoid game object rotation.

![image](https://user-images.githubusercontent.com/12583808/103179159-5cd34080-4889-11eb-

[2020-12-28 21:25] atteneder commented on #122
Hi @dudziakl,

The coordinate systems of glTF and Unity are not identical and thus the difference in the arrows from the boombox scene and Unity's axis gizmo is correct.

Changing glTFast to another coordinate system (efficiently) is a bit more complicated than just changing the GameObject transforms. Also the vertex data has to be interpreted differently.

What are you trying to accomplish?

[2020-12-28 21:44] dudziakl commented on #122
In short words: I have lots of generated gltf files that were created for other importer. During the development we found some limitations and needs to replace this importer with another. After short evaluation I'm very happy with gltFast plugin but I just realized that all my models are now rotated to wrong axis after import. I would like to avoid to re-generation of all gltf files, as it is diff

[2020-12-28 21:58] atteneder commented on #122
Indeed the coordinate system of glTF is specified:

https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#coordinate-system-and-units

Hacking glTFast (or any other importer-exporter) to support non-standard coordinate systems is not something I'd recommend. Instead re-export the models correctly according to the standard.

That being said, it might be possible to do so, but you'd hav

[2020-12-28 22:18] dudziakl commented on #122
Thanks for the link. I didn't know about it.
It says that the front of the model  should be +Z axis, so.. why your importer is setting this model -Z as you can see on my picture?

[2020-12-29 16:15] anupamdas2012 commented on #107
curious, has there been any progress made on this?  there seems to be a lot of movement on this on other platforms.

[2020-12-30 00:04] atteneder commented on #107
Hi @anupamdas2012,

Thanks for your curiosity and offer to support.

No, `EXT_mesh_gpu_instancing` support is not being worked on thus far.

Could you elaborate what you mean with "a lot of movement on this other platforms" ? Especially if you could point out performance numbers gained, I might re-evaluate the priority of this topic.

Thanks!

[2020-12-30 16:31] andrewsmoc opened #123 "Android / iOS problem when download model"
When I export the application for Android and iOS, the 3D model is not downloaded in GLTF or GLB format. I tried with https or http protocol with no result.

[2020-12-31 12:31] atteneder opened #124 "Animation support"
Add support for animation as specified here:

<https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#animations>

[2020-12-31 13:31] atteneder commented on #122
"the front should be +Z" relates to the glTF space/context (the front of the boom box indeed points towards the +Z(glTF).

I aligned the +X(glTF) axis with the +X(Unity) axis, hence the respective +Z axes oppose each other. This was a design decision. I could've also aligned the +Z axes, but then the +X axes would oppose each other.

Given the fact that cameras in Unity "look" towards +Z(Unity) I

[2020-12-31 13:31] #122 closed

[2020-12-31 18:13] anupamdas2012 commented on #107
Hi, sure I can point you to some information. Im not sure about specific statistics such as MS gained but you can try out some sample models using the BabylonJS gltf viewer using models with. vs without instancing. As you are probably aware instancing will greatly reduce draw-calls. This is especially useful for models with many repeated elements such as models coming from CAD software.

1)------

[2020-12-31 19:22] atteneder commented on #107
@anupamdas2012 ,

That's great! I'll do tests in the next days.

Thanks and happy 2021!

[2021-01-03 13:58] ThimoVBE commented on #123
Did you enable the specific shaders specified in the documentation of the repo?

[2021-01-05 17:18] hybridherbst opened #125 "Test scripts are missing namespace"
Would be great if these would have GLTFast.Tests as namespace or so:

![image](https://user-images.githubusercontent.com/2693840/103677170-3e083480-4f82-11eb-9b48-e2aa6ec75e08.png)
![image](https://user-images.githubusercontent.com/2693840/103677228-511b0480-4f82-11eb-9933-4a28a3d6406e.png)

[2021-01-05 17:22] hybridherbst opened #126 "Use Unity-typical shader property names"
Unity shaders typically follow a naming convention for shader properties (e.g. "_BaseColor", "_BaseColorMap").
This helps when creating custom shaders to use for import, or when switching from a typical shader to a GLTF shader (e.g. for better control over properties when export might be supported in a future version).

I'm aware that there's multiple "standards" - not only did URP and HDRP ditch

[2021-01-17 18:54] Exatex opened #129 "glTFast does not build for WebGL with URP"
When trying to build for WebGL in combination with URP, in MaterialGenerator.GetDefaultMaterialGenerator() not all code paths return a value due to a combination of pre-compiler statements. Can be fixed for that specific case by ignoring all other branches and assuming that a pipeline asset is set:

[code]

[2021-01-20 22:43] NickPeelman opened #130 "WebGL: ArgumentNullException: Value cannot be null."
When trying to load a model from my server on my WebGL build I get the following error:

![image](https://user-images.githubusercontent.com/15141922/105249542-8fb2e080-5b78-11eb-8f12-5c7f891750ae.png)

With full error log I get:

[code]

I'm using unity 2020.2, tested with 2020.1. Works perfectly in editor.

The code I used:

		var gltfAsset = new GameObject("GltfAsset").AddComponent<GLTFast.GltfA

[2021-01-21 11:12] NickPeelman commented on #130
Tested with Unity 2019 LTS and still having this error, very weird.

[2021-01-21 12:28] NickPeelman commented on #130
Tested with Duck:
https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF-Binary/Duck.glb

Works.

My Model is a file of 30MB compressed. I'm going to try to set the initial memory of the WebGL Player to 1GB.

[2021-01-21 15:25] atteneder commented on #130
Hi Nick,

Thanks for the report. Any chance you can provide the model (or a similar one that crashes as well) ?

[2021-01-21 15:33] NickPeelman commented on #130
You can try the following files:

https://www.novicius.be/uploads/DCA_Office.glb
(18MB) includes textures

https://www.novicius.be/uploads/Handelsbeurs.glb
(24MB) no textures, just a big junk of mesh ;).

Thanks !

[2021-01-21 15:39] NickPeelman commented on #130
Some more info about my WebGL player:

![image](https://user-images.githubusercontent.com/15141922/105373680-3a71e000-5c07-11eb-92ce-f0e31c871180.png)
![image](https://user-images.githubusercontent.com/15141922/105373720-452c7500-5c07-11eb-9ba1-d36cd02c615e.png)
![image](https://user-images.githubusercontent.com/15141922/105373756-4bbaec80-5c07-11eb-8ba4-c9901014792d.png)

[2021-01-22 07:54] NickPeelman commented on #130
My crusade is coming to an end!

Confirmed working with:
![image](https://user-images.githubusercontent.com/15141922/105462346-c7ac4780-5c8e-11eb-81af-e8d54c7f90be.png)

I switched from many versions of GLTFast, but it seems like the issue was with the Draco plugin. I downgraded to 1.2 which seems to have done the job!

My editor crashes on 2020.2 regardless of GLTFast or Draco version. So if anyo

[2021-01-22 08:51] atteneder commented on #130
Awesome, thanks!
I will look to fix this in recent versions.

[2021-01-22 14:50] atteneder commented on #130
The good news is, it is working locally (development versions of both glTFast and DracoUnity). I'll test it again upon next release and close it here if it works (so you get notified, if subscribed).

<img width="604" alt="image" src="https://user-images.githubusercontent.com/2593014/105505689-8d13d080-5cc9-11eb-932b-91fca873bb75.png">

Kind regards

[2021-01-22 14:57] atteneder commented on #129
Thanks for reporting!
Has been fixed in 2.5.1

[2021-01-22 14:57] #129 closed

[2021-01-25 19:52] #125 closed

[2021-01-25 19:53] atteneder commented on #125
Thanks for pointing that out!

I see an oportunity to learn: did you use some analyzer/tool to get the list above? Seems handy.

[2021-01-30 17:44] atteneder commented on #126
Thanks for pointing that out. Although it was some struggle to change this, it makes totally sense.
fixed in 2.5.1

[2021-01-30 17:44] #126 closed

[2021-01-30 18:59] atteneder commented on #121
Thanks for reporting!
This was fixed in 2.5.1

[2021-01-30 18:59] #121 closed

[2021-01-31 15:19] atteneder commented on #104
Alright, I gave it another shot!

Please test [DracoUnity 1.4.0](https://github.com/atteneder/DracoUnity/releases/tag/v1.4.0) (OpenUPM package should be available soon).

It worked in an UWP x64 build, but I don't have ARM(64) hardware to verify the rest.

Let me know if it worked *fingerscrossed*

[2021-01-31 21:34] atteneder commented on #104
And while you're on it, I'd be happy to get feedback if [KtxUnity 1.0.0-preview](https://github.com/atteneder/KtxUnity/releases/tag/v1.0.0-preview) works on HoloLens2 as well.

Merci!

[2021-02-01 14:23] atteneder commented on #123
Sorry about the inconvenience.

I need more information in order to offer help:

- Can you download just the gltf/glb file via UnityWebRequest successfully?
- How exactly do you try to load the models?
- Does it work with other models (e.g. from [glTF-Sample-Models](https://github.com/KhronosGroup/glTF-Sample-Models))
  - If yes: Can you provide the files that are not working?
- What version of gl

[2021-02-01 14:25] atteneder commented on #120
I assume this was a content error. Feel free to re-open if it was not.

[2021-02-01 14:25] #120 closed

[2021-02-01 14:39] atteneder commented on #119
Thanks for the report!

I missed it for so long, because I fixed setting up proper notifications only recently. Sorry about that.

You're absolutely right. I fixed the issue in version 2.6.0 and newer by replacing the constructor with a setup method called `SetFrameBudget`.

Now the recommended way to set it (also stated in the [documentation](https://github.com/atteneder/glTFast/blob/main/Documen

[2021-02-01 14:39] #119 closed

[2021-02-01 14:40] atteneder commented on #118
Unfortunately this proved not to work.

[2021-02-01 14:40] #118 closed

[2021-02-01 15:14] NickPeelman commented on #130
I can confirm this is not occuring again with the latest versions of GLTFast and Drako.

One hell of a guy. Amazing work!

👏👏👏

[2021-02-01 15:15] #130 closed

[2021-02-01 17:57] De-Panther commented on #119
Thanks!
I ended up creating a custom `IDeferAgent`. So I'll update and replace with the fixed version.

Also, I really like this package. I'm using it in
https://github.com/De-Panther/webxr-input-profiles-loader
where it loads Controllers models in WebXR.
I tried to smooth the loading on as much frames as possible, but it seems that there are still some operations that can't be done over a number

[2021-02-01 18:01] atteneder commented on #119
Cool!

Have a look at glTFast 3.0.0-preview! I improved frame rate quite a bit in there.
Unfortunately I discovered that the WebGL build size increased. Fixing it atm.

[2021-02-03 12:47] atteneder commented on #104
I got confirmation that both of those packages are working on UWP ARM and ARM64 now!

[2021-02-03 12:47] #104 closed

[2021-02-03 22:48] camnewnham commented on #104
@atteneder great! I can also confirm that 1.4 (Draco) works on ARM64 / HoloLens 2.

Cheers

[2021-02-07 00:50] De-Panther opened #131 "Bug when trying to load 2 GLB in WebGL at the same time"
I try to start loading to GLB files at the same time on WebGL:
https://cdn.jsdelivr.net/npm/@webxr-input-profiles/assets/dist/profiles/oculus-touch/right.glb
https://cdn.jsdelivr.net/npm/@webxr-input-profiles/assets/dist/profiles/oculus-touch/left.glb

The first one(`right.glb`) loads, the second one(`left.glb`) fails but without returning `success=false`.
It just stops loading at `gltfRoot = awai

[2021-02-07 03:36] De-Panther commented on #131
It seems that `Task.Yield()` works well on WebGL, but `Task.Run()` has issues.

I created an `IDeferAgent` that returns false for `ShouldDefer(float duration)` and call `Task.Yield` in `BreakPoint()` and `BreakPoint(float duration)`,
and now I do manage to load two models at the same time.

[2021-02-07 10:22] atteneder commented on #131
Thanks for the report, and detecting the issue...you pinned it down already! :)

Looks like `Task.Run` [does not work](https://forum.unity.com/threads/async-await-and-webgl-builds.472994/) in WebGL yet (more on [threading in WebGL](https://forum.unity.com/threads/multithreading-and-webgl.817986/)).

I'll fix it today.

[2021-02-07 12:43] #131 closed

[2021-02-08 16:55] LoicFr commented on #100
Hello,

This issue is still there in the release 3.0.2.
Has anyone found a workaround for this ?

[2021-02-08 18:38] Blocovin commented on #100
Hi,

Sorry for the delay, here's how we got around the crash:

[code]
Hope it help !

[2021-02-09 08:16] M4kHack opened #132 "Could not allocate memory/ Memory access out of bounds on Android"
Great lib!

I only have one small issue, 1 in 10 models that I try to load crashes on android and it is always the same models, It is not related to the size of the model since it is not the biggest models that fail. They are sometimes only 5-6 mb and still have this issue.

it is one specific part of the model that crashes and if I remove it the model loads, then I can load only the failing part

[2021-02-09 09:50] atteneder commented on #132
Hi @M4kHack ,

Sorry for the inconvenience and thanks for reaching out!

It's hard to say without looking at the data. Could you provide the file in question? If it's sensible data, send it in a private message.

Does it work in the Editor?

[2021-02-09 09:57] M4kHack commented on #132
Thanks for quick reply!
I emailed you the details.

//M4k

[2021-02-09 15:00] LoicFr commented on #100
Hello

Thank you for your quick reply.

I don't understand your code because:
- `if (tmpMesh.subMeshCount > 0)` is (almost) always true (otherwise the mesh is empty so it doesn't need to be combined);
- `tmpMesh.GetSubmesh (index)` doesn't exist. Is it a typo ? GetSubMesh exists but it doesn't return a Mesh. I think you have implemented your own GetSubmesh function which returns a Mesh and this is

[2021-02-09 15:17] Blocovin commented on #100
Indeed you are right.

I forgot to share you our implementation of GetSubmesh

[code]

[2021-02-09 16:04] LoicFr commented on #100
Thank you very much it works now ! And it is not necessary to define `GLTFAST_KEEP_MESH_DATA`.

It is needed to add these lines at the beginning of `public void AssignTo(Mesh aTarget)` to support meshes with more than 65 536 vertices:
[code]

Globally it works but this is not a very optimised workaround so I hope it will be fixed directly in GLTFast in a future release.

[2021-02-09 20:12] Bersaelor opened #133 "What is the preferred way of loading a glb asset in WebGL? [CORS compatible]"
So far, glTFast worked great on Android, we even released our our(my) first Android app using the framework.

Now, I wanted to share some code with the WebGL target platform and am facing some issues:

The original assets come from our server, but are edited and modified before writing them to the local `Application.persistentDataPath/...`.
I load the *.glb assets as follows:

[code]
and that work

[2021-02-09 20:19] Bersaelor commented on #133
I mean, I could read the file into memory using File.IO, but I can't find any API in gltFast where the application can provide a memory blob/ object instead of a url to the file.

[2021-02-09 20:26] Blocovin commented on #133
Hi,

We got same issue with CORS in WebGL, so we add this code in GltFast.cs to load byte[]

[code]

[2021-02-10 11:15] Bersaelor commented on #133
@atteneder if this is something two of us need, maybe it would be an APi lifting into the next release?

[2021-02-10 19:04] atteneder commented on #133
Hi @Bersaelor ,
Thanks for reaching out and congratulations on shipping your Android app! Feel free to send me a link to it (via PM if you prefer)...always interested in seeing it in production.

I agree, a simple API method to load from `byte[]` (or `NativeArray`) does make sense. I cannot promise when, but this will be added.

I'm not a web expert, so...

I presume the `persistentDataPath` on We

[2021-02-10 20:05] atteneder commented on #132
I just had a look on your models and I'm afraid they need to be optimized.

When Unity loads the Jpeg and PNG textures that are in your glTF, it decompresses them to RGBA bitmaps. So it doesn't matter how small your glb file is/was, it'll use a LOT more  memory once unpacked.

If you take a look at the Unity Profiler and look at the scene memory, you'll see that your model (with lens) requires .85

[2021-02-10 20:05] #132 closed

[2021-02-10 20:17] DerrickBarra commented on #132
@M4kHack @atteneder in case you're not aware, there's also a memory limitation/bug with chrome 32-bit devices that in practice limits you to use less than 256mb total ram. So if android chrome is your target you should aim to use less than that to prevent the memory growth allocation error.

https://forum.unity.com/threads/android-chromium-unable-to-grow-allocated-memory-above-256mb-confirmed.1014

[2021-02-10 20:42] Bersaelor commented on #133
Yeah, so:

1. UnityWebRequest = XMLHttpRequest which needs CORS headers on CORS enabled browsers
2. our server sets the CORS headers on files that can be downloaded
3. files are downloaded to the browser WebGL app, edited, saved, reloaded, modified and eventually converted to glft format and saved in the browsers IDBObjectStore, all inside the WebGL app
4. the path to the file in the IDBObjectStor

[2021-02-10 20:43] atteneder commented on #100
Hi all,

Thanks for being so patient and providing awesome workarounds here!

TL;DR: Change the variable `flags` in `PrimitiveCreateContext.cs` line 55 to:

[code]

As you can see, I tried to speed up mesh creation by avoiding the recalculation of the bounding box (`MeshUpdateFlags.DontRecalculateBounds`). Works, as long as you don't use it in Combine, I guess.

This obviously is a Unity bug. Even

[2021-02-10 21:01] Blocovin commented on #133
We got same problem as @Bersaelor.
We download and save file in the IDBObjectStore from WebGL app and then pass local file url to GltFast.
We use netlify and we got this error :
`Security Error: Content located at https://test-unity-webgl.netlify.app/ cannot load data or link to file:///idbfs/9af3761ca9ebfc54ae88f4b0a0c69070/test.glb.`
Maybe UnityWebRequest can't load file from IDBObjectStore from

[2021-02-10 21:48] atteneder commented on #133
Thanks, very useful information.

glTFast loads everything via UnityWebRequest (and formerly WWW), because it provides a nice abstraction from File I/O and HTTP. In this particular case this is troublesome and there are further reasons to not use it for direct file I/O in the future.

So my mid-term solution is to write a new loading abstraction that uses file I/O for local files and supports stre

[2021-02-11 08:03] M4kHack commented on #132
Thank you so much.
That's all I need to know!

Legend =)

[2021-02-11 10:14] LoicFr commented on #100
Hi,

Thanks for the fix, it works and has a less performance impact than Blocovin's fix.
This also explains the LODGroup crash I encounter since it certainly also uses mesh bounds for computation.

[2021-02-11 13:39] udvaritibor opened #134 "Where did onLoadComplete go?"
Hi!

I've just updated glTFast, hoping that there will be an "onProgress" callback, but now onCompleted is missing as well.

Did I miss something or it has been removed? If yes, why?

Also an onProgress callback (regarding loading, not downloading) would be great, even if it's a crude estimation.

Cheers! :)

[2021-02-11 14:04] Bersaelor commented on #134
I also updated recently, and gltFast is now using [async/await](https://john-tucker.medium.com/unity-leveling-up-with-async-await-tasks-2a7971df9c57).

You don't have to add to `gltfAsset.onLoadComplete += OnLoadingFinished;` anymore, you can just do

[code]

[2021-02-11 14:59] udvaritibor commented on #134
Thanks! :)

[2021-02-12 11:32] atteneder commented on #134
Indeed, as @Bersaelor already explained. I decided to not keep the obsolete event, since the switch to async requires changes anyways.

Regarding loading progress: You're absolutely right, but I want to hold this one off a bit longer and figure out proper streaming first.

Feedback is always welcome, thanks!

[2021-02-12 11:32] #134 closed

[2021-02-14 12:32] Bersaelor commented on #133
Thanks for the tips @atteneder , I have something running that sort of works, just one question.

First the `LocalFileProvider`:

[code]

Now this is just a class that wraps what I would usually write as:

[code]

In the context of `IDownloadProvider` and `IDownload` where should I put the `fileStream.Close()` in your opinion?

The above seems to work actually, my glb's are shown, but it makes me

[2021-02-15 22:45] camnewnham opened #135 "Points Support"
I'm interested in doing some work to extend support of POINTS geometry and would like to scope it and determine whether it's a welcome extension to this library beforehand.

The current behaviour is:

**Gltf**
* GLTFast.GLTFast:PreparePrimitiveIndices logs an error (Primitive mode Points is untested!)
* Points are visible (in editor) but vertex colors do not appear

**With Draco**
* Fails to load

[2021-02-16 16:20] Blocovin opened #136 "Index was outside the bounds of the array"
Hi,

We got an error when we try to load [this glb file](https://fromsmash.com/Ar7qF.2Wv3-ct) in Unity Editor (2019.4.20f1) with GltFast 3.0.2 :

``System.IndexOutOfRangeException: Index was outside the bounds of the array. at GLTFast.VertexBufferConfig`1[VType].ScheduleVertexJobs (GLTFast.VertexInputData posInput, System.Nullable`1[T] nrmInput, System.Nullable`1[T] tanInput, GLTFast.VertexInputDa

[2021-02-16 18:44] Blocovin opened #137 "Best way to add MeshCollider on every GameObject"
Hi,

We try to add mesh colliders on every GameObject in CustomInstantiator but we got some errors in unity :

[code]

[code]

[code]

How to avoid errors ?

[2021-02-16 19:04] chrisssssy opened #138 "Wrong Colors when using Vertex Colors exported from Blender"
Hi,

i have problems with displaying corrects colors when using vertex colors. With standard materials and textures exported from blender, everything looks fine. But exporting only the mesh with vertex color results in weird colors like in this picture:

![image](https://user-images.githubusercontent.com/52048986/108108113-76765480-7090-11eb-8201-653100c3a324.png)

But it should look like this (sa

[2021-02-16 21:30] chrisssssy commented on #138
Ok i did some further testing, and the glb-file (Suzanne.zip) from is correctly displayed in your WebGl-Demo. Also the [BoxVertexColors.glb](https://github.com/atteneder/glTFast/files/5991748/BoxVertexColors.zip) File from the Khronos sample files ist working fine in my unity project, so i really don't know what's the problem here.

[2021-02-16 21:54] chrisssssy commented on #138
Seems like it's an issue with the exporter (Khronos glTF Blender I/O v1.4.40) in blender 2.91.2. With blender 2.8 LTS (exporter: Khronos glTF Blender I/O v1.2.75) the problem is gone. Export settings where the same.

[2021-02-17 17:39] atteneder commented on #135
Hi @camnewnham ,

Thanks for the great suggestion and putting in the effort.

You're right about the Draco limitation. Currently I refactor the Draco integration (re-base on recent version plus use the advanced Mesh API). It would make sense to wait for this new version or start working on the according branch( [draco](https://github.com/atteneder/draco/tree/unity2)  and [DracoUnity](https://githu

[2021-02-17 17:52] atteneder commented on #136
Hi @Blocovin ,

sorry for the inconvenience. Is this reproducable consistently?

I could load it successfully in Unity 2021.1.b6 and 2019.4.20f1, but it is a very heavy model that renders slowly. I can only recommend to optimize it.

regards,

[2021-02-17 17:57] atteneder commented on #137
Hi @Blocovin ,

Thanks for reporting.

I'd have to try, but maybe it is related to the mesh flags (see [this comment](https://github.com/atteneder/glTFast/issues/100#issuecomment-777022328))

I'll try to test soon

[2021-02-17 18:01] atteneder commented on #138
Hi @chrisssssy ,

Thanks for reporting. Great that you found a workaround in using 2.8 LTS, but I suspect this is clearly a bug on glTFast's side.

I'll look into it soon.

Regards

[2021-02-17 22:53] camnewnham commented on #135
Cool. I'll do some testing with the older version and just to isolate any issues and determine what needs to be done and then move it over to the new one.

I'll post some updates here as I work out what's going on. Starting with a simple colored point cloud:

three.js:
![image](https://user-images.githubusercontent.com/19278856/108278000-73817e00-71ce-11eb-988d-ba43046c19cb.png)

![image](https://

[2021-02-17 23:15] camnewnham commented on #135
It looks like the color ordering is a result of the indexing in the jobs. i.e. `GetColorsVec4UInt8Job`:

Rather than
[code]
we need:
[code]

This likely also resolves https://github.com/atteneder/glTFast/issues/138

I'll make a PR accordingly before moving onto the draco component.

[2021-02-18 12:35] chrisssssy commented on #138
#139 did fix this problem for me. Now i can use the files exported with blender 2.91.2 without any issues, thank you.

[2021-02-18 12:35] #138 closed

[2021-02-18 13:29] atteneder commented on #135
Awesome finding!

[2021-02-19 06:41] anupamdas2012 opened #141 "two cubes, one loads, one does not."
Hi, Im experiencing a very strange issue. I have two cubes which are identical loaded to a storage endpoint (firebase). one loads properly,
the other gives me a JSON error. Any insight would be helpful as this one is stumping me.

//this one loads
 https://firebasestorage.googleapis.com/v0/b/xrviewprototype.appspot.com/o/models%2F-MNBhmCn3c-CzHgBYvJE%2FBox.glb?alt=media&token=5b6b152f-3497-4768-bc

[2021-02-19 06:44] anupamdas2012 commented on #141
also note that both of these load just fine on web, I have tested this using the babylonjs gltf sandbox with no issues.

[2021-02-19 07:28] anupamdas2012 commented on #141
im wondering if the content-type is wrong in the header? looks like the glb that works has a content type: model/gltf+json where as the one that does not work is application/octet-stream. I feel like an older version of gltfast did not care about this and so it just worked, but could be wrong. If it is a header issue, then the problem is obviously with the way im uploading the model to my storage

[2021-02-20 08:40] Blocovin commented on #137
Thank you for your answer !
I forgot to specify that we use draco, so `PrimitiveDracoCreateContext.cs`is called and there is no 'MeshUpdateFlags'.

[2021-02-20 08:59] Blocovin commented on #136
We no longer got error, we tried to load glb 20 times and it's load successfully all the time...

It's a mistake, sorry for the inconvenience !

Thanks for your support !

[2021-02-22 02:36] camnewnham commented on #135
Here's a first go at allow draco to work with the point clouds.

**Draco** changes: https://github.com/camnewnham/draco/commit/817d74b065a871d208804b1901eec9116f62737c
* Add `DRACO_POINT_CLOUD_COMPRESSION_SUPPORTED` flag for `BUILD_FOR_GLTF` in CMakeLists
* Decode either `TRIANGULAR_MESH` or `POINT_CLOUD` based on the `EncodedGeometryType`

(note I am a C++ amateur so any advice is most welcome -

[2021-02-22 08:27] anupamdas2012 commented on #141
Hi, quick update. I have fixed the file metadata issue on my storage endpoint, but still getting the same result. Not sure where exactly this is breaking at this point.

[2021-02-22 09:10] atteneder commented on #137
Good point!
I've created a corresponding [issue](https://github.com/atteneder/DracoUnity/issues/7). The next DracoUnity version will support this.

[2021-02-22 09:11] atteneder commented on #136
That's great to hear!

No worries. Feel free to re-open or create a new issue if it re-surfaces.

[2021-02-22 09:11] #136 closed

[2021-02-22 09:16] atteneder commented on #135
Thanks, much appreciated!
I'll try to have a look early this week.

[2021-02-22 09:45] atteneder commented on #141
Hi @anupamdas2012 ,

Thanks for the report. You're right suspecting the content-type.

The first link returns content-type `application/octet-stream`, which is ignored and then the type (glb or gltf) is derived from the file extension correctly.

The second link returns content-type `model/gltf+json`, which is incorrect. glTF-binary should have content-type `model/gltf-binary`.

If you configure y

[2021-02-22 09:45] #141 closed

[2021-02-22 22:16] camnewnham commented on #135
Addition of default points shader `IMaterialGenerator.GetDefaultPointsMaterial` (gltf/Unlit) has been added to the glTFast fork too.

[2021-02-23 01:02] hybridherbst opened #143 "Unlit + Blend shaders are missing for ShaderGraph"
Seems there are no shaders for Unlit + Blend.

Reproduction file:
[UnlitBlendBug.zip](https://github.com/atteneder/glTFast/files/6026211/UnlitBlendBug.zip)

Expected (babylon sandbox):
![image](https://user-images.githubusercontent.com/2693840/108789546-c8c8e100-757a-11eb-9eca-517cdfe21b4e.png)

Actual (gltfast URP):
![image](https://user-images.githubusercontent.com/2693840/108789714-22c9a680-757

[2021-02-23 14:22] NeluQi opened #145 "Loading large models on android"
Good day. The problem is the lack of RAM on the device when loading large models.

There are large models consisting of many gtlf files.

What is your recommendation for loading large models?

[2021-02-23 14:37] atteneder commented on #145
Hi,

3D model optimization in general is a huge topic that could span multiple books. There's even lot's of software that tackles the problem (more or less well and some quite expensive). I'll try to only give some concrete, glTF/glTFast related tips.

## Profile First

Seriously, open the Unity Profiler and make a deep memory snapshot to see what exactly within your glTF files is taking up the mo

[2021-02-23 14:37] #145 closed

[2021-02-23 15:17] NeluQi commented on #145
What is the reason for the large GC?
Currently, GC in ManagetHeap.UsedSize takes up the most memory space when loading.

Android apps just crash when RAM is full, is there a way to fix this?

What is more optimal to create a new GLTFast.GLTFast and call the load, or use the same GLTFast.GLTFast?

![image](https://user-images.githubusercontent.com/16963395/108864239-0ec98780-7603-11eb-890f-9e8866c3

[2021-02-23 16:31] atteneder commented on #145
I presume you profiled the Editor in Playmode. It's recommended to always profile (debug) builds, since the editor runtime distorts the profiling data. Take a look at the [Profiler docs](https://docs.unity3d.com/Manual/Profiler.html) to learn more.
I usually profile a standalone build, since it's the fastest.

The heavy stuff in `Others` is likely Editor related and won't be a problem on the devic

[2021-02-23 18:48] NeluQi commented on #145
Thanks for helping me.
Tested on Android 7. 3 GB of RAM. In my task, BIM models are used (ifc -> gtlf). gltf models were divided into files of 10-100 mb. There are about 1000 such files. Total weight 2.3 GB. Unfortunately, I cannot share the model.

When the RAM is full, the application crashes, is there any way to handle this exception? (try cath - doesn't work). I would like to stop loading when

[2021-02-23 19:00] atteneder commented on #145
you're welcome

I understand. Yes, the sheer mass of geometry is too much.

I don't know. Not sure about Android, but iOS informs apps when they are about to run out of memory, which is very vague and sometimes very conservative. You won't get a number of how much memory you've got left.

Also not sure if glTFast *can* fail gracefully when memory runs out. Should be investigated.

- CAD/BIM data i

[2021-02-23 19:12] NeluQi commented on #145
Thank you very much, I will think in this direction

Can you give a hint about caching? What kind of cache are you talking about? The files themselves are downloaded in advance to devices

[2021-02-23 19:30] atteneder commented on #145
Yes, this is what I meant. Caching glTF files (including .bin buffers and textures) on local drives.

[2021-02-23 21:43] Bersaelor commented on #133
Update: Had to work on some other things for a while, but now created a [minimal sample project](https://github.com/Bersaelor/UnityGltfWebGlTest) to look more into the local file loading. It works fine in the editor but has the CORS header issue.
On my 4.0Ghz iMac even the minimal example needs 151s to build the WebGL, WebGL building in Unity is really slow isn't it?
(My full project takes 10min e

[2021-02-24 09:29] atteneder commented on #133
@Bersaelor thanks for providing the code + sample. I'll try to look at it as soon as time allows for it.

Yes, WebGL builds are slow. I prefer to do as much as possible in Editor and Standalone builds and iterate only very Web/Browser specific things in WebGL builds.
Having continuous integration / cloud build is something to think about.

regards,
andi

[2021-02-24 21:57] Bersaelor commented on #133
I also get what @Blocovin said earlier, I mean, I don't necessarily need to read the file from the `idbfs`, since I:
• download file to idbfs
• open read stream of downloaded file
• use a CryptoStream that the readstream is piped to
• writestream outputs the result to a new file

I think, since the `idbfs` files in the browser are only in the memory anyway, I could also just pipe the result to a b

[2021-02-24 23:10] atteneder commented on #135
Sorry for the delay. I had a look across it (didn't test so far). glTFast and DracoUnity look good overall.

Some thoughts about the native part:

- It is based on the current version (my `unity` branch). I couldn't finish the more up to date work due to an open blocking issue, but that has to be ported soonish
- I'd like to have a look at the impact on the build size first. I don't expect it to b

[2021-02-24 23:16] #143 closed

[2021-02-24 23:40] atteneder commented on #133
I don't have experience with IndexedDB, but I thought it is persistent? (so not just in temporary memory)

But yes, both solutions are OK imho. The browser cache should also kick in if you don't use idbfs.

[2021-02-25 00:19] camnewnham commented on #135
Thanks for having a look. I'll move the changes up to the latest once there's a stable glTFast/DracoUnity/draco combination (or is this the case now?) so that I can tell if breaking things are my issue or pre-existing.

I ran the CI here: https://github.com/camnewnham/draco/actions/runs/587740664 so comparing to the prior builds: https://github.com/atteneder/draco/actions/runs/525167332 we get:

*

[2021-02-25 09:51] Bersaelor commented on #133
So, my browser experience is limited too, but basically no persistent filestorage is available for browsers. Unity emulates a filesystem by using `idbfs`. For your unity app , anything you save under `Application.persistentDataPath` will be saved in this `idbfs` file storage and API wise it's all just paths to seamingly local files (even though they are stored in memory). The problem is accessing

[2021-02-25 16:22] Bersaelor commented on #133
Furthermore, now that I was just reading [this article about reducing memory pressure during large web requests](https://thoughtbot.com/blog/avoiding-out-of-memory-crashes-on-mobile), I realized it should be possible to build the whole approach into gltf.
I.e. `DefaultDownloadProvider` already has this `MoveNext` approach of potentially loading incremental blocks of data. [My PR also does chunk si

[2021-02-25 17:10] atteneder opened #147 "Available Memory Awareness"
The goal of this issue is that glTFast gracefully fails, if the available memory is not sufficient (No crash, no memory leaks)

This might not be feasible on all platforms, but has to be investigated.

It definitely involves depending packages (KTX and Draco) as well.

[2021-02-25 17:10] atteneder commented on #145
I've created #147 with regards to running out of memory.

[2021-03-01 19:07] atteneder opened #148 "Load glTF from C# byte[] and NativeArray"
As far as I remember this used to work, but recent refactoring broke it.

Make sure to add:

- Unit tests to prevent breaking it (again)
- Documentation

[2021-03-01 19:09] atteneder commented on #133
Created [dedicated issue](https://github.com/atteneder/glTFast/issues/148) for loading from buffers.

[2021-03-03 11:41] M4kHack opened #149 "KTX kompressed model crashing in browser but works fine in Editor"
Hello,

I have a KTX Compressed model that loads fine in the editor but in the browser I get:

Exception: Could not determine default MaterialGenerator
  at GLTFast.Materials.MaterialGenerator.GetDefaultMaterialGenerator () [0x00000] in <00000000000000000000000000000000>:0
--- End of stack trace from previous location where exception was thrown ---
  at System.Runtime.ExceptionServices.ExceptionDi

[2021-03-03 11:51] #149 closed

[2021-03-03 11:57] atteneder commented on #149
I presume you found a fix yourself and closed the issue for that reason.

Looks like you had a non-matching RenderPipelineAsset assigned. This can happen when you try a scripted render pipeline (like URP or HDRP), remove them in the package manager, but still have the RenderPipelineAsset assigned in the Render settings.

hth

Let me know if you still have trouble with this.

[2021-03-03 12:04] M4kHack commented on #149
Yeah, That is exactly what happened.

I'm very grateful for all you do Andreas!

All the best =)

//Marcus

Från: Andreas Atteneder <notifications@github.com>
Skickat: den 3 mars 2021 12:58
Till: atteneder/glTFast <glTFast@noreply.github.com>
Kopia: Marcus Gärdskog Hill <marcus.gardskog@synsam.com>; State change <state_change@noreply.github.com>
Ämne: Re: [atteneder/glTFast] KTX kompressed model c

[2021-03-03 12:12] atteneder commented on #149
You are very welcome ❤️

Keep the feedback coming! It helps me improve the developer experience for all users.

[2021-03-04 13:24] waseemkhan1989 opened #150 "Comparing Golden 3D Model and imported Model"
Hi,

Is there any script that can be used to tell whether the Glb model is imported correctly or not? In plants and mechanical Engineering industry, the 3D models have large assemblies and it is impossible to tell by just looking at it whether the 3D model is imported correctly.

So, I need a script/tool which can tell whether the positions of transforms and vertices, textures etc. are imported co

[2021-03-04 13:26] waseemkhan1989 commented on #120
Thanks for your response. I checked this model. The problem was in the model.

[2021-03-04 13:36] atteneder commented on #150
Hi,

not that I know of.

You can inspect manually by comparing the result visually to another reference glTF viewer (like the [glTF-Sample-Viewer](http://gltf.ux3d.io/); [source](https://github.com/KhronosGroup/glTF-Sample-Viewer)).

Programmatically one could write automated tests, that compare results of different glTF integrations for Unity, but I don't think this is time well spent (and it do

[2021-03-04 13:36] #150 closed

[2021-03-04 13:53] waseemkhan1989 commented on #150
I checked the above viewer but it does not provide much stats about the model. The Microsoft 3D viewer provides stats about mesh data( triangles, vertices, UV Set 0 and 1, vertex colors, material IDs), texture data(there are many parameters), Animation data and scene data.

Do you think, if I compare with this tool then it would be enough to prove the accuracy of imported 3D Model?

Best,
Waseem K

[2021-03-04 14:13] atteneder commented on #150
Of course there's also the [glTF-Validator](https://github.khronos.org/glTF-Validator/) to get more info about the structure of the glTF.

This request is very abstract and vague. May I ask why do you need this for in first place? Do you need to guarantee correctness or is it just curiosity? Do you have a specific problem?

glTFast's license explicitly states absence of any kind of warranties. Tha

[2021-03-04 14:46] waseemkhan1989 commented on #150
Thanks for your prompt reply. I am a student and doing my Master thesis. My supervisor is insisting on this point that how will he know that the model is imported correctly/accurately and there are no errors or differences from the original/Golden model. So, actually he wants some results that could be quantifiable(could be represented in some numbers/quantities). He does not have knowledge about

[2021-03-04 15:01] atteneder commented on #150
I see.

Here's my take on this:

There's no such thing as 100% guarantee that software is bug-free. You can minimize the risk though, by writing tests that are run repeatedly. Those tests should cover all code and include all kinds of corner cases.

glTFast does come with tests

- Performance tests
- Graphical tests

Both of them check if a set of models are loaded without errors. The performance

[2021-03-05 02:31] MattAlanWright opened #151 "Failing to get default MaterialGenerator in WebGL build"
I suspect I am mis-using the library somehow, but I have reached an impasse in a project in which I'm trying to load glTF files in at runtime in a WebGL build. I have created several glTF files from OBJ files using Cesium's [obj2gltf](https://github.com/CesiumGS/obj2gltf). These OBJs **do not** have .mtl files associated with them. This led to some rendering issues that I resolved by changing the

[2021-03-05 09:46] atteneder commented on #151
Hi,

Sorry for the inconvenience. You might have the same problem as others before. Please read [this answer](https://github.com/atteneder/glTFast/issues/149#issuecomment-789662407) and see if it solves your problem.

In short, glTFast makes assumptions like "if the URP package is installed, the MaterialGenerator for Built-In is not included in builds. So if you use it anyways, you'll get this err

[2021-03-05 22:46] MattAlanWright commented on #151
Thanks so much for the quick response! This was exactly the issue, things are working well now.

For anyone else who stumbles on this and wants to know how I resolved it: I had, at an earlier stage, installed the Lightweight Rendering Pipeline which also requires the installation of the Universal Rendering Pipeline (maybe they're technically the same thing? I'm shaky on some of these concepts so f

[2021-03-05 22:46] #151 closed

[2021-03-07 23:27] anupamdas2012 commented on #107
Hi Again! I see you added this to the ToDo. Super cool... does this mean you will be working on this at some point soonish? If not I was going to perhaps open the hood and give it a shot myself but if you are working on it I'd be happy to help you test/debug..etc.

[2021-03-13 01:09] sarangborude opened #152 "How to get a reference to the game object that is instantiated"
I have my GLTF file downloaded  and I have a file path to it, I am trying to instantiate a game object with it. previously the work flow was I add a GLTFAsset component to the game object and then call Load method with the file path.  The there was a OnLoadComplete callback that I can subscribe to  and do additional things with my loaded GLTF.

Now the OnLoadComplete method is gone. How should I h

[2021-03-15 17:12] #100 closed

[2021-03-15 17:17] atteneder commented on #152
Hi @sarangborude,

There's an example for that [in the documentation](https://github.com/atteneder/glTFast/blob/main/Documentation~/glTFast.md#custom-post-loading-script).

You could also derive from `GltfAsset` and override `Load` like so:

[code]

hth

[2021-03-15 17:17] #152 closed

[2021-03-15 18:17] chrisssssy opened #153 "Create Primitives as sub-mesh of a combined `Mesh` instead of separate GameObjects/Mesh"
Hi again @atteneder ,

when loading a gltf-file where meshes have multiple materials, the meshes get splitted into multiple submeshes, one for each material. Is this the intended way of handling these meshes? Other importers don't split the meshes as far as i could test.

greetings
Christopher

[2021-03-15 21:04] sarangborude commented on #152
This works perfectly, but @atteneder how do I get the hold of the game object that gets instantiated.
Sorry if this is a newbie question. Thanks.

[2021-03-15 22:32] atteneder commented on #153
Hi @chrisssssy,

Let me paraphrase, just so I don't get it wrong:

You observed that glTFast instantiates one GameObject/Mesh per glTF-Primitive. You'd expect one GameObject/Mesh with one Submesh per glTF-Primitive, right?

What problem of yours would that solve or improve?
Do you have a test object at hand?

Technically this would be doable for all glTF meshes where the primitives have common ver

[2021-03-15 22:53] atteneder commented on #152
Whatever GameObject your`GltfAsset` is a component of will serve as the root for glTF scenes loaded.

If you don't want it this way, customize it the way its described in the documentation (link in previous reply). You have to create the GameObject yourself, call `InstantiateGltf` and pass it an `GameObjectInstantiator`. The latter takes the transform of your GameObject as constructor parameter an

[2021-03-16 00:08] sarangborude commented on #152
very clear, ended up using the custom instantiator approach

[2021-03-16 13:03] chrisssssy commented on #153
Hi Andi,

i would expect that gltfast doesn't split up the mesh into multiple submeshes so the hierarchy and object/mesh count stays the same as in blender. In the following picture you can see how for example Siccity/GLTFUtility handles my gltf-file. The hierarchy and object/mesh count is the same as in blender.

![image](https://user-images.githubusercontent.com/52048986/111312129-499d6900-865f-

[2021-03-16 13:07] atteneder commented on #153
Oh, I see. I'll have a look if this is a low hanging fruit.
Thanks for giving the details!

[2021-03-16 15:08] #148 closed

[2021-03-16 17:32] atteneder commented on #153
I have looked into this now and while I see that this would make your task easier, unfortunately this is not quick/easy to change.

glTF's mesh structure is more flexible than Unity's. You can have (theoretically) primitives with different vertex attributes data and/or structure. So for some corner cases I'd have to split the submeshes anyways.

Doing this right (so that it stays highly performant

[2021-03-16 17:57] chrisssssy commented on #153
Thank you for looking into this issue and for providing different solutions. I will look into them.
Great to hear about the good performance. Thats one more reason to stick with glTFast.

[2021-03-18 18:54] FreakTheMighty opened #154 "Expose custom vertex attributes"
The [gltf spec supports](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#meshes) custom vertex attributes prefixed with an underscore. We'd like to access those attributes and are looking to make a contribution to enable this. Couple questions:

1. Is this a feature you'd consider adding to this library?
1. Do you have any thoughts on how to implement this?

It kinda l

[2021-03-19 00:22] bhtruong93 commented on #154
We might also want to take a look at https://github.com/microsoft/MixedRealityToolkit-Unity/pull/7535 for turning attributes into a dictionary to hold custom data
Maybe we can do something similar and get the attributes like [in here](https://github.com/microsoft/MixedRealityToolkit-Unity/pull/7535/files#diff-fd1705a8f11b4b518b1f154b9dfcb28c9b3382461aa2961eb875dc4186cf66ebR202)?

[2021-03-23 23:16] atteneder commented on #154
Hi @FreakTheMighty ,

Thanks for your interest and sorry for the late reply.

I'm very much open to changes like that as long as they don't compromise the original goal of providing a performant loader for more regular cases. We should figure out how we can achieve both.

If your vertex attribute is somewhat generic/not too specific (so that others might use it as well), we could think about addin

[2021-03-23 23:20] FreakTheMighty commented on #154
No worries! @bhtruong93 has already opened a pull request https://github.com/atteneder/glTFast/pull/157

I don’t think our attribute will be broadly useful, is “_BATCHID”, from the cesium 3D tiles spec. I’m with you on the performance goals, that’s why we’re switching to this library. We can talk more specifically about the pull request, but my sense is that this wouldn’t impact performance unless

[2021-03-24 23:11] atteneder commented on #154
Thanks for the additional info! Not sure how popular this 3D tiles spec is, but it might just be one of those edge cases.

[2021-03-24 23:15] FreakTheMighty commented on #154
I think it is very much an edge case. I can’t imagine it’s more than a handful of people who would want that specific vertex attribute. With that said, the ability to access custom attributes generically probably has more broad uses.

[2021-03-25 12:52] JonathanB-Vobling opened #158 "URL query strings brake image format determination (with a "tested" fix)"
I had issues with files that had query strings for the images. I fixed that by changing the format determination code to this:
![SnippedGLTFastChange](https://user-images.githubusercontent.com/78907491/112475167-ce2f6c00-8d70-11eb-9140-41c17f329f8f.png)

Worked fine in a few quick and dirty tests. Don't have write access and since it (to me at least) seems like a very small fix I thought that mayb

[2021-03-28 09:45] ThimoVBE opened #159 "Question:: Theres a diffrence in how my model is viewed in editor and on Android using UnityGLTF and GLTFast?"
![temp1](https://user-images.githubusercontent.com/54366515/112748234-c2cf8100-8fba-11eb-93b7-f2bc30e587e3.PNG)
![temp2](https://user-images.githubusercontent.com/54366515/112748235-c531db00-8fba-11eb-92dd-349b570cf4f4.PNG)

As you can see in the images, when I use the UnityGLTF package, my model looks more realistic. When I use the GLTFast package my model looks a lot lighter. Any idea what may h

[2021-03-30 11:21] atteneder commented on #158
Hi @JonathanB-Vobling,

Thanks for the submission and sorry for the delayed answer (I'm on paternity leave).

Without testing it, you seem to made a good find. I'd say it's a great opportunity to learn how to make a proper contribution via PR (pull request; it might be the start of more to come ;) ). This raises the chances of your work getting accepted a lot.

1. It's always good to describe how

[2021-03-30 11:57] atteneder commented on #158
Nevermind, saw your PR #160

[2021-03-30 11:57] #158 closed

[2021-03-30 15:16] Epiczzor commented on #124
Hey not to sound pushy, but any idea how long this could possibly take ?

[2021-03-31 08:17] NickPeelman commented on #106
I used [gltfpack](https://meshoptimizer.org/gltf/) to optimize my GLTF assets. When using either of the compressions, I get:

Required glTF extension EXT_meshopt_compression is not supported!

I'm on GLTFast 3.1.0, Draco 1.4.0.

When can we roughly expect this to be implemented?

Thanks!

[2021-04-01 07:58] CGR-gio opened #161 "UnityException: get_transform can only be called from the main thread."
Hello Boss!
I used this method "CustomDeferAgent()",then run with unity.......
but it was error.  call **"UnityException: get_transform can only be called from the main thread.**"
So What should i do？

[2021-04-02 19:56] atteneder commented on #124
Thanks for your interest.

I've started a promising prototype two weeks ago (then my son was born :) )
I don't want to make promises before end of next week, but so far it looks good.

[2021-04-02 21:43] atteneder commented on #106
Hi @NickPeelman ,

First, thanks for your interest!

TL;DR: Not in my near-term planning, sorry.

gltfpack is a great, great tool, and that alone is a reason to support this extension.

However, my last comparison with Draco showed that on average it decodes MUCH faster, but is larger in size. On typical mobile connection speeds (up to LTE) this benefit does not pay off.
These comparisons involved

[2021-04-06 13:48] hybridherbst opened #162 "Valid objects cause ArgumentException: Invalid vertex attribute dimension value (0, should be [1,4])"
I'm getting an exception with a specific mesh:
[code]

What I see when debugging the exception from GltFast - looks like duplicate "position" attribute?
![210406-154326530-AppLauncher_–_VertexBufferConfig cs_ Debugger](https://user-images.githubusercontent.com/2693840/113720573-16df1180-96ef-11eb-98ba-57fd17cfc343.png)

How it looks in Gestaltor:
![image](https://user-images.githubusercontent.com/

[2021-04-07 13:11] atteneder commented on #161
How did I miss this?
Thanks for pointing it out! I corrected the sample code:

[code]

[2021-04-07 13:12] #161 closed

[2021-04-07 18:42] atteneder commented on #162
confirmed!

Bug is triggered if a mesh has two UV sets and vertex colors. This results in faulty vertex attribute descriptors.

[2021-04-07 18:49] #162 closed

[2021-04-08 09:55] atteneder commented on #159
Hi @ThimoVBE,

Not sure where the problem is, since UnityGLTF might have errors as well. I'd suggest you to get another, third "opinion": try to view it in Khronos' reference viewer, the [glTF-Sample-Viewer](https://gltf.ux3d.io) ([source](https://github.com/KhronosGroup/glTF-Sample-Viewer)) and compare it to that.

If it looks correct there, please provide a sample file and describe the expected

[2021-04-08 16:29] Blocovin commented on #137
I fork "UnityDraco" and I try to set
`defaultMeshUpdateFlags = MeshUpdateFlags.Default`
and
`defaultMeshUpdateFlags = MeshUpdateFlags.DontNotifyMeshUsers | MeshUpdateFlags.DontResetBoneBounds | MeshUpdateFlags.DontValidateIndices;`

I always got the unity error when I load a draco model (only on specific draco model)

`[Physics.PhysX] TriangleMesh::loadFromDesc: desc.isValid() failed!
UnityEngine.

[2021-04-08 16:43] atteneder commented on #137
Erm....no, nothing obvious. I'll try to look into it next week.

[2021-04-09 12:36] Blocovin commented on #137
I found the solution, in Unity 2021.2.X the error is more explicit (https://issuetracker.unity3d.com/issues/physics-dot-raycast-throws-errors-when-used-on-a-navmesh).
So in Unity 2021.2.0a12 we got error : ```mesh must have at least three distinct vertices to be a valid collision mesh```

It's a problem in our mesh, not in gltfast 😆
So I fix it with `mesh.vertices.Distinct ().Count () >= 3` check.

[2021-04-09 12:36] #137 closed

[2021-04-09 13:44] atteneder commented on #137
@Blocovin  Great you found a solution!

My suspicion is that it isn't performant though (fetching `Mesh.vertices` and doing `Distinct`). Also LINQ increases build size drastically in my experience.

I'd try to avoid this checks in production code.

regards,
Andreas

[2021-04-09 15:15] Blocovin commented on #137
@atteneder Indeed you are right it is not performant.
I use mesh.bounds.extents to check minimal requirement, it is much more performant.

3D models are send by our customer so unfortunately we must add this check in unity for the moment.

We will see if we can clean the mesh from our pipeline.

Thank you very much for your help and advice !

[2021-04-12 20:59] alexs7 opened #164 "How to load a GameObject ?"
I read the documentation, and I have a question about how to dynamically load the gltf.

The examples say:

[code]

So here:

[code]

Do you mean "Instantiate the gltf* multiple times" ?

My code looks like this:

[code]

Is this correct ?

Currently i is not working because I get with with Draco (1.4):

[code]

I am working on getting the Shaders done as the documentation says. But is the "DllNot

[2021-04-13 08:14] thiriob opened #165 "Slow loading for second model"
Hello
I load gltfs this way :
[code]
This works perfectly fine but when I load an entire new scene and come back to this loading, it becomes much slower.
The fix I found was to go to GltFast.cs line 115 and remove the static from :
[code]

This solution is ok for now but doesnt seem ideal.

[2021-04-13 09:07] atteneder commented on #164
Yes. A glTF usually consists of one or more scenes. This way you instantiate all of them. I'll change the wording to avoid confusion.

Looks good. Did you by chance install DracoUnity via GIT and didn't pull the GIT LFS files? This can be checked by looking at the size of the dracodec_unity.dll file. It should be larger than just 100-200 bytes.

[2021-04-13 09:15] atteneder commented on #165
Hi,

Thanks for reaching out.

Do you mean you load a different glTF within the same Unity scene (on top/after loading the first glTF) ?
Loading the two scenes individually (without loading another one first) is faster?

You're basically not re-using the defaultDeferAgent anymore, which might speed up individual, parallel loading files at the cost of breaking the frame-rate (in theory). But this r

[2021-04-13 09:39] atteneder opened #166 "Animation via Playables API"
Animation currently uses Unity's legacy animation system. We should investigate into using the Playables API instead. Expected improvements:

- More future proof due to not depending on obsolete/legacy animation system
- More flexible animation clip blending (e.g. playing multiple clips simultaneously)
- Customizable playable graph

[2021-04-13 10:02] atteneder opened #167 "Animation via Mecanim"
Animation currently uses Unity's legacy animation system.

Current state is that Mecanim animation system is not fully available at runtime. You can exchange animation clips at runtime via AnimationControllerOverride, but creating an entire state machine from scratch via script is limited to Editor.

For design-time import this could still be a viable option. glTFast could create a default Animati

[2021-04-13 12:51] alexs7 commented on #164
@atteneder OK thanks a lot ! I will do that (this week) and update this issue!

[2021-04-13 16:06] #124 closed

[2021-04-14 07:01] hybridherbst opened #168 "glTFast has compile errors if com.unity.testframework.graphics is present but glTFast is not in testables list"
Seems that the SamplesSetEditor lives in the package and is defined away with #if GLTFAST_RENDER_TEST (through the AsmDef), but that define is active once the Graphics Test Framework is present in a project. Now, in that particular case, I don't actually want to run glTFast tests (so it's not in the "testables" list in the manifest) - not sure what the best way is to resolve this case.

[2021-04-14 12:07] atteneder commented on #168
Oh, crap.

Thanks for pointing out.

first thought: Shat's the actual error? can we somehow prefix this code?

second thought: Should we separate testing from the main package, create a dedicated glTF-Test package and move stuff like SampleSets there. Benefit: we could expand those tests to work with other packages like UnityGLTF as well.

The solutions don't exclude each other (we could make a sh

[2021-04-14 13:15] hybridherbst commented on #168
The actual error is just
`D:\git\unity-gltf-tests\packages\atteneder-glTFast\Editor\GltfSampleSetEditor.cs(26,15): error CS0234: The type or namespace name 'Tests' does not exist in the namespace 'GLTFast' (are you missing an assembly reference?)`

I found this issue while setting up a gltf-tests repo for tests that touch on multiple GLTF solutions, so yes, I think separating those out makes sense

[2021-04-15 08:34] ThimoDEV commented on #168
I believe its a good idea to split testing from the main package. I dont think people need the testing in the package most of the time. If you have a reference in the documentation/ some sort of text file or pop up window that a testing utility is something additional to install, it would make the gltfast pacakge a bit cleaner I think.

[2021-04-15 09:17] atteneder commented on #147
Further ideas:

Providing arbitrary size limits to the loading procedure.

Expected size in memory could be hard to calculate exactly. After parsing the JSON, one could calculate roughly the final size. If textures are involved, it becomes more complicated.

Other attributes to but limits on might be:

- JSON size
- triangle count
- texture/texel count
- node/primitive count
- draw call count
- ma

[2021-04-15 09:31] atteneder commented on #168
That's true!

People who want to develop glTFast can always add the test suite. The question to me is, would the separation break anything or make it (much) less convenient to me? If so, simply fixing it might be the preferable.

I'll look into it soon.

[2021-04-16 16:14] mariosgit opened #169 "Basis texture loading"
Hello, I needed to load a basis texture and found, that the code for this is missing.

So I did some copy&paste to get the BasisUniversalTexture.LoadBytesRoutine called just like the KTX does it. So far this works for my buffer based Gltf. For url's, there might be some loading needed with the image/x-basis mime type.

Feel free to use this: https://github.com/mariosgit/glTFast/tree/mb/basis-suppo

[2021-04-19 14:49] atteneder opened #170 "`scene` property support"
The glTF JSON has a root-level `scene` (note singular) property. It defines which scene to be displayed at load time. When it is not set, nothing should be rendered by default.

See the [specification](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#scenes) for details.

[2021-04-19 16:17] atteneder opened #171 "Editor (design-time) Import"
Allow for design-time import in-Editor via ScriptedImporter.

This will allow Unity developer to accept glTF files from designers without the need to use glTF as transmission format as well.

glTF will be converted to native Unity objects (GameObject hierarchy, Materials, etc.) in the Editor already at import stage.

[2021-04-24 11:05] hybridherbst opened #172 "sRGB/Linear issue with texture indices"
This has already been fixed in https://github.com/atteneder/glTFast/tree/fix_texture_index, but opening this issue so it's not forgotten :)
Symptom is that for some models that have both albedo and normal maps, the albedo maps import as linear and the normals as sRGB, resulting in incorrect rendering.

[2021-04-29 15:33] MaxymShtoyko opened #173 "Generated bounds is too small"
Hello,

generated bounds for model from this url: " https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/BrainStem/glTF-Embedded/BrainStem.gltf" is up to 100 times smaller than the expected ones.
Does anyone have any ideas how to resolve the problem?

Thanks in advance!

[2021-04-29 16:00] atteneder commented on #173
Hi @MaxymShtoyko ,

Thanks for reporting.

This asset is an animated and has skinned meshes, which is probably the factor that sets it apart. I'll look if the error is in the file or glTFast calculates it wrong (presuming the latter).

For an animated object it is hard to define and calculate the bounds. Should they cover the object at the starting frame? or rest position? or encapsulate all keyfr

[2021-04-29 16:23] anupamdas2012 commented on #107
Revisiting this topic. Any progress/interest in furthering this effort?

[2021-04-29 16:26] atteneder commented on #107
Hi,

sorry to keep you waiting. It is high on my list, but I'm quite busy atm. I've read the extension spec and I'm confident it's quick to implement. I'll start next week.

[2021-04-29 18:18] anupamdas2012 commented on #107
No worries, the support you have provided already to this project is
amazing. I look forward to next steps. Thanks!

On Thu, Apr 29, 2021 at 11:26 AM Andreas Atteneder ***@***.***>
wrote:

[2021-04-30 12:59] MaxymShtoyko commented on #173
hi @atteneder,
it will be fine for me even if bounds cover the object only at the starting frame

[2021-05-03 14:28] atteneder commented on #172
Thanks for the heads up! Did I give you this to test and forgot to merge?
Sorry about that.

[2021-05-03 14:33] atteneder commented on #164
Assuming it works (re-open if not)

[2021-05-03 14:33] #164 closed

[2021-05-03 14:41] atteneder commented on #169
Hi @mariosgit ,

Thanks for your contribution and sorry for the late response.

Do you mean loading of textures using the basis container ( .basis extension) ?

Since this is not part of the `KHR_texture_basisu` extension (and no other I know of) it is not implemented (anymore) deliberately. As far as I remember before this extension was ratified, some used to use the basis container as well as KT

[2021-05-03 14:41] #169 closed

[2021-05-03 17:37] hybridherbst commented on #172
Think so! I did test and it fixes the issue :)

[2021-05-05 10:45] #173 closed

[2021-05-05 10:47] atteneder commented on #173
I assume you were using `GltfBoundsAsset` and you were referring to it. Well, I found that only the bounds of the first primitive was considered (a mesh can have multiple primitives and in this scene it's basically just one node/mesh holding all the primitives)

[2021-05-05 11:06] #172 closed

[2021-05-10 07:16] levin1902 opened #174 "Crashing Unity while downloading glb"
When i try to download the following *.glb model from server using Gltfast 3.2.0, Unity crashes. But, when i tried to download the same model from older gltfast version 1.1.1 it worked.
[https://coobo.azureedge.net/assets/AE668B32-D02A-4A57-9FE5-4FE182A86400/713BCDC2-0D53-43A7-AB07-87ED0B0449E5.glb](url)

Unity - 2019.4.13f1
Gltfast - 3.2.0
Draco - 1.4.0

[2021-05-11 12:53] NeluQi opened #175 "Question BIM and GLTF for mobile"
Hello everyone. Thanks for the great tool, I hope it will continue to evolve.

I use it with BIM models (Autodesk models, autocad, etc.). Models are loaded in real time. Models are prepared from ifc (ifc to gtlf). The model is split into many GLTF files (I try to make files up to 200 mb, but in some cases there may be one large gltf file> 1 gb) My models can be really large and with a lot of objec

[2021-05-11 15:55] hybridherbst opened #176 "Texture with "clamp" mode does not work when vertically flipped"
I think this is an issue with how the "vertical flip" is implemented in Shader Graph right now;
a texture that is set to "clamp" with a y=-1 flip due to the import will look incorrect (all UV area is out of bounds and thus clamped).
Repro file is attached.

[062-Thumbnail-0.0.0.1.etc1s+draco - BUGREPORT.zip](https://github.com/atteneder/glTFast/files/6460466/062-Thumbnail-0.0.0.1.etc1s%2Bdraco.-.B

[2021-05-11 18:05] atteneder opened #177 "Support aborting loading procedure"
It should be possible to abort the loading procedure at any state without any errors or undisposed resources. All memory should be deallocated properly.

[2021-05-12 19:12] prenex opened #178 "Noob question? Namespace not found from code after successful install otherwise (installed via the package manager)"
Hi!

I have no idea why this is, but after (hopefully properly) following the steps for installation, unity and compiler does not seem to see the gltFast package at all.

Quite interestingly I can see the code they do not find in the "Project" view (see attached image about this and error message).

See:
https://pasteboard.co/K1AEBuC.png

Also quite interestingly I can even use "Add Component" to

[2021-05-12 19:58] atteneder commented on #174
Hi @levin1902 ,

Thanks for reporting and sorry for the inconvenience.

I successfully loaded it in this setup:

Unity 2019.4.26f1 (macOS Intel)
glTFast 3.2.1
Draco 1.4.0

![image](https://user-images.githubusercontent.com/2593014/118036528-f6991700-b36c-11eb-8b7d-5dde547a8f60.png)

Do you mean the Unity Editor crashes in playmode or your build crashes? In any case, which platform are you on?

[2021-05-12 20:16] atteneder opened #179 "Dispose GltfImport (only) while keeping instances intact"
After all desired instantiations are done, the `GltfImport` could be Disposed. The current mechanism would dispose resources (like materials, meshes and textures) as well, breaking all instances.

An alternative Dispose that leaves instances intact could free up some memory.

[2021-05-12 20:29] atteneder commented on #175
Hi @NeluQi ,

Thanks for you interest!

Sounds like a great challenge :)
The largest file I tested so far was a single mesh 2GB (75 mio triangles) file.

There's an extension called [EXT_mesh_gpu_instancing](https://github.com/atteneder/glTFast/issues/107). Support for it was implemented just this week and will be released soon.

There's been demand for [providing a memory limit](https://github.co

[2021-05-12 20:32] atteneder commented on #175
Currently glTFast should be backwards compatible back to 2019.3. For sure it works on 2019.4 LTS (mainly developing on that version) and tested on 2020.3 LTS and 2021.1 as well.

Regarding render pipelines: BuiltIn, URP and HDRP should all work fine. At some point URP and HDRP will get better support or more features.

[2021-05-12 20:37] atteneder commented on #178
Hi @prenex ,

If your script is part of (in the same folder as) an assembly definition, you should check if your assembly definition references the glTFast runtime assembly. Read more about [assembly definitions](https://docs.unity3d.com/Manual/ScriptCompilationAssemblyDefinitionFiles.html).

Otherwise it would help if I can see some demo code that's not working.

[2021-05-12 20:48] avseoul opened #180 "Unlit shader that supports transparency"
Hi, I'm trying to replace the current unlit shader with a custom one that supports transparency. What would be the best way to let GLTFast uses custom unlit shader over `glTFUnlit.shader`?

Custom shader code is something like this:
[code]

Thanks in advance!

[2021-05-12 21:09] atteneder commented on #180
Hi @avseoul ,

Thanks for getting in touch!

In case your version only adds features/improvements without any drawbacks it would be great to just replace the original with your improved version. In order to make your changes easy to inspect and test, please open a PR (pull request; read the [github documentation](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-p

[2021-05-12 21:10] atteneder commented on #180
In any case: let me know how you want to proceed. Thanks

[2021-05-12 21:23] prenex commented on #178
In the meantime I debugged the stuff like crazy and went a big circle:

1.) Tried all the usual "unity-ism": reimport, retry, restart, whatever
2.) Grabbed all your source codes from the package to some dir(*).
3.) Removed the package via package manager.
4.) Manually copied your sources over into some scripts subfolder somewhere from (TMP)
5.) It then complained about Unity.Mathematics in a simil

[2021-05-12 21:25] prenex commented on #178
TL;DR: For some reason unity might not add a reference automatically, so all I had to do is to look at my own main asmdef file

and change this:
`"references": [],`
into this:
`"references": ["Unity.Mathematics", "glTFast"],`

manually for some reason. I am not sure if this is expected or is some unity glitch, but you can avoid the above lengthy debugging with this I hope in case any reader has er

[2021-05-12 21:26] prenex commented on #178
Will now test how loading works and if it also works on some device :-)

[2021-05-12 21:43] avseoul commented on #180
Hi @atteneder

Thanks for the fast following up! That works!

RE: PR for changes - Thanks for the suggestion. Happy to contribute! It might be useful for models that don't have any PBR parameters but still have transparency. I'll prepare a PR and link this issue

[2021-05-12 21:56] avseoul commented on #180
It seems I need a permission. Branch is ready, I'll push it when the permission is granted. Thanks

[2021-05-12 22:07] prenex commented on #178
Works fully - both on the PC and my "device" except that I have now unrelated issues with material not showing up on the device (but it shows on a PC - likely some of the shaders, but this is separate issue, closing this one)

[2021-05-12 22:07] #178 closed

[2021-05-12 22:19] atteneder commented on #180
The usual procedure is not to give people permission to the main repository. Instead try creating a fork (button on the upper right), clone your personal fork (or add your remote to the local repository), make your changes (in a branch ideally) and push them to your fork. After that GitHub will detect your push and recommend creating a PR on top.

hth

[2021-05-12 22:21] atteneder commented on #180
This might seem tedious at first, but don't let it intimidate you. Learning to contribute to projects is great and opens many possibilities.

[2021-05-12 22:24] atteneder commented on #178
Great that you found the solution!

Regarding materials "not working" in builds: please make sure to read [THIS SECTION](https://github.com/atteneder/glTFast#materials-and-shader-variants) very carefully.

hth

[2021-05-12 22:52] prenex commented on #178
Thank you for that tip!

What I did was to add the gltf/PbrMetallicRoughness and gltf/PbrMetallicGlossiness and also the "unlit" shader to the "project settings / graphics / always included shaders" already, but build is still going on and going on...

As you describe it now, there are many-many variants. It was not sure for me that this glTFast works with shaders and thought maybe one could get a

[2021-05-12 23:40] avseoul commented on #180
You got it. I'll give it a try

[2021-05-13 06:10] levin1902 commented on #174
Crashed in Unity Editor in playmode. Platform - Android.
Will update to 3.2.1 and check.

[2021-05-13 07:16] levin1902 commented on #174
@atteneder Tried with 3.2.1,
**Crashes** in Unity 2019.4.13f1 (Editor, playmode)
**Works** in Unity 2019.4.21f1 (Editor, playmode)

OS - Windows
Processor - i7
Build Platform - Android

* I guess, the issue is because of Unity version.

[2021-05-13 07:51] umresh opened #182 "GetMesh bounds after loading."
Hi @atteneder is there a way to get the mesh bounds? Or where can I add mesh bounds calculation while mesh creation.
I tried adding calculation of mesh bounds after loading the model but It hangs unity when the high poly object is loaded.

Thanks

[2021-05-13 07:56] atteneder commented on #182
Have a look at [`GltfBoundsAsset`](https://github.com/atteneder/glTFast/blob/main/Runtime/Scripts/GltfBoundsAsset.cs), specifically its [`bounds`](https://github.com/atteneder/glTFast/blob/32a81867bda08d66875b6abeb0c72f8a65560840/Runtime/Scripts/GltfBoundsAsset.cs#L29) member.

[2021-05-13 07:56] #182 closed

[2021-05-13 08:17] #174 closed

[2021-05-13 14:04] NeluQi commented on #175
Thank you so much! You have painted everything in great detail, thank you!

[2021-05-13 14:19] NeluQi commented on #175
I will add about large coordinates. In my projects, the accuracy is very high. As I understand it, Unity works with float. And models are made where double is used (for displaying on a desktop PC, the "Unigine" engine is used). Here is an example of coordinates Vector3 (-20078.8867,264630.313, -176.036148) (They are taken from the unit, and most likely they are cut off during conversion)
![image](

[2021-05-13 14:27] NeluQi commented on #175
And one more thing. I am using Unity version 2020.3.8f1 (LTS). I actively use glTFast, I have not noticed any problems.

This is for informational purposes only.

[2021-05-14 06:12] NeluQi opened #183 "DracoUnity 2.0.0 support"
DracoUnity v2.0.0-preview with glTFast not supported?

![image](https://user-images.githubusercontent.com/16963395/118229208-49b9b980-b494-11eb-8f59-82fb67078a4d.png)

https://github.com/atteneder/DracoUnity/releases/tag/v2.0.0-preview

There are nice changes: "Experimental encoding support (ability to convert Unity Meshes into compressed Draco)"

[2021-05-14 09:11] atteneder commented on #174
Hi @levin1902 ,

could you get it to work? Did you find out the problem?

[2021-05-14 09:44] atteneder commented on #175
Yeah, the 32bit float transforms are a Unity limitation....I'll ask around if there are ways around it, but I don't think it's as easy as flipping a switch.

[2021-05-14 09:47] atteneder commented on #183
Yes, DracoUnity 2 requires some changes to glTFast (which I'm working on already).

Yes, this one's really cool 😎

[2021-05-14 12:09] levin1902 commented on #174
Hi @atteneder
could you get it to work? - Yes. Updated to 3.2.1 and tried it in Unity 2019.4.21f1. It worked.
Did you find out the problem? - No. But, will try to find out.

[2021-05-14 12:11] atteneder commented on #174
That's great to hear!
In case we missed something and it re-surfaces it would be great if you'd reopen the issue.
Thanks!

[2021-05-17 12:38] umresh commented on #182
Thanks for the reply, Tried the GltfBountsAsset, and the model is instantiated twice.

` async void Init()
    {
        string url = @"https://raw.githubusercontent.com/CesiumGS/cesium/master/Apps/SampleData/models/CesiumMan/Cesium_Man.glb";
        GameObject intantiatedObject = new GameObject("Model");
        GLTFast.GltfBoundsAsset gltfAsset = intantiatedObject.AddComponent<GLTFast.GltfBounds

[2021-05-19 14:13] atteneder commented on #180
It's merged. Thanks you very much for your work!

[2021-05-19 14:13] #180 closed

[2021-05-20 13:20] rlatif97 opened #185 "beginner's question: Unable to load textures after build for PC standalone in Unity"
Hi Andreas,

I have setup your library and I tried to load a gltf model(exported from blender) at runtime which works fine with unity. However, when I build a PC, Mac& Linux Standalone app and run it independent of Unity, the textures do not load. I just get a pink model which does not have any textures on it.

I am using Unity 2019.4.19f1 and I am loading from the memory using `async void LoadGlt

[2021-05-20 14:28] #185 closed

[2021-05-20 14:29] rlatif97 commented on #185
Answer found in documentation.

[2021-05-20 21:14] atteneder commented on #185
Hi Rohan,

Great that you found a solution on your own! Taking a look into the docs first is best practice. If you find no answer there nor an existing issue, raise a new one.

kind regards

[2021-05-21 00:53] atteneder commented on #182
Hi @umresh ,

Thanks for reporting! It would have been better to create a dedicated issue though (or reopen this one). Now this went under the radar.

Luckily it's fixes in [3.3.1](https://github.com/atteneder/glTFast/releases/tag/v3.3.1) now.

hth

[2021-05-21 01:40] #12 closed

[2021-05-21 01:40] #107 closed

[2021-05-21 01:40] #168 closed

[2021-05-21 01:40] #170 closed

[2021-05-21 01:46] #183 closed

[2021-05-21 01:49] #171 closed

[2021-05-21 12:31] NeluQi opened #186 "Draco 3D Data Compression version 2.0.0 and 3.0.0"
![image](https://user-images.githubusercontent.com/16963395/119136984-fa9df680-ba48-11eb-9ca3-be98dfe99633.png)
![image](https://user-images.githubusercontent.com/16963395/119137209-3a64de00-ba49-11eb-9e2d-432b5dc6b2de.png)

It seems to have been fixed in the latest versions, but errors keep popping up

[2021-05-21 12:50] atteneder commented on #186
It will be fixed in the upcoming version 4.0.0

Draco 2.x and 3.x have breaking changes and won't work with glTFast 3.x

[2021-05-21 17:24] anupamdas2012 commented on #175
@atteneder  DUDE!! you rock!! thanks for turning this around so fast. If you have a patrion or something please let me know. Happy to support your efforts. By far this is the best GLTF library for unity.

[2021-05-21 17:25] anupamdas2012 commented on #107
@atteneder <https://github.com/atteneder> DUDE!! you rock!! thanks for
turning this around so fast. I can't wait to test this. If you have a
patrion or something please let me know. Happy to support your efforts. By
far this is the best GLTF library for unity.

On Thu, May 20, 2021 at 8:41 PM Andreas Atteneder ***@***.***>
wrote:

[2021-05-21 17:35] atteneder commented on #107
Thanks for the kind words ❤️ Much appreciated!
Feel free to support me by contributing (like reporting issues for example) and spreading the word.
Cheers!

[2021-05-21 21:14] #186 closed

[2021-05-24 16:18] NeluQi opened #187 "mesh 90x rotate"
It seems MeshCollider broke on version 4.0.0. They are not rotated correctly

Green is an object, blue is a mesh

mesh rotated 90 x

This behavior is in real time.

meshGo.AddComponent <MeshCollider> (); I do in AddPrimitive (IInstantiator)

![image](https://user-images.githubusercontent.com/16963395/119376338-7eafe280-bcc4-11eb-9596-b36557f281ed.png)

[2021-05-24 16:18] NeluQi commented on #187
How can this be fixed?

[2021-05-24 16:23] NeluQi opened #188 "Surface bug and PbrMetallicRoughness"
Some surfaces only render on one side when using PbrMetallicRoughness

![image](https://user-images.githubusercontent.com/16963395/119376969-3ba23f00-bcc5-11eb-994d-68c9873c7bf6.png)

On the other hand, the object is not transparent
![image](https://user-images.githubusercontent.com/16963395/119376980-3e9d2f80-bcc5-11eb-9257-e44db55bd559.png)

Surface renders fine when using glTF / Unlit
![image](

[2021-05-24 16:24] NeluQi commented on #175
Is there any progress?

[2021-05-24 16:28] #187 closed

[2021-05-24 16:29] NeluQi commented on #187
The problem was still in the 180th turn Y

[2021-05-24 16:54] atteneder commented on #188
Thanks for reporting.
In glTF (or real-time rasterization in general) rendering only the front side of triangles is the default. If you want both sides to render, make sure the materials have the [`doubleSided`](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#double-sided) property set to `true`. If you only want the outside to render, make sure the normals of the roof

[2021-05-24 17:06] atteneder commented on #175
Regarding double precision transforms...unfortunately not. Expect an update on this later this year.

If you absolutely need a solution earlier, you could create a system of your own, that converts transform per-frame to minimize (clip space) precision loss, but that's probably some work.

glTFast then would have to pass on transformation data in double precision as well. I'd be willing to write t

[2021-05-24 17:34] atteneder commented on #187
Great, I'm glad you figured it out!

[2021-05-26 13:43] atteneder opened #189 "Fuzz Testing"
Make the library more robust and secure by [fuzzing](https://en.wikipedia.org/wiki/Fuzzing) it.

We have to look into existing fuzz frameworks and how to integrate them with existing tests.

[2021-05-27 06:43] #188 closed

[2021-05-28 18:43] uyjulian opened #190 "Support straight copy of vertex buffer without transformations"
Right now, transformations are done to the vertex data buffer:
For positions, the X position is negative
For UV, the V position is inverted (`1-v`). This may break mirror wrapping mode when the V position is at 0

May I suggest doing these transforms by setting the scale to negative on the Unity `Transform` component or the TexEnv parameter of Shader instead of the vertex buffer.

[2021-05-28 18:47] uyjulian opened #191 "Support keeping data type of vertex buffer without converting to floating point"
At the moment, when using an asset using the features of `KHR_mesh_quantization` extension, it will convert from normalized integer to `VertexAttributeFormat.Float32`.

I'd like to suggest passing through the following vertex formats whenever possible:

* `5121` (UNSIGNED_BYTE) - `VertexAttributeFormat.UNorm8`
* `5120` (BYTE) - `VertexAttributeFormat.SNorm8`
* `5123` (UNSIGNED_SHORT) - `VertexAttr

[2021-05-28 18:58] atteneder commented on #191
Hi @uyjulian ,

Thanks for your interest. This, along with preserving the overall vertex buffer stream layout and using MeshDataArrays is definitely desirable and should be evaluated. Just as a heads-up, this will not happen short-term as there are more urgent features to add.

regards

[2021-06-01 07:51] umresh opened #192 "Issues in loading glb after updating to 4.0"
Hi,
   I have updated to 4.0 and Draco to 3.0 using OpenUPM and when I load the .glb I'm facing issues. If I add packages using git URL old version of  Draco package is loaded.

-- Using --
Unity 2019.4.21
Mac OS

<img width="1325" alt="Screenshot" src="https://user-images.githubusercontent.com/6183803/120286524-f771f880-c2db-11eb-8be9-8eea196df129.png">

[2021-06-01 08:35] Blocovin commented on #192
Hi @umresh,
Do you target WEBGL or IOS platform ?

I got same problem when I target IOS platform so I create a pull request : https://github.com/atteneder/DracoUnity/pull/22

You can test the pull request by edit `manifest.json` with :
https://github.com/bloc-in-bloc/DracoUnity.git#v3.0.3

[2021-06-01 08:50] umresh commented on #192
My target is Android.
This is the file
[GLB](https://coobo.azureedge.net/assets/A165DBA0-DDF3-11EA-9DE0-2BE9E0078026/3CF8E7DB-7B07-4278-B40D-F579216DBD91.glb)

[2021-06-01 08:53] umresh commented on #192
I'm using Mac Unity 2019.4.21 and the target is Android. I'll try the above fix and update.

[2021-06-01 08:58] Blocovin commented on #192
Hum ok, the pull request will not fix your issue I think...

[2021-06-01 09:29] umresh commented on #192
Still getting the

![Uploading Screenshot 2021-06-01 at 2.58.39 PM.png…]()
same error.

[2021-06-02 06:33] Blocovin commented on #192
Do you have burst installed ?

[2021-06-02 20:11] Bersaelor commented on #133
Thank your for the addition of loading via [gltf.LoadGltfBinary](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/glTFast.md#load-from-byte-array). That works and has solved my use case.
Sorry for not being around, was working on other projects for a while.

[2021-06-02 20:11] #133 closed

[2021-06-04 09:51] atteneder opened #193 "Content based glTF-binary detection"
Currently the type of glTF file (JSON based or .glb binary) is detected from either the URI (extracting extension) or the `Content-Type` HTTP header field.

A better solution would be to detect it based on the content, specifically the first few bytes. If those are `0x46546c67` ( `glTF` in ASCII), then it's a glTF-binary.

A possible solution is a custom DownloadHandler (for UnityWebRequests) or a

[2021-06-09 08:31] umresh commented on #192
yes its installed. I fixed it. We were using another plugin Trilib to load .fbx removing it fixed the issues.

[2021-06-09 10:31] atteneder commented on #192
Oh no. I've heard this before. Seems like Trilib includes a copy of the dracodec_unity library (not sure if the original or from my fork) which is in conflict with DracoUnity's version.

I'd ecourage you to file an issue to Trilib asking them to fix it on their end. The reason: DracoUnity is build with modularity in mind whereas Trilib is one big package. It would be easy for them to either use Dr

[2021-06-09 19:57] atteneder opened #194 "`GltfImport` shoud implement `IDisposable`"
It already has a `Dispose` method.

This issue is about investigating if adding the `IDisposable` interface to `GltfImport` is useful and feasible. It should be looked at in conjunction with #177 .

Potential benefit:

- Allow usage of `using`
- Add additional memory leak checks

[2021-06-09 23:17] lizelive opened #195 "Google Poly Model fails silently to load from URL, filesystem, streaming asset but works when loaded as asset."
here is url to model for reference.
This model is from google poly.
https://ipfs.io/ipfs/QmfWBanKx2cMy6BU93C5NmgDUcnNGSpcgB3nprDbNsRjNt/model.gltf
obviously something about the gltf is causeing a problem but how might i figure out what?

[2021-06-10 09:23] atteneder commented on #195
Hi @lizelive ,

Thanks for reporting!

This glTF file does not specify a default scene. According to the glTF specification the correct behavior in that case is to not instantiate any object/scene. You can circumvent this by either:

- Specifying a default scene by adding a `scene` property to the glTF JSON
- Defining a scene ID to load

In the `GltfAsset` component this can be done like so:

<img

[2021-06-10 09:23] #195 closed

[2021-06-10 11:10] #176 closed

[2021-06-18 07:43] ketourneau opened #197 "Excessive batches when we update GltFast 2.1 to 4.0 (low fps)"
Hi,

We have automated benchmark and we see fps regression when we update GltFast 2.1 to 4.0 (we got excessive batch).

GltFast 2.1
- 19980 batches
- 674 batches after optimization (StaticBatchingUtility.Combine)
- 50 FPS

GltFast 4.0
- 20056 batches
- 758 batches after optimization (StaticBatchingUtility.Combine)
- 45 FPS

In both GltFast version we got
- Vertices: 16 499 855
- Triangles: 8 869 5

[2021-06-18 23:03] De-Panther opened #198 "Warning message for Animation.cs"
Unity show this warning for https://github.com/atteneder/glTFast/blob/6764cf26b9bbee340ce94cac6367c8bfbc3c086b/Runtime/Scripts/Schema/Animation.cs
[code]
![image](https://user-images.githubusercontent.com/4749703/122622813-92bbe980-d0a2-11eb-842b-5cd1d9b3acaf.png)

I guess renaming the script file would solve the warning

[2021-06-19 07:33] ghalexxxx opened #199 "Question: Is there a timeline for implementing Morph targets?"
Thank you very much.

[2021-06-19 18:30] De-Panther commented on #198
Got the same warning for Camera
![image](https://user-images.githubusercontent.com/4749703/122652080-7755ea80-d145-11eb-9780-96149ec6f137.png)
https://github.com/atteneder/glTFast/blob/a9e30e81f7ef6ac6f6d79fd68ff13d12b316a164/Runtime/Scripts/Schema/Camera.cs

[2021-06-21 08:31] atteneder commented on #197
Hi @ketourneau ,

Thanks for providing this insight.

Unfortunately I cannot think of anything, that could cause this behavior. Are these results reproducable? Could you provide a sample project demonstrating this?

Regards

[2021-06-21 08:53] atteneder commented on #198
Hi @De-Panther ,

Thanks for reporting!

Strange, I think I got the warning (about `Animation`), but removed them by renaming it to `GltfAnimation`. Since the warnings don't show up for me (in the Editor at leats), can you tell me how to reproduce them?

- Unity version?
- glTFast version?
- Active build target / platform
- Do those errors appear at build time or in Editor in general?

Thanks

[2021-06-21 09:18] atteneder commented on #199
Thanks for your interest,

Morph targets was never requested before (you're the first one), so they didn't get prioritized.

I'm optimistic to be looking into them soon, since it's one of the last glTF 2.0 core spec features missing (after 2+ UV support, which is already in the making).

Please subscribe to #8 to get updates.

[2021-06-21 09:18] #199 closed

[2021-06-21 20:42] push-pop commented on #8
Hi just wondering if there has been any movement on this, or what it would take to implement? I'm working on a project right now and trying to implement your library but got a bit stopped in my tracks because we are using blendshapes.

Happy to help/contribute if I can! We need this feature at least with our current setup.
-n

[2021-06-22 08:22] atteneder commented on #8
Hi @push-pop ,

Thanks for your interest!

What's probably missing from your list is retrieving the actual sparse accessor's data.

Also, I haven't looked into how the Unity Mesh API is used to create blend shapes. I'll try to read it up this week.

[2021-06-22 21:30] De-Panther commented on #198
I guess it's a bug in Unity, as those are not even `MonoBehaviour` classes.

Unity 2020.3.11f1.
glTFast 4.0.1.
WebGL
They happen in Editor, after deleting the Library folder and opening Unity (so it's like a first load of the project)

[2021-06-22 21:41] De-Panther opened #200 "Coordinate system in 4.0.0+"
I updated to 4.0.0 (and 4.0.1).
While in general, rotating models by 180 degrees on Y axis works fine, I had issues with complex models.

I have poses (position + orientation) of hands joints in Unity's coordinate system, and I'm using these models:
https://github.com/immersive-web/webxr-input-profiles/tree/main/packages/assets/profiles/generic-hand
Before, applying the poses using Unity's coordin

[2021-06-22 22:41] atteneder commented on #200
Hi @De-Panther ,

Thanks for reporting.

IMHO 50 rotation conversions aren't too bad. What system provides the pose rotations and in which format (euler/quaternion? coordinate system?). Would you mind pointing me to your conversion code? Maybe it helps me figuring out a good way.

I'd prefer to keep the number of options as low as possible. In case of coordinate system I don't see a strong enough

[2021-06-22 23:01] De-Panther commented on #200
Thanks for the great package and the help.

I'm trying to have my calcs as low in numbers as I can (I do know that I have other places to optimize) as it runs on WebGL on Mobile...

This is the commit with the current fix:
https://github.com/De-Panther/unity-webxr-export/commit/4a56774965443bd82a95494319b372f2cfdf8b98
What happens there:
I load controllers models, rotate them by 180 using another

[2021-06-22 23:08] De-Panther commented on #200
Is it possible that it's just a bug in glTFast regarding to orientation of child joints?

[2021-06-23 08:20] atteneder commented on #200
I'd say no. In itself the model is consistent. glTFast *has* to do a coordinate system conversion (since glTF and Unity have different systems) and it's a design question which way to do it. The new (4.x) way is correct/more precise according to the spec.

What I'd do in your position:

- Profile if the additional processing actually has a negative impact. An additional quaternion multiplication a

[2021-06-23 17:25] De-Panther commented on #200
Those are not models that made by me, those are controllers and hand models created by manufactures and creators to dynamically load on runtime in WebXR experiences.
In the case of the hands models, there are the generic ones, but there are more with the same structure in different themes.

Rotating the hands by 180 degrees won't solve it. The modeler would have to rotate each joint separately for

[2021-06-23 17:47] De-Panther commented on #200
Installed blender, imported right hand GLB to blender, exported as FBX.
Loaded the FBX in Unity, and the GLB with glTFast 4.0.1 and they have the same orientations 😱

[2021-06-23 18:29] De-Panther commented on #200
My bad. Sorry about that issue.
I'll try to figure out if there's a cost effective mathematical solution after importing.

[2021-06-24 08:12] ketourneau commented on #197
Hi @atteneder ,

After some more test, we got x2 in CPU & render thread.
We attach the project to reproduce (we don't add optimization, we only use GltFast).

- [GltFast 2.1 project](https://github.com/atteneder/glTFast/files/6707437/GltFast.zip)
<img width="312" alt="GltFast" src="https://user-images.githubusercontent.com/39763266/123226282-cdbf8200-d4d3-11eb-9530-4e2f67db3e95.png">

- [GltFast 4

[2021-06-25 15:20] atteneder commented on #200
Oh, don't worry. Better opening a non-issue too much than not detecting an actual one.

I quickly tried to optimize the flipping:

[code]

Even better: flipping in-place (one float temporary garbage allocation instead of four):

[code]

use like so:

[code]

hth

[2021-06-25 15:20] #200 closed

[2021-06-25 15:42] De-Panther commented on #200
Thanks!

[2021-06-25 15:52] #198 closed

[2021-06-29 05:37] dhawalbanker opened #201 "Distorted CesiumMan walking animation"
Hi.. I was going through the web demo, noticed CesiumMan walking animation is distorted near both the armpits.

Demo link: https://gltf.pixel.engineer/
Content: https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/CesiumMan/glTF-Binary/CesiumMan.glb

[2021-06-29 08:29] atteneder commented on #201
Hi @dhawalbanker ,

Thanks for reporting. Maybe it's a bone number limit in the quality settings? Is it the same in the Editor?

[2021-06-29 19:22] push-pop opened #202 "KTX files not loading / extension not documented"
Hello, I am having trouble understanding how to get basis encoded textures to work. I have KTX/Basis Texture installed through the package manager and glTFast installed via git submodule.

KTX_UNITY define seems to be true, but TextureExtension.KHR_texture_basisu is null. I couldn't find any documentation for how to enable this extension so I am making an issue to either get some documentation in