[2021-06-29 19:24] push-pop commented on #202
As soon as I wrote this I answered my own question...
It would appear that you need to add the extension to the schema as documented in the link below. Closing Issue.

https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Khronos/KHR_texture_basisu/README.md

[2021-06-29 19:24] #202 closed

[2021-06-30 00:43] push-pop commented on #8
Hi @atteneder just wondering if you had a chance to look at this stuff yet.

I forked the repo and I am starting to dig in but I am having a hard time
wrapping my head around the code for loading data

So I see that morph targets are in an array on each primitive. I made a new type which deserializes the accessor index for each morph attribute. (Position, Normal)

![image](https://user-images.gith

[2021-06-30 06:22] dhawalbanker commented on #201
Thanks, @atteneder for the quick response. Yup, it's buggy in the editor as well.

[2021-06-30 17:07] Bersaelor opened #203 "Problems resolving package dependencies when importing glTFast into custom package [Question]"
Hey there, as the crowd here is super helpful, some of you may have done this before:

I'm trying to refactor some of our common code that uses gltf's into a custom package, to be shared by Unity Projects.

Now, my package.json looks like this:

[code]

Yet, when I import this package into a unity project I get:

[code]

I'm assuming this is a general UPM issue, not necessarily gltFast, but I thou

[2021-06-30 18:20] atteneder commented on #203
Hi @Bersaelor ,

good question! Unfortunately I never implemented a (hard) package to package dependency involving a scoped registry.

If nobody answers here I'd try the Unity forums. Let me know if you find a solution!

Thanks

[2021-06-30 18:48] Bersaelor commented on #203
thanks @atteneder , I posted a question in the forums: https://forum.unity.com/threads/third-party-package-dependency-for-custom-local-package-not-working.1134247/

It seems hard to find any solutions for this via google, because a lot of questions are very basic or from a time when Unity's UPM was still in beta prior to `2018.3`.

[2021-06-30 19:13] Bersaelor commented on #203
Ok, so since `openupm` didn't work from the command line, what I had to do was add
[code]
  manually to the main projects `manifest.json`. So Unity just ignores the `scopedRegistries` in the `package.json` of the local package and you have to add it manually.

[2021-06-30 19:13] #203 closed

[2021-07-02 12:47] atteneder opened #205 "Async Scene Instantiation"
Currently scene instantiation is synchronous. For large scenes this can be troublesome, since it can take very long and the frame rate will suffer.

Therefore scene instantiation should be preemptive and async. Additionally it should be possible to abort instantiation any time.

[2021-07-05 13:34] atteneder commented on #201
This is indeed a quality setting issue!

To avoid this artifact, go to `Project Settings` > `Quality` > `Other` > `Skin Weights`, make sure it is set to `4 Bones` or `Unlimited` for **every** Quality level you have. Note: this will have a performance impact, this it is limted on lower quality settings by default.

[2021-07-05 13:34] #201 closed

[2021-07-05 15:44] atteneder commented on #201
Another note:

Another factor that might make artifacts worse is when joints are not sorted by weights. In that case I suspect it's possible that the most significant joint (with the highest weight) is not considered, since it's not in the first slot.

Not all joints are sorted in CesiumMan.gltf are sorted properly, but I tried sorting them and it didn't make much of a difference when it comes to

[2021-07-05 16:43] atteneder commented on #8
@push-pop I have to say you seem to be on a good way!

I'm looking at this myself now and admitted, it's not super straight forward :)
glTFast has a couple of designs in place that aim to prevent duplication of data (like clustering similar mesh primitives). This adds additional layers of abstraction which are quite an obstacle for newbies to this code-base. I'm currently trying to figure out the

[2021-07-06 05:30] atteneder opened #206 "Support for more than two UV sets"
Although the glTF spec requires to support at least two, meshes can have more than two UV sets (TEXCOORD_1) that materials can use via `texCoord`. See the [documentation](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#meshes)

This is considered lowest priority, since there's no demand (zero requests) and it potentially makes the shaders more complex (or adds a significant amou

[2021-07-06 05:31] atteneder commented on #34
Follow up issue for more than two UV sets: #206

[2021-07-06 05:50] #34 closed

[2021-07-06 05:59] atteneder opened #207 "Extension KHR_materials_ior"
Add support for material extension [KHR_materials_ior](https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Khronos/KHR_materials_ior/README.md)

This extensions allows users to set the index of refraction to a certain value.

[2021-07-06 06:00] atteneder opened #208 "Extension KHR_materials_specular"
Add support for extension [KHR_materials_specular](https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Khronos/KHR_materials_specular/README.md)

This extension adds two parameters to the metallic-roughness material: specular and specularColor.

specular allows users to configure the strength of the specular reflection in the dielectric BRDF. A value of zero disables the specular refle

[2021-07-06 06:02] atteneder opened #209 "Extension KHR_materials_volume"
Add support for extension [](https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Khronos/KHR_materials_volume/README.md)

[2021-07-06 11:02] #192 closed

[2021-07-06 11:04] atteneder commented on #165
Please provide a sample file/project and re-open.

[2021-07-06 11:05] atteneder commented on #159
Please provide a sample file and re-open

[2021-07-06 11:05] #159 closed

[2021-07-06 11:09] atteneder commented on #123
Please provide the information I asked for and re-open

[2021-07-06 11:09] #123 closed

[2021-07-06 17:35] push-pop commented on #8
Thank you!

Yes I think I might have hit the limit of what I can do without asking a million questions. Really hoping to switch over to this library as it seems much cleaner and more extensible than the Khronos one. Plus already using your Basis lib. Unfortunately this is the one feature missing that we absolutely need. Do let me know if I can be of any assistance :)

[2021-07-06 17:52] atteneder commented on #8
Good news, a first simple morph targets prototype is working!
See first (edited) post for details

[2021-07-08 03:28] dhawalbanker commented on #201
Thanks @atteneder !

[2021-07-08 08:23] ketourneau commented on #197
Hi @atteneder,

Did you have time to look at the regression between GltFast 2.1 => GltFast 4.0 ?

[2021-07-08 16:24] atteneder commented on #153
While implementing animated morph targets I noticed that the current behavior makes the task harder.

An weights animation clip drives a glTF node/mesh. Since glTFast splits up primitives into separate meshes and parents them underneath the original mesh node, all animation curves have to get duplicated with a fitting animation path.

Another reason to fix this at some point.

[2021-07-08 16:32] donmccurdy commented on #106
I'd be curious if you included gzip on both the Draco and meshopt files? AFAIK meshopt does not provide as much compression as Draco on its own, but "instead of reducing the encoded size as much as possible, the bitstream is constructed in such a way that general-purpose compressor can compress it further." So Gzip (or other compression methods) will likely reduce meshopt-compresed GLB files still

[2021-07-08 17:04] atteneder commented on #106
Hi @donmccurdy ,

Good to hear from you! Hope you enjoy the post-g life :)

I did the mentioned tests in native (macOS) builds and not WebGL. Thus there was no gzip or brotli applied.
Another factor that's different in Browsers is the current lack of webassembly threading.

I quickly tried brotli on some of my files:

One of the models tested was a Volvo car taken from [this sample project](https:

[2021-07-09 02:31] Din-Wan opened #210 "Interrupt leading to "A Native Collection has not been disposed, resulting in a memory leak. ""
Hi, newbie here, I want to support cancelling the loading of a model in my project. I am aware that cancellation is not supported yet, so I'm currently okay with the load completing and doing nothing, but i'm running into a error. I create an instance of GltfImport inside my Requester class and then start the load operation. If a "cancellation" occurs, I want to be able to create a new Requester a

[2021-07-11 18:41] Thebinoman opened #212 "Include shaders at runtime?"
I saw the documentation about having to include all expected shaders into the list of included shaders before build. Lets say I want to create some sort of a GLTF viewer, so users could load whatever file they want at runtime. What can be done to include the related shaders as well?
Thanks!

[2021-07-12 04:52] hilton3 opened #213 "Exporting textures to an asset folder outside of object folder not supported."
Steps to reproduce:

Open Blender
Load a model
Select export to Gtlf 2.0
select folders path in blender export option : ie.  ../Materials/textures
Export selected object.
Open folder in unity.
Receive error: Download  texture 0  failed couldn't load texture at :  Assets/sub/folder/../Materials/Textures

Blender exports the texture correctly to ../Materials/Textures/myImportedTexture.png

glTFast i

[2021-07-12 09:22] atteneder commented on #213
Hi @hilton3 ,

Thanks for the report. The problem seems to be the dot-segment (`..`) in the relative URI.

I wasn't able to reproduce such an asset (because Blender would create a copy of the texture along the gltf file). Could you:

- Give more detailed info how to produce such an asset (incl. version of Blender and the version of the glTF-Blender-IO addon you used)?
- Provide the actual glTF ass

[2021-07-12 09:31] atteneder commented on #212
Hi @Thebinoman ,

Thanks for your interest.

What I did with [glTFastWebDemo](https://github.com/atteneder/glTFastWebDemo) is load all models of the sample set at once in the Editor and export the currently used shaders (via `Save to Asset` in Project Settings > Graphics > Currently tracked shaders/variants). I then added this variant to the preloaded shaders.

But that won't work as soon as a var

[2021-07-12 09:31] #212 closed

[2021-07-12 09:42] Thebinoman commented on #212
So, if I add all the shaders under /Pachages/glTFast/Runtime/Shader into the "Always included Shaders" list, a viewer like I mentioned can work correctly?

[2021-07-12 09:47] atteneder commented on #212
Yes!

One caveat: You need either the shaders in `/Packages/glTFast/Runtime/Shader/Built-In` (if you use the built-in render pipeline) OR the shader graphs inside `/Packages/glTFast/Runtime/Shader` if you use URP/HDRP, for example. Never both!

Inspect your build size though. It might be quite huge.

[2021-07-12 09:49] Thebinoman commented on #212
Thank you!

[2021-07-12 10:53] Thebinoman commented on #212
Using URP, it took 31 MB for an .apk build, if anyone is interested to know...

[2021-07-13 10:12] atteneder commented on #197
Sorry for the late reply, I haven't found time to investigate yet.

I presume some change in how the hierarchy is created is to blame here. Or maybe (if the glTFs contain animation) it's the SkinnnedMeshRenderer that isn't batched anymore. In that case I'd say it's by design, but I don't want to theorize before taking measurements.

[2021-07-13 10:30] ketourneau commented on #197
The gltf doesn't contains animation, so SkinnnedMeshRenderer is not used.

[2021-07-13 13:45] hilton3 commented on #213
Many thanks, excellent plugin, cant believe Unity doesn't support this format :-(

thanks again for sharing!

In attached zip:

6 cubes exported from blender with and without textures in the 3 export options.
2 blend scenes containing a cube and a textured cube

Note that Cube_textured_seperate_withexplicit

1. No texture displayed
2. CUBE_test_explict folder is created by blender and contains the

[2021-07-14 05:28] IvanMax3212 opened #214 "How to use ECS system on gltfast?"
Nowadays, I am working with large size GLB files for architectural rendering.
But with standalone rendering with several occlusion culling systems, I couldn't upgrade the FPS.
So I want to convert the all materials to entity and use hybrid rendering system on them.
But I couldn't find codes which create entities instead of gameobjects in this repository.
Also to use Hybrid Renderer v2 I have to us

[2021-07-14 07:18] atteneder commented on #214
Hi @IvanMax3212 ,

Thanks for your interest! Unfortunately I haven't looked into support for ECS (see #92 ) or Hybrid Rendering yet. There have been pull requests #94 and #95, which seem to be a first step. However, they came very soon (wrt the maturity of this project) and so I decided to park them for the moment.

DOTS is definitely interesting, but I cannot promise a solution before fall.

hth

[2021-07-14 07:18] #214 closed

[2021-07-15 04:19] IvanMax3212 opened #216 "How to speed up loading multiple GLB files without lagging in Unity?"
Dear @atteneder. Thanks for your attention to the pull requests which implemented the gltfast based on DOTS system.

This time I want to improve my app loading function.
For my purpose, I have to open several GLB files (around 20 Files : 30MB ~ 200MB per each file) from file menu.
I used your IDeferAgent (both way) and referenced your sample codes which loads multiple files.
But if I call the func

[2021-07-15 12:33] #8 closed

[2021-07-15 14:02] atteneder commented on #216
Hi @IvanMax3212 ,

Seems like the files you intend to load are quite big, so I'm not surprised you struggle keeping the FPS constant.

What exactly do you mean with "unexpected time"? Do they load slowly or not at all or is the loading time inconsistent?
500-600 frames per second sounds like a lot/way too many. Can you check if those are correct? How did you measure them?

Anyway, it's hard to ana

[2021-07-15 19:33] IvanMax3212 commented on #216
The answer is "Not at all". I tried  loading one file using async function and waited over 5 minutes. But there was no result.
The file I tried was only 40MB.
Here are the all file I have to load at once.
![image](https://user-images.githubusercontent.com/50035118/125846789-03c676fc-70b4-436d-9fe0-e8930d6ce447.png)

[2021-07-16 09:48] IvanMax3212 commented on #216
Or is this repository compatible with GPU Instancer unity asset?

[2021-07-16 10:11] atteneder commented on #216
I've loaded files that are going into the giga bytes, so I presume something is wrong with your async loading code. Would you mind sharing either your code or a sample file? I see no other way to help you.

Can you elaborate what "GPU Instancer unity asset" is? glTFast supports the extension [EXT_mesh_gpu_instancing](https://github.com/KhronosGroup/glTF/blob/master/extensions/2.0/Vendor/EXT_mesh_g

[2021-07-16 10:47] IvanMax3212 commented on #216
Ok. sure.
Here is the code file. I couldn't upload cs file directly so added txt extension to it.
As you can see in this file, I called the async function "LoadAllFiles" in sync function "BrowseFiles" with "Task.Run" command.

[Manager.cs.txt](https://github.com/atteneder/glTFast/files/6830115/Manager.cs.txt)

[2021-07-16 10:49] IvanMax3212 commented on #216
And in unity editor, nothing is showing in that case.
![image](https://user-images.githubusercontent.com/50035118/125936568-1843c5b5-959d-4ea3-a71a-9a6ebbf5f2b2.png)

[2021-07-16 14:14] atteneder commented on #213
Thanks for providing the files. I've looked into it. Here's the relevant part of the glTF 2.0 specification ([source](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#uris)):

Important to point out is the word "should". It goes on to say:

I can see the usefulness of your use-case/request though, so I'm working on a solution.

At the same time I'm worried about securit

[2021-07-16 14:19] #213 closed

[2021-07-16 14:30] atteneder commented on #216
As far as I can see you're loading the glTF file, but you don't instantiate any scene it contains.

The reason that this is a two-step process is that this allows you to efficiently instantiate scenes of a glTF multiple times.

If you want an easier (but less flexible) way of loading a glTF file, have a look at the `GltfAsset` component, which takes care of instantiation as well.

Please have a lo

[2021-07-16 14:30] #216 closed

[2021-07-17 12:16] hilton3 commented on #213
Amazing. Thank you so much!

On Fri, 16 Jul 2021, 15:19 Andreas Atteneder, ***@***.***>
wrote:

[2021-07-19 10:14] atteneder opened #217 "Design-time import material update issue"
there is a weird bug when first importing and subsequently re-opening the project. Materials on the car are wrong. Selecting the materials in the asset, inside the Project Tab, seems to trigger an update and the materials are correct afterwards.

https://user-images.githubusercontent.com/2593014/126144803-5d643ace-b683-4379-90e5-29591ac762d1.mp4

[2021-07-23 09:33] omaramen99 opened #219 "import compressed .glb/.gltf files as .zip ?"
It takes relatively long time to import glb files through url then I found that 90% of the time is spent on downloading the file itself ,So I'm just wondering if I can import compressed glb file as .zip to reduce the downloading time ?

[2021-07-25 18:11] Looooong opened #220 "Avoid using Texture2D.LoadImage"
`Texture2D.LoadImage` is somewhat slow for large textures (greater than 2K) and it blocks the Unity main thread for the duration between dozens of milliseconds to a hundred milliseconds when loading these textures.

I suggest implementing asynchronous texture loader like [`unity-async-textureimport`](https://codeberg.org/matiaslavik/unity-async-textureimport). This repo decodes the image in a sepa

[2021-07-25 18:58] Looooong opened #221 "Defer the creation of Unity's assets"
Currently, when loading a glTF file, glTFast will load all Unity assets (Textures, Materials, Meshes...) as defined in glTF file into memory. However, the library user might only care about a particular scene in the glTF file and only instantiates that scene. This means that other Unity assets not included in that scene are wasting memory space/allocation, CPU time (parse/load/import...), and pote

[2021-07-25 19:22] Looooong commented on #219
I can think of two ways to reduce the download time:

## 1. Use the Draco mesh compression extension

This extension is better at compressing raw mesh data than using zlib. You can use this extension by [installing the optional dependency](https://github.com/atteneder/glTFast#optional-dependencies). And finally, the glTF file must be regenerated to include this extension.

## 2. Customize the down

[2021-07-26 09:42] atteneder commented on #220
Hi @Looooong ,

Thanks for pointing out this repo.

I agree, `Texture2D.LoadImage` is very slow and I thought about similar solutions in the past. I didn't prioritize it yet, because imho KTX is the better way to go (if you're in control of your assets).

Ultimately Unity should provide a better API, but until this is not reality, I would welcome a PR like that. I have some considerations though:

[2021-07-26 09:47] atteneder commented on #221
Hi @Looooong ,

Good point, I've thought about this as well ( in #22 )

For now I advice to split up scenes into separate files (if you're in control of the assets)

[2021-07-26 09:53] atteneder commented on #219
Hi and thanks for the suggestion,

I second the suggestions from @Looooong and would add using KTX textures to the list.

Regarding compression: We'd have to start doing benchmarks on a reasonable set of test glTFs (measuring size and decompression speeds) to see what the actual benefit is. Besides gzip I'd be curious to test Brotli.

A good way to test this is to run WebGL build with a properly c

[2021-07-26 10:22] Looooong commented on #220
We are developing a platform on Unity that allow users to import their own assets. So I can say that we don't have 100% control of the assets uploaded to our platforms. That's why we invested in asynchronous texture importer for our platform. It is used not only for glTF but for other formats as well.

Right now, since we already have the code here, I think that we can just integrate this library

[2021-07-26 10:51] Looooong commented on #221
From my point of view, glTF has a potential to become a general purpose C# library, not just depend on Unity. So I think that glTFast can be splitted in 2 separate libraries:
+ A general importer library which parses the file and streams asset data asynchronously. The data can then be stored in the library's own format (like `GLTFast.Schema`).
+ An abstract instantiation library which calls the ot

[2021-07-28 07:12] pxim opened #222 "error CS0246: The type or namespace name 'BurstCompile' could not be found (are you missing a using directive or an assembly reference?)"
![image](https://user-images.githubusercontent.com/5111701/127279719-d5be1933-0416-4ead-91a8-f575ed6805df.png)
unity 2020.2
glTFast main

[2021-07-28 10:30] Looooong commented on #220
@atteneder I have published [UnityAsyncImageLoader](https://github.com/Looooong/UnityAsyncImageLoader). So the next step is to expose an interface in glTF to use this package. Is that correct?

[2021-07-28 16:13] Looooong commented on #220
Btw, I want to point out that FreeImage supports more than 30 different image formats, not just JPEG and PNG.

[2021-07-29 06:36] pxim opened #223 "Can I export GLB format from Unity with this plugin ?"
Can I export GLB format from Unity with this plugin ?

[2021-07-29 07:06] sai-sen-tan commented on #222
Same here.
![CS0246error](https://user-images.githubusercontent.com/75355838/127447295-8d1b18d7-8d3b-4f77-a2f5-281bfe9d575c.png)

[2021-08-02 01:24] decoc opened #224 "NullReferenceException occur in MeshPrimitive Equals"
## Problem

if `attributes.Equals(b.attributes)` equals false  or `targets == null` equals false, `targets` and `b.targets` require to be not null

[code]

## Proposal

[code]

[2021-08-02 20:23] hoATwhiskytree opened #225 "Unity Content Delivery?"
Hi,
Has anyone been able to get glb files hosted on Unity Content Delivery to work? If I have a full URL with filename and extension in the path, it works fine. But I can't seem to get it to work on IOS or Android, but it loads up in the editor. Any thoughts or suggestions?

[2021-08-02 20:28] hoATwhiskytree commented on #222
Hi,
I'm using Unity 2020.3.8f1. To get it working. I enabled preview packages and installed "Jobs." It fixes the error and seems to be fine afterwards

[2021-08-03 05:59] camnewnham opened #226 "[Question] Extension/Plugin Architecture"
I'd like to add a feature which reads meta/extension data from a node and performs an action based on this, formatted similarly to [KHR_lights_punctual](https://github.com/KhronosGroup/glTF/tree/master/extensions/2.0/Khronos/KHR_lights_punctual). As the extension is application-specific it's not suited to a PR in this repository. Is there a way to plug-in or extend the parser without forking the p

[2021-08-03 12:18] atteneder commented on #226
That's a great suggestion and something I've been thinking about already.

The biggest obstacle is probably the JSON parsing by JsonUtility. Adding custom properties currently requires changes to the schema classes or a second parsing pass (which is slow). I'd love to implement a better JSON parser, that allows better customization first.

[2021-08-03 12:23] atteneder commented on #222
Thanks for providing emergency help!

[2021-08-03 12:27] atteneder commented on #223
No, not yet at least.

For exporting I recommend to try this [fork of UnityGLTF](https://github.com/prefrontalcortex/UnityGLTF) by @hybridherbst for now.

[2021-08-03 12:27] #223 closed

[2021-08-03 12:31] atteneder commented on #220
Question is: How useful is support for 30 image formats? If your app requires them (outside of glTF) anyways, then yes, but glTF supports only PNG and Jpeg (and WebP via extensions). It would be a bad idea to create non-compliant glTF files with unsupported formats, so 27/28 formats would not ever be used. Besides, opposing to KTX/BasisU all of those formats are not natively supported by GPUs.

[2021-08-03 12:33] atteneder commented on #221
I'm in support of a separation as long as it's not compromising runtime performance. Note: there's already a separation of loading vs. instantiation.

[2021-08-03 23:22] camnewnham commented on #226
Yes I thought so. Is file size the main reason for using JsonUtility in the first place?

For example with Newtonsoft it might be possible to create generic JObjects for extension information that plugins can then parse via an event or callback.

[2021-08-04 01:37] pxim commented on #223
Ok,.
Thanks, I'm using babylon plugin export gltf now.

[2021-08-04 09:15] #225 closed

[2021-08-05 03:07] bpepers-me opened #227 "Issue with essentially empty .glb file"
I have an example GLB file which I think is valid but it has zero geometry in it.  Looks like the code doesn't take this corner case into account and expects if it parses something, it results in some geometry.  I'm looking at a patch to fix this but thought I'd report it in case there is already some knowledge of the problem?

I can of course provide the file is needed.  It's just 128 bytes and t

[2021-08-05 03:09] bpepers-me commented on #227
Here's the file.  Didn't realize I could just drag and drop it though I had to zip it to be accepted.

[128.zip](https://github.com/atteneder/glTFast/files/6935651/128.zip)

[2021-08-05 06:49] camnewnham opened #228 "pbrMetallicRoughness is assigned in the schema when not assigned in the GLTF."
In the[ GLTF reference](https://github.com/KhronosGroup/glTF/tree/master/specification/2.0#reference-material), it states:

However, it's a little confusing that accessing the material in `GenerateMaterial()` `GLTFast.Schema.Material.pbrMetallicRoughness` is not null - since this should reflect the JSON accurately.

Perhaps a utility function (i.e. `GetDefaultPbrMetallicRoughness`) could be used i

[2021-08-20 00:31] camnewnham commented on #228
Closing just due to how minor this issue is.

[2021-08-20 00:31] #228 closed

[2021-08-24 08:26] #227 closed

[2021-08-24 08:30] atteneder commented on #227
@bpepers-me Thanks for the feedback!

glTFast's next release won't choke on this file anymore.

Note: I'd say this file, although nonsensical, is a valid glTF. Only thing I'd consider an error is that the glb file has an empty (zero length) binary chunk. I'd argue that shouldn't be there. Please forward this feedback to whoever created this file (or the maintainers of the software that exported it

[2021-08-24 08:34] atteneder commented on #226
Yes. I noticed WebGL builds are ~1 MB (wasm) smaller when not referencing Newtonsoft JSON.

JsonUtility is also  quite fast as well. Unfortunately it lacks some features required for glTF, so there are some workarounds in glTFast.

I'll definitely look into Newtonsoft again. Even if it'll be ruled out for build size reasons, its API might be worth exploring.

[2021-08-24 20:04] bpepers-me commented on #227
Thanks for fixing it!  I agree it's a silly file to create.  It was Cesium that had this where they have content at each node in their 3D Tiles file format which is stored as a GLB file.  Guess when there is no content they are still generating this empty file.  I'll contact them about it.

--
Brad

On August 24, 2021 at 2:30 AM, Andreas Atteneder ***@***.***> wrote:

@bpepers-me Thanks for the fe

[2021-08-25 10:09] atteneder commented on #224
Hi @decoc ,

Good find, thanks! Can you share a glTF file that let's me reproduce this bug?

I'm writing a test for this currently and there's another issue: `targets.Equals(b.targets)` is not properly comparing array elements.

[2021-08-25 10:57] #224 closed

[2021-08-25 10:58] atteneder commented on #224
Fix is pushed. Will test extensively later. Please test your own scenes as well!

Thanks!

[2021-08-25 14:54] #222 closed

[2021-08-26 09:07] llxStar opened #236 "error: Library/PackageCache/com.atteneder.gltfast@4.2.0/Runtime/Scripts/PrimitiveDracoCreateContext.cs(41,17): error CS1503: Argument 1: cannot convert from 'Unity.Collections.NativeSlice<byte>' to 'byte[]'"
when define DRACO_UNITY, there will be an error

pkg:
Install-com.atteneder.draco-4.0.0-preview.1.unitypackage
Install-com.atteneder.gltfast-4.2.0.unitypackage
[pkgversion.zip](https://github.com/atteneder/glTFast/files/7055684/pkgversion.zip)

[2021-08-26 12:48] #236 closed, assigned to atteneder

[2021-08-30 10:25] ketourneau commented on #197
Hi @atteneder,

Yes already make optimization in our app: we merge all objects with equal materials for optimization and we call `StaticBatchingUtility.Combine` on root GameObject.

We try DracoUnity 3.2.0 and GltFast 4.2.1 and we always have FPS refression (more batches).

- GltFast 4.2.1 & DracoUnity 3.2.0

<img width="304" alt="GltFast-4 0" src="https://user-images.githubusercontent.com/3976326

[2021-08-30 10:44] atteneder commented on #197
@ketourneau To be more precise: I recommend merging objects of same material at design-time (before exporting to glTF). You could remove the overhead of merging similar materials at runtime this way.

[2021-08-31 07:45] Tripl3Design opened #238 "gltf model not visible for lightmap"
I have a problem that the imported gltf's are not joining the bake process.
They are set 'static' but they are not changing.

I exported the models to gltf in another scene without materials.
I imported them and add the materials manually.

![gltf_scene](https://user-images.githubusercontent.com/56125681/131463433-793127eb-f8a1-4162-90c3-0950824e2efc.jpg)

[2021-08-31 08:07] atteneder commented on #238
Hi @Tripl3Design ,

As far as I know models require a second UV set for lightmap baking to work. Here's a small test scene with a glTF(glb) cube. The left one has just one UV set while the right one has two:

<img width="705" alt="image" src="https://user-images.githubusercontent.com/2593014/131466286-ccc1e566-79c1-4fc9-8bde-f371c9d320a3.png">

As you can see, the right one has proper lightmaps ap

[2021-08-31 08:28] Tripl3Design commented on #238
Hi @atteneder,

Thanks for this fast reply!
This tool is awesome, can't wait for the runtime exporter.

I use this workaround:
Export the gltf to fbx, and use the fbx instead with 'Generate Lighmap UV's' checked.

[2021-08-31 08:58] atteneder commented on #238
Thanks!

For the record:
There is an API for generating the secondary UVs, which could be integrated into the GltfImporter quite easily:

https://docs.unity3d.com/ScriptReference/Unwrapping.GenerateSecondaryUVSet.html

Keeping this issue open as a feature request.

[2021-08-31 15:27] #97 closed

[2021-09-02 18:15] atteneder commented on #92
There's now an experimental [DOTS implementation](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/features.md#data-oriented-technology-stack).

[2021-09-04 13:49] wangyanmeego opened #239 "Support for multiple materials on one mesh"
I have use glTFFast to load glb at run-time, it works great except for it can not support multiple material on one mesh. it seperate meshes by one material. I wan to keep the mesh completely. Is there any ways to  set options for this. Looking for reply.

[2021-09-06 08:18] atteneder commented on #239
Hi @wangyanmeego ,

Thanks for bringing it to my attention. Would you mind sharing, what exact problem this would fix for you? That would help me prioritize the fix properly.

This has been brought up already in #153 (therefore I close this one) and I acknowledge the problem and want to solve this at some point.

Unfortunately it's not a low-hanging fruit, so it'll have to wait for the next refact

[2021-09-06 08:18] #239 closed

[2021-09-06 12:29] digimatic opened #241 "specularFactor and diffuseFactor is not respected in KHR_materials_pbrSpecularGlossiness extension"
When loading a model that uses the KHR_materials_pbrSpecularGlossiness and sets specularFactor and diffuseFactor and have no texture, it shall use that specularFactor and diffuseFactor. Seems not to be implemented?

By request I can send you an example file.

[2021-09-06 13:03] atteneder commented on #241
Hi @digimatic ,

Thanks for the report. A test file would indeed be great, please!

[2021-09-06 19:32] digimatic commented on #241
Hello,

Here is a sample:https://www.dropbox.com/s/pbv4zczbpgmazoe/Pump3.glb?dl=0
The small bolt in the center for the long shaft shall be orange (that is
material 11, 0-based), if I open in vs code it is on line 4462.

/Peter Westerström

Den mån 6 sep. 2021 kl 15:04 skrev Andreas Atteneder <
***@***.***>:

[2021-09-07 07:54] kt-Andreas commented on #90
Hello @atteneder

I would like to know if there's already a plan on when and how you are going to work on this feature, because I'm highly interested in implementing this in my project.

@chrisssssy Would you mind if you shared your provisional implementation with me? 😄

[2021-09-08 14:00] chrisssssy commented on #90
Hi @kt-Andreas

i could not figure out how to make a pull request, so i will upload the changes here. And for your information, i did these changes with a much older version of gltfast. I think it was version 2.0 or something, so the files changed quite a bit since then, so i am not shure if it will still work, but here is what i did (all changes are commented with // chrisssssy).
1) added an entr

[2021-09-09 02:27] subhradeepc opened #243 "Large files are missing faces/textures when imported in URP however works fine in Standard Rendering Pipeline"
Large embedded/textured gltf files are missing faces when imported at designtime/runtime in Universal Rendering Pipeline , but works properly with the library when the project is in standard pipeline.

File:
https://drive.google.com/file/d/19LHoLsB0Ek1wfhyUmQpnrHQ3sNz02w94/view?usp=sharing

Steps to reproduce the behavior:
1. Create and empty project in URP
2. Install the library
3. Download the a

[2021-09-09 02:28] subhradeepc commented on #243
@atteneder Would really appreciate if you can help resolve this or point out where im going wrong, thanks in advance!

[2021-09-09 03:26] subhradeepc commented on #243
Also noticed that, since in URP the materials point out to a different set of shaders (which is obvious i believe), so i tried switching the material's shaders, and it looks like assigning the "gltf-unlit-opaque-double" seems to work, however the unlit shader is obviously not a suitable one.

![Screenshot 2021-09-09 at 8 55 52 AM](https://user-images.githubusercontent.com/33677582/132617493-6c47dd

[2021-09-09 07:50] atteneder commented on #243
Thanks for the detailed report.

I'll look into it today/tomorrow.

[2021-09-09 08:22] atteneder commented on #243
After a first glance:

It seems like the URP pipeline does not respect that your materials should be rendered double-sided (so back-face culling should be off)

Here's your model in Blender with back-face culling on. As you can see, it looks broken as well:
<img width="798" alt="image" src="https://user-images.githubusercontent.com/2593014/132649917-87a4d07a-447d-47fa-b9ee-7ba1e9351e16.png">

Apar

[2021-09-09 16:33] atteneder commented on #243
TL;DR: This will not be fixed in near future. Please fix your model instead.

Alright, here's what I found out:

The materials glTFast generates on URP/HDRP are based on the Lit shader, which does have a double-sided mode (Render Face: Both). Though it seems this does not add another (costly) render pass that inverts normals/tangents properly to make sure the light response is calculated correctly

[2021-09-09 16:33] #243 closed

[2021-09-09 17:13] atteneder commented on #228
Hi,

sorry for the late reply. You're right, this is the fault of JsonUtility, which does the parsing. When it finds a `material`, it'll create a `Schema.Material` object with default values on all properties. This means `pbrMetallicRoughness` will be set to `new PbrMetallicRoughness()`, essentially empty but not null.

This behavior causes many headaches I had to workaround. If there's an actual

[2021-09-09 17:40] atteneder commented on #228
Funny, this parser misbehavior triggers #241, which is another, unrelated issue

[2021-09-09 17:52] #241 closed

[2021-09-10 15:07] JSWorkspace1 opened #245 "Exception in New Release"
**Describe the bug**
After Upgrading to 4.3.0 this Exception appears when loading the first model after application start.
The model itself loaded fine and the exception didnt repeat when loading multiple models.

![Screenshot 2021-09-10 162521](https://user-images.githubusercontent.com/23420842/132874645-42ea91de-53c9-4c30-a07a-514acf8a2170.png)

Also some unity Crashes accrued could not really r

[2021-09-10 15:14] atteneder commented on #245
Thanks for the report!

Any chance you can provide a file that causes this?

[2021-09-10 16:01] JSWorkspace1 commented on #245
I can check again on Monday but i think a wasnt any specific on. Just happened with any on first load.
Oh and I was loading directly from a byte[] if that makes a difference.

[2021-09-12 02:48] wangyanmeego commented on #239
Thanks for your attention to this problem. I make a run-time editor to mark notes based on a mesh, and show the meshes on AR. When I model a 3D file and apply some materials on one mesh. But when I load it into Unity scene, it seperates meshes by materials, that's not what i want. So I hope the loaded mesh is the same structure as 3D model software. By the way, i use Blender to create models. If a

[2021-09-13 08:09] JSWorkspace1 commented on #245
Ok quickly  made a demoProject to reproduze exception.
I tried some diffrent .glb. It had happend for all of them.
I put one in the Ressource Folder. Just copy to a folder and paste the path into Textfield and hit load.

[Bug_reportDemo.zip](https://github.com/atteneder/glTFast/files/7152548/Bug_reportDemo.zip)

[2021-09-13 13:18] atteneder opened #246 "Points (point cloud) materials"
Although primitives with mode `POINTS` (point clouds) are loaded properly, the materials created (for URP, HDRP and BiRP) do not render points properly.

Points should be rendered as mentioned in the glTF spec.

[2021-09-13 13:29] atteneder commented on #135
Now that points support is tested (both regular and Draco compressed) I am closing this issue.

For improved/dedicated point cloud materials I created issue #246

Thanks!

[2021-09-13 13:29] #135 closed

[2021-09-13 14:08] atteneder commented on #245
@JSWorkspace1 first tests with Unity2019LTS and Burst 1.4.11 were successful. I'll test 2021.2 beta soon.

Which Burst version did you use?

[2021-09-13 14:36] JSWorkspace1 commented on #245
Packing Manager says Burst Version 1.6.0-pre.2

[2021-09-13 15:44] #245 closed

[2021-09-13 15:48] atteneder commented on #245
The Burst errors should be gone now (with 4.3.1; to be released).

For other instability issues, please raise a dedicated issue, preferably with reproducable steps and assets.

Thanks ❤️

[2021-09-13 22:27] camnewnham commented on #246
Perhaps this should be the responsibility of the file producer to use `KHR_materials_unlit`?  The same applies for using `primitiveMode` `LINES`

[2021-09-14 08:28] atteneder commented on #246
I'd certainly recommend that as well, but the spec says the following in a [non-normative section](https://github.com/KhronosGroup/glTF/blob/master/specification/2.0/README.md#point-and-line-materials) about shading points/lines:

[2021-09-14 13:02] wangyanmeego commented on #243
I have the same problem, it works well in editor, but when I build on PC. the texture did not appear. I use URP pipeline and I also add all URP shader in graphic setting.
In the Editor：
![Snipaste_2021-09-14_21-02-09](https://user-images.githubusercontent.com/13783955/133262426-df8d0c4a-8a31-49a5-af55-9d6ae565192d.png)

Build on windows：
![Snipaste_2021-09-14_20-57-34](https://user-images.githubus

[2021-09-14 14:52] atteneder commented on #243
It's hard to tell the problem without more information. Can you provide a file that reprodices the error? Please open a new, dedicated issue and fill out the form with more details.

[2021-09-30 06:46] alexs7 opened #248 "Progress report while downloading?"
Hello,

Is it possible to get a progress number (download completed %) while downloading a GLTF?

Thanks

[2021-09-30 08:14] atteneder commented on #248
Hi,

At the moment that's not possible, unfortunately. It will get implemented though, but only after the next refactor that is in the planning.

Closing due to duplicates (see #3 and #109)

[2021-09-30 08:14] #248 closed

[2021-10-04 10:48] ROBYER1 opened #250 "Animation Jitter on import of humanoid animated GLTF - need InterpolationMode settings!"
**Describe the bug**
We have found this issue across most Unity GLTF importers and haven't found a fix yet, the same models play back just fine using web GLTF viewers like https://sandbox.babylonjs.com/

When importing a humanoid animated character in a gltf in Unity, the playback is jittery and skipping, we have tried various export settings with Blender and Cinema4D only to see consistent result

[2021-10-04 11:16] ROBYER1 commented on #250
In order to fix this, we found that the ImportSettings.InterpolationMode.ImportFromFile was not working correctly or the exported files we had were not including the interpolation mode in the GLTF file.

To fix we had to do this:
[code]

[2021-10-06 06:55] Hiverlab-Ray opened #251 "Occasionally one-frame animation twitch"
**Describe the bug**
When playing GLB animation, its animation sometimes twitches unexpectedly within one frame in a non-consistent pattern (i.e. the twitching doesn't happen on same frame of animation clip but happens at random frames).

**Files**
Pinocchio: [Pinocchio.zip](https://github.com/atteneder/glTFast/files/7291393/Pinocchio.zip)
Betty Boop: [BettyBoop.zip](https://github.com/atteneder/g

[2021-10-07 12:58] atteneder commented on #251
@Hiverlab-Ray thanks for reporting!

It seems similar to the issue #250. I was able to reproduce it and I'm investigating now.

[2021-10-07 17:45] atteneder commented on #250
After some investigation I'm quite sure the tangent calculation for (at least) LINEAR is incorrect. Alternative Unity glTF importers seem to do it different, but also incorrect :(

[2021-10-07 17:52] atteneder commented on #250
Regarding default interpolation method we have to adhere to the specification, which says [LINEAR is the default](https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#_animation_sampler_interpolation).

[2021-10-09 13:35] ThanosRestas opened #252 "2019.4.20f1 Compiler Errors after importing the installer package"
**Describe the bug**
After importing the recommended installer package from **main** I get compiler errors related to the BurstAotCompiler

**Screenshots**
![image](https://user-images.githubusercontent.com/5999342/136659962-b38898f6-1c12-4346-b679-cca2cc1a1395.png)

 - **glTFast version :** 2.0
 - **Unity Editor version** : 2019.4.20f1

[2021-10-09 17:13] De-Panther commented on #252
Had the same issues with Unity 2019.4.7f1.
It's a bug in the Unity Burst package.
Reported a bug to Unity - 1371912
Hope it'll get to their priority

[2021-10-11 12:00] ThanosRestas commented on #252
Same unfortunately :(

![image](https://user-images.githubusercontent.com/5999342/136786499-595c2489-af20-4513-a76f-3206760d3f38.png)

[2021-10-11 15:50] atteneder commented on #252
@ThanosRestas Thanks for reporting!

I'm not having this error, so until the original problem is fixed we might figure out why it's not compiling for you, shall we?

What is your active build platform?
What packages are activated/installed in your project?

I'm using 2019.4.31f1 and Burst 1.4.11 with Standalone(macOS) as the active target. Here's the list of the packages:

[code]

Could you try an

[2021-10-11 15:53] De-Panther commented on #252
I think that in the middle of ths major versions, Unity added some platforms (new xbox, ps5...).
So in later versions of 2019.4 or 2020.2 it'll work, but on earliers it won't

[2021-10-11 15:59] atteneder commented on #250
I'll fix this in the package by adding a check at run-time.

One could argue that this check/fix should be done at engine level, but that would add a bit of run-time overhead for all users, even ones that have their rotation values correct in first place. Also, landing a fix in the engine takes longer.

I'd say it would be best if all glTF exporters would make sure their quaternion rotations are p

[2021-10-12 08:27] ThanosRestas commented on #252
After tinkering around for a while, updating my project to version **2020.3.20f1** works perfectly and also supports the rest of the tools I'm using. Probably related to what  @De-Panther mentioned here:

Still the issue exists on some Unity versions so I guess it can be noted on the repo or something ? I guess the issue can be closed for now but I wouldn't want anyone else to face the issue I was

[2021-10-12 08:55] #252 closed, assigned to atteneder

[2021-10-12 18:10] #250 closed

[2021-10-12 18:13] atteneder commented on #251
The fix landed in the main branch and will soon be in the next release (after some more testing).

[2021-10-12 18:13] #251 closed

[2021-10-13 10:11] atteneder commented on #250
@ROBYER1 that's great to hear! Let me know if that goes smooth. I'll keep on giving support and I'm always happy to se use-cases in the wild.

My theory: Not all animations are affected, out of those only a minority of users report an issue (others move on, away from glTF) and lastly, most projects don't have the time/resource to provide the necessary support. Luckily my work is funded 💪

Cheers!

[2021-10-19 17:13] cpetry opened #254 "Runtime Export"
Is runtime export still on the roadmap for this package? It is still mentioned in the readme here.

 I want to contribute and add this to a living future proof package. I know of UnityGLTF but I am unsure where to invest time contributing to.

[2021-10-19 17:29] #254 closed, assigned to nobody

[2021-10-22 02:28] camnewnham opened #256 "[Question] Disabling importer in editor"
We use GLTFast to runtime load GLTFs but we don't use the editor importer.
This importer is causing conflicts with another importer (MixedRealityToolkit-Unity).

MRTK provides a scripting define `MRTK_GLTF_IMPORTER_OFF` which disables their importer in the editor (but this also disables some other useful features of MRTK)

Could we add a similar flag to allow enabling/disabling the GLTFast editor

[2021-10-22 10:16] ROBYER1 opened #257 "Import of a model that doesn't have a mesh fails in GLTFImport.cs - LoadAccessorData()"
**Describe the bug**
This is an interesting use case we have, in a production app we are loading a gltf for a character's model/rig and separately there are gltf files for individual animations and groups of animations that purely contain the skeleton of the character's bones animated and no mesh. This is to keep file sizes down for users of our app, so the model's mesh only needs to be pulled in

[2021-10-25 10:56] atteneder opened #258 "Editor Import: Convert to Lit/Standard based materials (instead of custom glTF shaders)"
When importing glTF in the Editor, glTFast currently creates materials the same way than at runtime: with custom, runtime optimized glTF shaders.

However, when using glTF as interchange format, users might want to use regular Lit or Standard shader based materials.

Currently the only way to achieve this is to manually create the materials (which eventually comes with additional chores like swizz

[2021-10-25 13:10] atteneder opened #259 "Runtime Export"
Make comprehensive export available at runtime.

The lack of access to source assets (especially meshes and texture) makes runtime export somewhat harder.

Also there's an increased priority on performance and frame rate stability.

[2021-10-26 13:29] #257 closed, assigned to atteneder

[2021-10-26 19:04] atteneder opened #260 "glTF Export Phase 2"
glTF Export has landed in 4.4.0. Now it's time get it out of experimental

### TODO

- [x] Run-time export via API
  - [x] Save to file
  - [x] Save to stream
- [x] Interfaces
  - [x] Editor context menu export of scene/objects
- [x] Documentation
- [ ] Optimize output for size
  - [x] node transform (skip default values)
  - [ ] Skip properties technically not required (like names)
  - [ ] (Optio

[2021-10-27 08:49] RuiBEAT opened #261 "Undefined symbols on GltfWriter when using NET_4_6"
Hi, Dany here...

In the latest version released (4.4.0), there are some compilation errors when using .NET 4. Specifically, the GltfWriter throws these errors on the console:

[code]

If we check the source file...

[code]

Seems that the symbols **meshId** and **materialIds** under the **#if NET_4_6** should be renamed to **m_MeshId** and **m_MaterialIds** as in the **else** clause. Besides that

[2021-10-27 09:01] #261 closed, assigned to nobody

[2021-10-27 11:23] EricBeetsOfficial-Opuscope opened #262 "Bounding Box on Skinned mesh"
**Describe the bug**
Bounding box seems to be weird on skinned model

**Files**
[mech_drone.glb.zip](https://github.com/atteneder/glTFast/files/7425636/mech_drone.glb.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. Copy the file `mech_drone.glb` in `Assets` folders
2. Drap and drop the model into the scene hierarchy
3. Play the Unity Editor
4. After the animation sequence, console will

[2021-10-27 15:07] #262 closed, assigned to atteneder

[2021-10-28 08:26] RuiBEAT opened #263 "Undefined LogSummary for release builds @ version 4.4.1"
Hi again, Dany here

The **LogSummary** method is exclusively defined for debug builds, as we can see in the GltfWriter file

[code]

However, the method is used in line 313 of the same file for debugging:

[code]

So generating a release build causes a compilation error. Probably the best practice would be to leave only the code inside the method under the preprocessing directive, but the method

[2021-10-28 08:49] #263 closed, assigned to atteneder

[2021-10-28 09:29] atteneder opened #264 "gltfpacked `BoxAnimated`: animation is incorrect"
The animation works with the original and also non-compressed (but quantized) gltfpack version.

with meshopt compression the translation is not working.

Expected the same animation as the original.

 - glTFast version 4.4.3
 - Unity Editor version 2019.4.31f1
 - Render Pipeline and version BiRP
 - Platform: Editor macOS
 - gltfpack 0.16

Note: Looks like gltfpack creates a lot of in-between keyf

[2021-10-28 13:39] ROBYER1 opened #265 "Build error with 4.4.3 - 'BuiltInMaterialGenerator' does not exist in the current context` on Android/Windows/IOS"
**Describe the bug**
When building to target Android/Windows, we get this error and I assume it probably affects all builds including IOS
```Library\PackageCache\com.atteneder.gltfast@4.4.3\Runtime\Scripts\Export\StandardMaterialExport.cs(117,49): error CS0103: The name 'BuiltInMaterialGenerator' does not exist in the current context```

**Files**

Minimal repro project:
[GLTFastBug.zip](https://g

[2021-10-28 18:36] #265 closed, assigned to atteneder

[2021-10-31 14:18] Bersaelor opened #267 "Error building with 4.4.4: `Library/PackageCache/com.atteneder.gltfast@4.4.4/Runtime/Scripts/Schema/Root.cs(149,17): error CS0103: The name 'animations' does not exist in the current context`"
**Describe the bug**
Updated Gltfast dependency to 4.4.4, got the error:

[code]

**Expected behavior**
Project compiles

**Desktop (please complete the following information):**
 - glTFast version: 4.4.4
 - Unity Editor version 2021.2.0f1
 - Platform: WebGL

[2021-10-31 14:20] Bersaelor commented on #267
This is probably again because my WebGL project is slimmed down , so it's file size is minimal:

<img width="503" alt="Screenshot 2021-10-31 at 15 19 27" src="https://user-images.githubusercontent.com/4517582/139588024-92e48352-f2a5-47a6-903d-56e836ac5354.png">

[2021-11-01 08:45] atteneder commented on #267
@Bersaelor Thanks a lot for reporting.

I'll take a look at it right now.
As far as I remember this is the second time you reported that some update broke a non-animation project. That and the other hotfixes I had to do recently are a clear sign that proper testing and CI has to happen soon.

[2021-11-01 09:56] #267 closed

[2021-11-01 09:59] atteneder commented on #267
glTFast 4.4.5 with a fix is in the build.

Sorry for the inconvenience

[2021-11-01 13:37] ponahoum commented on #111
Would be nice that have this feature added, with the support of this for tests: [](https://github.com/KhronosGroup/glTF-Sample-Models/tree/master/2.0/TransmissionTest)

@atteneder is this planned in the short term?

[2021-11-01 16:54] mikeskydev commented on #226
Hi, has there been any more thought given to how you'd like to see an extension API implemented? A few of us over at the [OMI](https://github.com/omigroup/gltf-extensions) group would like to use glTFast as the basis for implementing our proposed glTF extensions in Unity. Happy to explore this with you to find the best solution for everybody!

[2021-11-01 17:00] atteneder commented on #111
@ponahoum

There are approximations and make-shift solutions in place already. You can find the details in the [material import section of the feature document](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/features.md#material-import).

Are those good enough for your use-cases and if not, why not?

Which render pipeline do you intend to use it with?

hth

[2021-11-01 17:13] atteneder commented on #226
Allowing users to inject their own extensions into glTFast in a good way (flexible yet performant) is something I definitely want to make happen! I want to be frank when I say up until now there have been more urgent matters (and there still are some), so no, I haven't given it any detailed thought yet. What I already know is that the current JSON parsing module needs replacement to enable more fl

[2021-11-01 20:02] ponahoum commented on #111
@atteneder it seems that it works for my use case (which is simply to import a glass-window gltf) but I must manually set the blend mode to transparent to make it work. I thought it would do it automatically on import.

[2021-11-04 20:57] hybridherbst opened #268 "Error: Normalized Positions will likely produce incorrect results"
**Describe the bug**
The console told me to log a bug so I do :)
The attached files log
```Normalized Positions will likely produce incorrect results. Please report this error```
upon import.

**Files**
[MultiRange.zip](https://github.com/atteneder/glTFast/files/7478422/MultiRange.zip)
[MultiRange2.etc1s+meshopt.zip](https://github.com/atteneder/glTFast/files/7478423/MultiRange2.etc1s%2Bmeshopt.zi

[2021-11-04 21:22] hybridherbst commented on #259
Please don't forget runtime animation export :)

USD for Unity solves that in a pretty elegant way via a Timeline Recorder track + clip setup. (but they're lacking editor-time animation clip export, so not quite perfect either).

In an ideal world there would be:
- edit-time animation clip and timeline export
- and runtime timeline export (no animation clip access here)

[2021-11-05 13:43] hybridherbst opened #269 "Regression: some URP shaders have too many variants in 2021.2"
**Describe the bug**
Not sure if this is a regression in URP or in glTFast, I believe the former is more likely.
When adding the glTFast shaders to the list of "Always included" shaders, building to Android on 2021.2.0f1 fails with the error message:
```Shader Graphs/glTF-metallic-Premultiply-double has too many Shader variants(201326592).To resolve this, go to Project Settings > Graphics and remo

[2021-11-05 14:07] atteneder commented on #269
Thanks for reporting...that's a real bummer :/

Let's brainstorm solutions:

- Splitting up shader by certain shader keyword (GAMMA would be a good candidate, since you never need both linear and gamma workflow variants)
- Convert certain shader keywords into properties (downside is additional complexity in final shader code and thus a chance of performance impact)

On top of that an Editor tools/

[2021-11-05 14:11] hybridherbst commented on #269
I actually think it needs to be fixed in Core, as it seems that shader stripping is applied _after_ checking for Always Included shaders.
Reported to Unity as (Case 1378545) [Shaders][URP][Regression] Build is prevented with shaders in Always Included list

[2021-11-05 14:29] hybridherbst commented on #269
For reference,

![shaders_2020 3_all](https://user-images.githubusercontent.com/2693840/140526608-4bce7d16-8749-4fb1-83c1-5eedb647909f.png)
![shaders_2020 3_skip-unused](https://user-images.githubusercontent.com/2693840/140526621-cf201db3-e009-4d30-9613-c7522ac22245.png)
**2020.3**

![shaders_2021 2-all](https://user-images.githubusercontent.com/2693840/140526638-b76d5955-c878-4cce-b09c-132c87b47b

[2021-11-07 23:21] klauskobald opened #270 "Assets/gltfManager.cs(4,15): error CS0234: The type or namespace name 'Export' does not exist in the namespace 'GLTFast'"
**Describe the bug**
It does not compile when I add that test script for exporting.
Namespace is not found.

**To Reproduce**
Steps to reproduce the behavior:
I installed it as described.
The Menu File > Export is actually working. Export is done.

**Expected behavior**
no compile error

**Screenshots**
<img width="573" alt="image" src="https://user-images.githubusercontent.com/278428/140665621-e2

[2021-11-08 10:25] atteneder commented on #270
Hi @klauskobald ,

Thanks for trying it out and sorry for the inconvenience. The assembly of glTFast export is not auto-referenced, so you **have to** use an assembly definition and reference both `glTFast` and `glTFast.Export`.

I'm working on updating the documentation properly.

[2021-11-08 11:10] #270 closed

[2021-11-08 18:48] rrrzzz opened #273 "glTF export (containing meshes) is currently not supported on Unity 2020.1 and older"
I get this message although I am on Unity 2019.4.32f1. Trying to export from File -> Export Selection a unity primitive cylinder

[2021-11-08 19:22] atteneder commented on #273
This is expected (you might want to re-read the message with emphasis on the last two words). For export you currently have to use 2020.2 or newer.

At some point I might implement a different mesh export that is backwards compatible, but atm it is a low priority. Is there a strong reason for you to stick with 2019 LTS and what is it?

[2021-11-08 19:22] #273 closed

[2021-11-08 21:25] wonkee-kim opened #274 "Loaded animated model blinks"
**Describe the bug**
**Screenshots**
![aeWvH0fx0g](https://user-images.githubusercontent.com/830808/140819570-f5313d31-85ba-46dd-897c-d099a1cdd961.gif)
This animated model appeared blinking and this is because positions of some keyframes are NaN.
![gltfastAnimation copy](https://user-images.githubusercontent.com/830808/140820142-dec28adc-ebd2-49ed-94fb-e292eaf9fc2e.jpg)

This can be fixed when I i

[2021-11-09 08:15] atteneder commented on #274
Hi @wonkee-kim ,

First of all, thanks for the excellent report. Unfortunately I couldn't reproduce (even with 4.4.0; did you send the correct file to me?), but I have the suspicion that this was solved via #262. Could you please update to the most recent version (4.4.5) and test again?

Regards

[2021-11-09 10:06] rrrzzz commented on #273
Thanks for the reply. I am terribly sorry, I totally missed the second part. At my job we use a custom Unity version which is 2019 so you might say it's personal reasons. How much of a rework is needed to enable backwards compatibility? I think I might try adding it myself if it doesn't require to dig too deep.

[2021-11-09 19:42] Morgan-6Freedom commented on #270
I did that in my Visual Studio :
![image](https://user-images.githubusercontent.com/49686866/140993445-3b6ff91a-7d8d-4097-a897-d143161f89b5.png)

but my Unity says that :
![image](https://user-images.githubusercontent.com/49686866/140993513-f125ad11-c776-444a-b760-541f3456be99.png)

[2021-11-09 19:45] Morgan-6Freedom commented on #270
I succeeded to make it work :
1) create an assembly definition in the same folder as your script :
![image](https://user-images.githubusercontent.com/49686866/140993731-352c8aae-82a6-4bb2-b77c-9c1e8c7bfbe8.png)

2) references the GLTFast + GlTFastExport :
![image](https://user-images.githubusercontent.com/49686866/140993893-2ebf1e09-ee3b-4238-ab5e-bc5c4ce0ab20.png)

[2021-11-09 20:48] Morgan-6Freedom opened #275 "Cannot export as GLB an imported GLB because of _BumpMap"
**Describe the bug**
I import a GLB, then export it. I have an error when export.

I have an example project : https://github.com/Morgan-6Freedom/GLBExporter

**Files**

[RoueTest.zip](https://github.com/atteneder/glTFast/files/7507843/RoueTest.zip)

This is the material of the imported GLB :
![image](https://user-images.githubusercontent.com/49686866/141001972-08db6d35-ec19-4149-80dd-aaa7c748800d

[2021-11-09 22:10] mikeskydev commented on #226
Yes, due to the limitations of JsonUtility? The UniVRM project has a custom [UniJson](https://github.com/vrm-c/UniVRM/tree/master/Assets/UniGLTF/Runtime/UniJSON) parser which is used for arbitrary extensions, which may be worth looking at as a basis. Performance is definitely a consideration here.

We've been working on [OMI_audio_emitter](https://github.com/omigroup/gltf-extensions/blob/5f32b7949

[2021-11-10 09:43] #268 closed

[2021-11-10 09:44] atteneder commented on #268
Note: I noticed the file took 14 sec on my machine to load, which is way too much. I've found the problem and fixed it:

https://github.com/atteneder/glTFast/commit/44141f2c9511a399dbe07790f1ce01829233e28d

It's now down to 1.2 sec here.

[2021-11-10 09:55] atteneder commented on #273
Ok, here are short-term solutions:

- Use the alternative [UnityGLTF][https://github.com/prefrontalcortex/UnityGLTF] for now. It should work with older versions as well
- If export is a one-time thing
  - Make a copy of your project
  - Open it with 2020.2 (or newer)
  - Export your assets (once) and delete the copy

If you want to look into porting to 2019:

We need an alternative for `GltfWriter

[2021-11-10 09:56] atteneder commented on #270
Thanks @Morgan-6Freedom , that's a great guide!

[2021-11-10 09:59] atteneder commented on #275
Hi @Morgan-6Freedom ,

Thanks for the excellent report! This should be fixed in the `main` branch and it will be released as 4.4.6 soonish.

[2021-11-10 10:03] atteneder commented on #226
@mikeskydev Sounds great! Keep me posted.

[2021-11-10 11:07] Morgan-6Freedom commented on #270
you can use thoses image for your documentation if you want to

[2021-11-10 16:39] atteneder commented on #269
Note: While debugging other material problems (transparency/blending in HDRP >=10) I noticed that some material features that used to require a separate shader graph can now be controlled via shader keywords. That might be helpful for this issue as well.

[2021-11-10 20:45] hybridherbst commented on #269
Yes, that and also since ShaderGraph supports Built-In starting with 2021.2 the added complexity of those shaders also goes away.

[2021-11-10 21:28] Morgan-6Freedom commented on #275
Tried with 4.4.6
There is no error message but the _MetallicGlossMap and _OcclusionMap still doesn't export.
You can look at my [sample](https://github.com/Morgan-6Freedom/GLBExporter)

[2021-11-11 10:26] cpetry opened #276 "Multiple errors in exported GLTF file"
**Describe the bug**
Exported via script some basic meshes
Using the Visual Studio Code GLTF plugin I got several errors.
Also I cannot open the file with Windows 3D Viewer, Blender or any other GLTF viewer.

**Files**
[New site.zip](https://github.com/atteneder/glTFast/files/7519729/New.site.zip)

**To Reproduce**
1. Open the GLTF file with Visual Studio with the glTF Tools extension
2. See red e

[2021-11-11 10:36] atteneder commented on #276
Hi @cpetry,

Thanks for the report. In case of `.gltf` files, you also need to attach all external files. That means the buffer file (usually same name as the gltf file with a `.bin` extension) and textures (there seem to be none for your file).

On top of that it would be more helpful to have the original assets to test the export on. Can you provide those? (Select them in the project view and go

[2021-11-11 10:41] cpetry commented on #276
Ah sorry for this. The *.bin should have been inside already.
Here the gltf + bin.
[New site.zip](https://github.com/atteneder/glTFast/files/7519729/New.site.zip)

[2021-11-11 10:45] atteneder commented on #276
@cpetry Alright, thanks!

Currently export only works with png/jpeg that are simply copied over. Maybe you used another type (support for those is to be added soon).

I don't know what to make of the invalid buffer values. Again, the original assets would help a lot here.

[2021-11-11 10:49] cpetry commented on #276
I can't export the assets as they get created via numerous scripts in runtime.
Also the materials are created/setup in runtime (Standard built-in shader)
So there exist no direct jgp/png (at least not as an asset)

[2021-11-11 10:51] atteneder commented on #276
Ah, that explains why images are missing. Runtime export is not tested atm, but it'll get added over time.

[2021-11-11 10:52] atteneder commented on #276
Not sure about the invalid values though. Chances are, they are invalid in the mesh already, but it's impossible to tell. Let me know if you have steps to reproduce this for me.

[2021-11-12 18:30] EricBeetsOfficial-Opuscope commented on #206
I thought I understood that at least two texCoord were supported, but the attached model use 2 texCoord and I have a wrong rendering
[forest.glb.zip](https://github.com/atteneder/glTFast/files/7529654/forest.glb.zip)
.
![Screenshot 2021-11-12 at 19 29 14](https://user-images.githubusercontent.com/63807677/141516932-030090b5-cd66-412d-9c1a-ab9339afc2ed.png)
.

Do i do something wrong ?

Eric

[2021-11-12 19:33] atteneder commented on #206
Hi @EricBeetsOfficial-Opuscope ,

I can reproduce it...might be a bug. I'll fix it, probably next week. Which render pipeline do you use?

[2021-11-12 21:21] EricBeetsOfficial-Opuscope commented on #206
Unity 2021.1.20f1
Universal Render Pipeline 11.0
Platform: Editor MacOS

Thanks a lot !

[2021-11-16 00:46] PHORIA-Phill commented on #220
Would love to see this tackled!

[2021-11-16 09:17] ItsCubeTime commented on #258
Personally I would love to see support for creating node graph based materials, so that the artist can easily tweak the materials manually after import when needed

[2021-11-16 10:09] ROBYER1 commented on #264
I am hopefully going to be testing this out to compress animation in files to reduce bandwidth, are there any current fixes in the works for this?

[2021-11-16 12:22] ROBYER1 commented on #221
When importing GLTFs in Editor and including them in builds only as placed models in scenes, the uncompressed size of the models is huge. Is it possible for them to be imported similar to other model files where Unity can compress the contents of the file, similar to .obj or .fbx imports?

[2021-11-16 23:00] A9191 opened #280 "GLB texture in android"
I'm using the same code as mentioned in the documentation:
var gltf = gameObject.AddComponent<GLTFast.GltfAsset>();
gltf.url = "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF/Duck.gltf";

I loaded my GLB file with the texture in Unity on windows player, but when I run the same thing on android, the texture doesn't work and stays in pink color.

 - glTFast ve

[2021-11-17 02:01] dev9spatial commented on #259
@hybridherbst
Is there a repo you know of for runtime USD export?

[2021-11-17 02:05] hybridherbst commented on #259
The official (but still preview) USD Unity Package can do that (at least it could when I last tested it), since it's using the PlayableGraph API:
https://docs.unity3d.com/Manual/com.unity.formats.usd.html

[2021-11-17 13:18] Kredithaichen opened #281 "Normalized Positions"
**Describe the bug**
When importing a .glb-file that was compressed with etc1s and gltf-transform meshopt into Unity via GltfAsset.cs, I am getting an exception: 'Normalized Positions will likely produce incorrect results. [...]'

**Files**
[CUBE-1.0.6.1.etc1s+meshopt.zip](https://github.com/atteneder/glTFast/files/7554838/CUBE-1.0.6.1.etc1s%2Bmeshopt.zip)

**To Reproduce**
Steps to reproduce the

[2021-11-17 13:55] Kredithaichen opened #282 "Scrambled Normal Maps after meshopt compression"
**Describe the bug**
After importing .glb-files compressed with gltfpack the normal maps appear to be completely scrambled and reduced to noise when displayed as diffuse map.

**Files**
[Initial file uncompressed](https://drive.google.com/file/d/1PSMZQllXZOwO6z8TD6vjXC6n3JJAU1LZ/view?usp=sharing)
[Compressed file: ](https://drive.google.com/file/d/1OFakuILPyO42ZgyhiqpodrGyb7Vl4axK/view?usp=sharing

[2021-11-18 12:04] mikeskydev commented on #280
This sounds like an instance of not including all the required shaders in the android build, which would explain why it works in editor but not on android: https://github.com/atteneder/glTFast/blob/main/Documentation~/glTFast.md#materials-and-shader-variants. You're in the right panel, you may just have to include the shaders you require for your model:
![image](https://user-images.githubuserconte

[2021-11-18 13:35] #280 closed

[2021-11-22 15:21] atteneder commented on #264
@ROBYER1 Not yet, as I'm not certain how big the actual usage/user pain on this newish feature is. Did you ran into trouble? If so, feel free to provide additional reproduction glTFs and I'll take a look sooner.

[2021-11-22 15:28] ItsCubeTime commented on #258
Hi @atteneder !

Being able to adjust parameters only would be useful on its own for sure, but I was thinking it would be awesome if one could alter the node graph itself. Usecases are ofc quite unlimited as theres a lot of magic that can happen in a shader graph :)

I had no idea! To me it sounds like what Im suggesting already is whats happening then? Maybe a nice to have here would be if one co

[2021-11-22 15:35] atteneder opened #283 "Editor import mesh compression setting"
When using glTF for design-time (Editor) import, there's no option for Unity mesh compression (like there is for other formats like FBX). Meshes and thus assets/asset bundles become potentially much bigger than they could be (or would be, if imported from FBX).

There should be the same mesh compression setting in the model's inspector like there is for other formats.

The technical solution is li

[2021-11-22 16:06] atteneder commented on #281
@Kredithaichen  Thanks for reporting. This is fixed in 4.4.7 (due to #268).

[2021-11-22 16:06] #281 closed

[2021-11-22 16:12] atteneder commented on #282
@Kredithaichen Thanks for the detailed report!

I've just tested it successfully with glTFast 4.4.7. There's been some fixes that are probably related. Could you please re-test with that version?

[2021-11-22 16:31] ROBYER1 commented on #283
I will find some example gltfs to share with you privately where the file size was dramatically smaller in FBX. I will however check the mesh compression settings available.

Would you advise to use different formats to GLTF for editor design-time imports?

[2021-11-22 16:49] atteneder commented on #258
@ItsCubeTime Usecases are indeed unlimited, but my time is not, so I prefer to seek for actual workflows that save real-world problems first (it's fun to brainstorm workflow ideas though). Maybe a dedicated github discussion is the better place for that to not get dragged away from the original issue/feature here.

[2021-11-22 17:04] atteneder commented on #283
For now, yes (if the mesh size is a concern to you and realtime import with Draco or meshopt compression is out of question)

FBX as the established quasi standard (but lacks advanced PBR material stuff)
USD will be an important artist interchange format in the future (but I haven't tested extensively myself)

[2021-11-23 10:33] atteneder commented on #275
@Morgan-6Freedom That's a start!

The two mentioned maps are  not supported yet. Subscribe to issue #260 for updates to export features.

[2021-11-23 10:33] #275 closed

[2021-11-23 16:04] atteneder commented on #206
@EricBeetsOfficial-Opuscope I just pushed the fix to the main branch, so it'll be in the next release. Next time please create a dedicated issue, so things don't get mixed up. Thanks!

[2021-11-23 16:09] atteneder commented on #111
@ponahoum It definitely should work out of the box! I've made some material fixes recently. Could you please test again and open a new issue if the problem persists? Thanks!

[2021-11-23 16:26] atteneder commented on #210
Yes, glTFast needs to become interruptible. Currently its behavior is not reliable.

[2021-11-25 09:39] atteneder opened #284 "Error "Draco package needs to be installed in order to support glTF extension KHR_draco_mesh_compression!""
### Discussed in https://github.com/atteneder/glTFast/discussions/279

<div type='discussions-op-text'>

<sup>Originally posted by **ItsCubeTime** November 16, 2021</sup>
![image](https://user-images.githubusercontent.com/20190653/141960906-302ccee3-262b-4e9d-8d81-9756b79ca2cd.png)

Any thoughts or advice is welcome <3 Im using Unity 2020.3.22f1 with a Personal license, testing in the HDRP sample

[2021-11-25 10:27] ItsCubeTime commented on #284
Oh hi, uhm thanks for the effort making this an issue but I actually got it working soon after my last post after reinstalling both glTFast & Draco3D from there master branch (via Unitys git package install feature)!

So Im guessing the issue derived from using mismatching versions of Draco & glTFast.

I do have another question though that I dont think is answered in the docs; Can I expect the sh

[2021-11-25 11:01] atteneder commented on #284
Good to hear, but then I didn't understand the intention of your last message :)

Anyhow, regarding HDRP and material issues:

There are currently a couple of known problems with HDRP. From the top of my head:

- Transparency order issues
- Emission value (range 0-1) does not reflect HDRP's physical value (lumens) and thus is often not visible/too weak

Also some newer material extensions are not

[2021-11-25 11:01] #284 closed

[2021-11-25 12:10] ItsCubeTime commented on #284
Hi again and thanks! Yeah okay, well assuming it builds just fine for desktop & console that shouldnt be any issue.

I noticed though theres some serious performance penalty comparing a material created by gltFast & HDRPs lit shader:
https://youtu.be/E0l9Dt5o9Ko (The "black" material is using HDRPs lit shader that was manually setup using normal/smoothness/met/ao/albedo textures, the blue one is a

[2021-11-25 12:46] ItsCubeTime commented on #284
I can see this section in the manual:
![image](https://user-images.githubusercontent.com/20190653/143444190-4335aee8-9847-4219-9617-c7670d82763f.png)

Mentioning ways for me to customize the import process, but can I use this during editor imports? We're pretty much only looking to drop gltf files into Unitys file browser really.

[2021-11-25 13:09] ItsCubeTime commented on #284
@atteneder let me know if you have any thoughts <3 I would really love to make gltFast a cornerstone of our asset pipeline.

Up until now weve basically been building our scenes in Blender, exported our models with fbx and then recreated all our materials manually in Unity, which to me seems like a pretty big annoyance when we already have everything setup with textures in Blender.

[2021-11-25 13:21] atteneder commented on #284
@ItsCubeTime Thanks for pointing out that performance problem!

Is the performance so bad in the Editor as well? Or is it restricted to certain platforms/builds?

Two ideas/solutions:

1. Analyze what the source of the bad performance is. One way to make shaders faster is to leave out unused paths via keywords. Unfortunately the number of variants is already hight, so this is a hot topic to be sol

[2021-11-25 14:56] ItsCubeTime opened #285 "Severe performance penalty using the materials generated by glTFast compared to HDRPs default lit material"
Severe performance penalty using the materials generated by glTFast compared to HDRPs default lit material

Try importing the glb in the following zip file: https://u.teknik.io/C7WFD.zip (the glb was generated by Blenders glb exporter, in Blender version 3.0.0 beta) using glTFast in a HDRP Unity project.

Use the same textures provided in the glb to create a Unity default lit shader:
![image](http

[2021-11-25 14:58] ItsCubeTime commented on #284
https://user-images.githubusercontent.com/20190653/143459185-6f9188c4-0b66-4304-acfb-3532a8cc6051.mp4

No, thank you for showing interest!

Can you elaborate a bit on that? Where exactly do I change that setting? I dont see any in my inspector with a material created by glTFast in my content browser. How do I bring up that particular menu in the inspector that I find that setting?

This is what it

[2021-11-25 15:00] ItsCubeTime commented on #285
@atteneder please let me know if you need any more information or if you come to a conclusion on how patch-able this is (or if I can apply any workaround without having to setup my materials by hand).

Im also available through Discord danieljackson#0286 .

[2021-11-25 18:14] EricBeetsOfficial-Opuscope opened #286 "Huge BlendShape model"
**Describe the bug**
When I am trying to load a huge blendshaped model, Unity crash (or, in the best case, has a huge lag).

=> Would you agree to update the MorphTargetContext.AddToMesh to a `async Task` function (and around) and add a `await Task.Delay(10, CancellationToken.None);` ?

Of course, I can provide a PR ;).

**Desktop (please complete the following information):**
 - glTFast version 4

[2021-11-26 07:51] Kredithaichen commented on #282
I have tested again with glTFast 4.4.7 and the problem persists:
![UpdateScreenshot](https://user-images.githubusercontent.com/31171070/143265204-bc7d91aa-cd31-40c2-b396-760c400d1a93.png)

However after exporting it as .fbx and bringing it into Blender, I found the UV maps scaled up by a factor of ~2000. Once scaled down the coordinates still had a huge offset (see attached screenshot), but worked

[2021-11-26 16:17] atteneder commented on #274
I assume it was solved. Please re-open if I'm mistaken.

[2021-11-26 16:17] #274 closed

[2021-12-01 10:04] JSWorkspace1 commented on #258
This would be a good Feature for me.  I have a application where visibility is more important then visual accuracy and i don't control the glb models.
I am currently struggling to to have the PbrMetallicRoughness shaders of some glbs be all equally lit in my scenes.(somehow they barely react to directional lights?)
Having a simple setting on loading to only use standard shaders would be great.

[2021-12-01 12:16] ItsCubeTime commented on #258
Something else that I would like to see support for is automatic detection of already existing materials/textures & reuse of those materials/textures where possible.

In our project we use a trimsheet/atlas texture approach to most assets, where we re-use the same textures for many different scenes across our game and simply duplicating all these textures/materials on a per gltf import/scene basis

[2021-12-01 14:05] atteneder commented on #258
@ItsCubeTime Yes, that's exactly what this issue is about.

At runtime, you'd want to use the glTF shaders, since that way you don't need to change the channel mapping of certain textures, which costs a lot of performance (e.g. extracting the metallic/blue-channel out of the ORM texture).

Currently the Editor import also uses those shaders, since it did not need any work this way.

In the future

[2021-12-01 15:35] #11 closed

[2021-12-01 15:50] JSWorkspace1 opened #288 "Glb with KHR_mesh_quantization appears black"
**Describe the bug**
Model with KHR_mesh_quantization appears black.
I have two models that should be identical except one uses KHR_mesh_quantization.

In an [Online Viewer](https://gltf-viewer.donmccurdy.com/) they look identical .
![Screenshot 2021-12-01 160013](https://user-images.githubusercontent.com/23420842/144259916-0f437ee8-c6f4-45fb-bf10-bc631055fea6.png)

But when loaded via gltfFast th

[2021-12-01 16:24] asus4 opened #289 "Blend shape animation glitches at loop point"
**Describe the bug**

First of all, thank you for publishing a wonderful library.

The blend shape animation glitches one frame at the loop point.
I expect this is due to the keys in animation should start from `0.0` but glTFast's animation starts from `1.0`.

**Files**

I uploaded a minimum Unity project to reproduce this issue,

https://github.com/asus4/glTFastTest

**To Reproduce**

1. Open `Te

[2021-12-01 16:28] atteneder commented on #288
Hi @JSWorkspace1 ,

Thanks for reporting. Are you using the built-in render pipeline? Does the shading become correct if you scale up the whole model?

This is likely a duplicate of #75. A probable solution could be increasing the precision of the vertex-to-fragment data types, but I don't know if that has performance impact.

[2021-12-01 16:40] atteneder commented on #289
@asus4  Thanks for the great report.

Luckily this was fixed in #277 already, so expect a solution in the next release 🎉

[2021-12-01 18:04] atteneder opened #290 "High precision positions / transform (64-bit) for giant scenes"
Some use-cases require extreme value ranges when it comes to node positions/transforms (think globe-, or universe-scale scenes)

While glTF's JSON is capable of representing high-range values in text form, Unity's transform system works with/is limited to 32-bit positions. This limitation might be solved natively someday or with a custom high-precision hierarchy-transform, but as long as this is n

[2021-12-01 18:04] atteneder commented on #175
Closing in favor of #290

[2021-12-01 18:04] #175 closed

[2021-12-02 09:00] JSWorkspace1 commented on #288
Yes using the standard render pipeline.
Yes between 6-7x Scale lighting becomes normal.

This issue could be closed since its already tracked.

[2021-12-08 02:23] qq3600605 opened #291 "glb动画设置成Mecanim时 无法循环播放"
glb动画设置成Mecanim时 无法循环播放
直接在unity里设置glb的Animtion为Mecanim时，glb里面的动画的Loop Time也未勾选
运行时设置AnimationClip的wrapMode为loop也不行

[2021-12-08 08:53] atteneder commented on #291
@qq3600605 Thanks for the report.

Paraphrasing via Google Translate:

I'll try to have a look soon

[2021-12-08 16:03] ROBYER1 commented on #22
Does this apply to animation? I am looking into streaming GLTF animations so that the first frame or two can be previewed before the full animation. Is this feasible?

[2021-12-08 16:24] atteneder commented on #22
@ROBYER1 I love that idea! From the top of my head:

- Initial pose (which is not necessarily the first frame): I think that's feasible, yes!
- First frame:
  - Via Unity API (AnimationClip): I doubt it. We'd have to add keyframes as we go, which I'm afraid is not supported
  - Via custom animation system: The sky is the limit, but that is not planned

I'm asking myself what kind of performance ga

[2021-12-08 16:32] ROBYER1 commented on #22
Mainly looking at this from a mobile app bandwidth perspective as potentially up to 100mb bandwidth usage+ I have been informed is quite pricey 😅

I did some R&D on separating the model and animation so that the animated armature as a gltf can be sent over separately to a locally cached 3d model, which works great. I was looking at reducing the bandwidth usage of the app further by possibly stream

[2021-12-08 16:36] atteneder commented on #22
@ROBYER1  Thanks for your input.

fwiw: You can already compress animation today via [EXT_meshopt_compression](https://github.com/KhronosGroup/glTF/blob/main/extensions/2.0/Vendor/EXT_meshopt_compression/README.md)

[2021-12-08 16:38] ROBYER1 commented on #22
Thanks, I'm looking into both that and Draco tomorrow to test out. I'll report back if there are any other use cases where things can improve but overall very pleased with GLTFast 😎

[2021-12-09 13:46] ROBYER1 opened #293 "Readme - how to install meshoptimizer decompression for Unity?"
This is more of a Readme update request and a post to help others than a bug, I couldn't seem to find much online about the EXT_mesh decompression plugin for Unity or how to add it (the unity documentation here was also [vague](https://docs.unity3d.com/Packages/com.unity.meshopt.decompress@0.1/manual/index.html))

I had to manually add this to the package manifest json in my Unity project
`"com.un

[2021-12-09 14:44] ROBYER1 opened #294 "Issue with armature/animation on EXT_Meshopt_compression model"
**Describe the bug**
I am finding that imported humanoid models using KTX and EXT_Meshopt_compression have issues with visibility of alpha textures and parts of the animation playback appear to have stretched or exaggerated weights at some joints.

This can be seen in the screenshots below, from some angles the hair on this model disappears and the shoulders/groin are stretched outwards

**Files**

[2021-12-09 14:50] ROBYER1 commented on #294
Just to add, the hair node disappears at certain zoom based on the property 'Update when offscreen' on the MeshRenderer. If I enable that property, the hair stays visible always. I am not sure what the best practice should be here in this case, it's not the end of the world if I have to search for the skinned renderers on the spawned object and enable that at runtime but it's a bit of a weird one!

[2021-12-09 14:50] #293 closed

[2021-12-10 15:51] atteneder commented on #293
I approve this message!

Thanks @ROBYER1

[2021-12-12 17:23] TEAServ opened #295 "Unity webgl build- out of memory error in runtime"
Hello,
I have an issue in run-time for the webgl build
when I try to run-time import a big and heavy glb file the app is freezing and the browser console shows an error of memory allocation "Out of memory",
my unity project is so lightweight and simple, just using the gltfast package,
when I tried to import the same file with the **[demo webgl build](https://gltf.pixel.engineer/)**
it goes so smoo

[2021-12-13 08:49] ROBYER1 commented on #295
See Large Allocation HTTP Header here and try that first :)
"Large-Allocation HTTP header"
 https://docs.unity3d.com/Manual/webgl-memory.html#:~:text=Settings%20%3E%20Publishing%20Settings.-,Large%2DAllocation%20HTTP%20header,-Your%20server%20can

[2021-12-13 09:39] TEAServ commented on #295
Hi @ROBYER1,
thank for the advice, gonna try it,
but I noticed that it's only supported for only (mozilla firefox browser) for now, but I need it to be working on the most common browsers like(chrome and edge)!
btw I'm going to try the Large-Allocation header,
thanks,

[2021-12-13 09:43] ROBYER1 commented on #295
I would suspect it is a server side configuration for your WebGL build but I'm sure the plugin maker here will chime in if I'm wrong. Just trying to help out as I had a similar issue before solved by server configuration

[2021-12-13 10:16] TEAServ commented on #295
Hey @ROBYER1,
can you help me a little bit on how to impalement this ?
I'm using "Varcel" as a hosting service for my build
[sample](https://gamee.vercel.app/)
I don't know how to configure the server side configuration for my WebGL build to add the Large-Allocation response header!
I checked [this](https://docs.unity3d.com/2020.1/Documentation/Manual/webgl-server-configuration-code-samples.html)

[2021-12-13 10:19] ROBYER1 commented on #295
Unfortunately I don't know much about servers or the web I'm no expert there, I usually have the server set up for me!

[2021-12-14 12:54] TEAServ commented on #295
want to add more information:
my webgl app crashed with "out of memory" error when it reach its limit of 2GB heap memory of ram (about 2.7GB total memory[app data + heap])
but in the[ Webgl demo](https://gltf.pixel.engineer/) when importing the same file the process is done successfully without errors or warnings even after the heap memory exceeded **5GB** of ram on single chrome tab!
here is my s

[2021-12-14 12:55] TEAServ commented on #295
the link of my file :
https://www.mediafire.com/file/wiy1dsldl1yxzsz/65.glb/file

[2021-12-15 18:03] atteneder commented on #295
Hi @TEAServ ,

that's surprising. Are you loading the glTF via the `GltfAsset` component or in a custom way?

[2021-12-15 18:22] atteneder commented on #288
I'm closing this now, since it's a duplicate of #75

Please see the original for updates

[2021-12-15 18:22] #288 closed

[2021-12-15 18:24] atteneder commented on #75
I've done some initial research.

It looks like there's a bug in Unity's hierarchy transform system that breaks shading for objects with a small scale value.

I've filed an [issue](https://fogbugz.unity3d.com/default.asp?1388866_109bh9ne0893lsvj) with Unity and I'm awaiting response.

[2021-12-16 09:12] TEAServ commented on #295
Hey @atteneder ,
After deep memory tracing I found that the webgl demo not using the 5GB of memory heap, after importing my big glb file using the webgl demo I found that the app is using (1.98GB) of heap memory and the rest of the used 5GB consumed by the GPU process, so that's why the demo app didn't crash because it didn't reach the unity/browser limit of memory usage (2GB), It's almost reach i

[2021-12-16 09:16] #295 closed

[2021-12-16 13:24] atteneder commented on #295
@TEAServ

Yeah, that's a pity. Creating a collider mesh essentially makes a full copy of the mesh for PhysX. My mid-/long-term hope is with Unity or Havok Physics with DOTS though.

Thanks for the kind words!

[2021-12-16 23:15] mikeskydev commented on #226
Just to update from my side, I've been testing the various parsing speeds of different JSON libraries. This has been tested against a large .glb file we have internally at my company:

![image](https://user-images.githubusercontent.com/9121007/146462460-a99ccccc-31de-4547-b99f-a5fa71b1458b.png)

The fastest one so far that's close to unity's JsonUtility is SimpleJSON: https://github.com/Bunny83/Si

[2021-12-17 08:07] atteneder commented on #226
@mikeskydev Thanks for that initial research!
I hope I can dig into this topic (early) next year. Extension API will become **very** important seeing how devs are pushing for metaversy glTF extensions!

[2021-12-21 18:42] atteneder commented on #269
@hybridherbst  Looking at it!

Strangely I couldn't reproduce it (glTFast 4.4.9, Unity 2021.2.7f1 with URP 12.1.2). I now ticked off "strip unused variants" in URP's global settings and now I have to wait a while :)

Here's the [Unity issue](https://issuetracker.unity3d.com/issues/some-lit-shaders-are-having-huge-count-of-variants-which-leads-to-project-build-prevention)

[2021-12-22 12:15] atteneder commented on #264
There was an error in the meshoptimizer decompression for Unity package. A fixed version 0.1.0-preview.3 is in the making.

[2021-12-22 14:23] #264 closed

[2021-12-22 14:37] ROBYER1 commented on #264
@atteneder Does that affect this issue also?
https://github.com/atteneder/glTFast/issues/294

[2021-12-22 15:21] atteneder commented on #264
@ROBYER1 Unfortunately the other issue is not resolved yet. I'll have a look after the holidays.

[2021-12-25 14:38] atteneder commented on #75
So it turned out that this is indeed a [Unity issue](https://issuetracker.unity3d.com/issues/objects-get-rendered-black-slash-dark-color-when-their-scale-is-ridiculously-small) and that it is by-design (so it won't get fixed).

I can think of workarounds (like re-scaling vertices), but that's all rather tedious.

[2022-01-04 16:54] atteneder commented on #264
fyi: The *meshoptimizer decompression for Unity* package was updated just now!

[2022-01-10 12:35] vcand opened #298 "When playing back certain skinned animations, the model is flickering"
When playing back animations on some models with skinned meshes, the model is flickering.
When stepping forward frame by frame, you can clearly see that the model vanishes between frames, and various parts come and go randomly.

To reproduce:
1. Download the glTF version of this model from Sketchfab and import into Unity editor:
https://sketchfab.com/3d-models/aj-hiphop-f5abe05ff2124527a6871060b28

[2022-01-11 15:21] jhx-zc opened #299 "Gltf Exporter Loss Model Material"
**Describe the bug**
A clear and concise description of what the bug is.

**Files**

Attach or link to *.gltf/*.glb files that trigger the bug.

If your files are confidential:

- Try to create a similar, but intellectual-property-free glTF that reproduces the bug in the same way (so any community member can have a look)
- Otherwise, still create this issue and send the files (or a link to them) d

[2022-01-11 15:22] #299 closed

[2022-01-11 15:33] jhx-zc opened #300 "Gltf Exporter Loss Model Material"
**Describe the bug**
Gltf Exporter Loss Model Material.

**Files**
In unity,with model material
![unity_demo](https://user-images.githubusercontent.com/52167297/148971406-f612a5a3-c044-4f21-9a9a-f3d857813350.png)

After exported,without model material
![without_demo](https://user-images.githubusercontent.com/52167297/148971761-23f16b5d-fca9-44b2-a58b-12dbe2631ca2.png)

Exported files:
[demo.zip](h

[2022-01-11 17:05] atteneder commented on #300
@jhx-zc Thanks for the report and congrats on issue nr. 300  🥳

Since export is still experimental, likely the type of material/shader you're using does not work yet.

Could you specify which shader your model uses? Your RP is Universal 12.0, correct?

If you can, please export the original model as a package (via menu `Assets -> Export Package`).

[2022-01-12 11:32] atteneder commented on #298
@vcand Thanks for your report!

I cannot reproduce the flickering! Please report exact versions of glTFast, Unity and render pipeline you are using.

I noticed other problems:
- Hiphop dancer: The face won't render correctly, as it uses UV set 2 (only 0 and 1 are supported atm)
- Dinosaur: animation was smooth, but skin artifacts (maybe not all bone weigths are considered); spec-gloss shading is b

[2022-01-12 11:46] atteneder commented on #298
I *can* reproduce in 2020.3 now, but it's working in 2021.2

[2022-01-12 15:46] atteneder commented on #298
@vcand I suspect the animation curve tangent calculation has errors. If that's true, then there'll be a fix for 2020.3.

And yeah, the wrong dinosaur shading was a regression in my branch, which you'll now likely never see (thanks for the incidental hint)

[2022-01-12 18:59] atteneder commented on #298
@vcand The error is at sketchfab's glTF export, but I have a solution!

If you run the files through the glTF-Validator, you'll notice they got **many** errors. The one that pops out (example):

[code]

So some (around half of all) subsequential animation keyframes have identical input (time) resulting in strange artifacts. I'm actually surprised that Unity 2021's API is taking care of the faulty

[2022-01-12 19:28] #298 closed

[2022-01-13 12:52] jhx-zc commented on #300
Oh,sorry.
I can not specify the shader,but the model which i exported can be find at unity asset store.Here is the [link](https://assetstore.unity.com/packages/3d/environments/industrial/rpg-fps-game-assets-for-pc-mobile-industrial-set-v2-0-86679).

It is a free env asset.I ues it for GLTF file exporter test.

[2022-01-13 13:01] jhx-zc commented on #300
And,today i consult with an UI designer.He told me that the problem is the exporter.

[2022-01-13 13:31] ROBYER1 opened #301 "Animated Skinned Mesh Renderer bounds stay static due to not having root bones assigned"
**Describe the bug**
I was noticing with a lot of skinned mesh renderer objects, any child nodes tied to the armature like hair/eyes and accessories would clip in and out of visibility when looking around the model.

After some digging, I saw the bounds of the mesh stay static in the scene due to them not having a root bone assigned in the Skinned Mesh Renderer. Manually assigning the correct root

[2022-01-14 10:14] atteneder commented on #298
So I contacted Sketchfab about those models and their errors. Turns out those were exported a while ago (glTF asset -> generator was `Sketchfab-3.19.6`). They triggered a re-export (now with `Sketchfab-12.38.0`) and the validation errors are gone!

Guess the lesson to learn is always check against the glTF-Validator and a well-tested, alternative viewer first.

[2022-01-15 19:53] atteneder commented on #286
Closed via #287

[2022-01-15 19:53] #286 closed

[2022-01-17 13:40] atteneder commented on #301
Hi @ROBYER1 ,

Thanks for this excellent report! You already mention the problem: The AABBs used for culling is not calculated nor updated per frame. All info on it can be found in the docs for SkinnedMeshRenderer (SMR) under [Determining a GameObject’s visibility](https://docs.unity3d.com/2021.2/Documentation/Manual/class-SkinnedMeshRenderer.html). Solutions that come to my mind:

### Solution 1:

[2022-01-17 13:45] atteneder commented on #294
@ROBYER1 Thanks for the report.

The disappearing of hair seems to be covered in #301 already.

The strange skinning artifacts I can reproduce with meshopt 0.1.0-preview.3. I'll have a look.

[2022-01-17 16:11] atteneder commented on #294
It looks like after the meshopt compression the per-vertex joints are not sorted by weight anymore. glTF comes with quadruplets of bone joints/weights, but Unity may only consider the first 1 or two joints for skin deformation (depending on the quality setting).

I have a fix in the making (sorting joints per vertex in a C# job)

[2022-01-18 08:09] atteneder commented on #294
Note: Thanks to @zeux future versions of gltfpack will sort joints by weight

https://github.com/zeux/meshoptimizer/pull/399

[2022-01-18 08:43] ROBYER1 commented on #294
@atteneder Thanks for looking into this for the fix, if there is anything to fix I can test this with, please let me know!

[2022-01-18 08:46] ROBYER1 commented on #301
Out of the fixes, I think the assign of a root bone even if multiple bones affect the skinned mesh renderer is probably the best we have for a fix without performance impact.

My reasoning for this is that at least we know if a skinned mesh renderer has a few bones affecting it, even if one is assigned we can be sure the occlusion bounds will be closer to where the skinned mesh renderer is during

[2022-01-18 08:47] ROBYER1 commented on #301
I was typing on mobile and accidentally closed the issue!

[2022-01-18 11:48] #294 closed

[2022-01-18 17:13] atteneder commented on #301
I'm not convinced, to be frank. Imho it's a "schlimmbesserung".

- Arguably "somewhat" better for cases where the mesh moves far distances (like a non-stationary run-cycle), but still no guarantee for correct culling
- Search for the most significant joint of a mesh costs performance and does not scale well with vertex count
- Conflicts with the `skeleton` skin property of glTF, which if present i

[2022-01-18 17:33] atteneder opened #302 "Improve SkinnedMeshRenderer culling by providing a better AABB"
At the moment culling problems are avoided by enabling *Update When Offscreen* setting of SkinnedMeshRenderers (SMR), which comes at a performance cost. This issue is about finding a better solution.

### Solution 1: Enable Update When Offscreen (status quo)

- Pro: rapidly implemented
- Con: Performance regression as a lot of per-frame calculations are necessary

### Solution 2: Assign a particul

[2022-01-18 19:10] #291 closed

[2022-01-18 19:12] atteneder commented on #291
I have now hard-coded glTFast to set the Loop Time to true.

The glTF specification does not contain a definition for using or looping clips, but at least now it's consistent with legacy clips (where WrapMode.Loop is set hard coded as well).

The better solution would be providing a proper Inspector GUI to customize each and every AnimationClip, but that's a larger endeavor in the context of Edito

[2022-01-19 04:02] gfaraj opened #303 "Add an asmdef so this can be used in other packages"
I haven't found a way to reference this project's assemblies in my own UPM package. It seems like the only way to do that would be to expose an asmdef so it produces its own assembly.

[2022-01-19 04:32] #303 closed

[2022-01-19 04:33] gfaraj commented on #303
I just noticed it generates an assembly called glTFast.dll -- sorry, I was importing it incorrectly.

[2022-01-19 09:35] atteneder commented on #303
No worries.

The naming of the assembly is not ideal, since I didn't know about best practice when this project started. It'll probably change at some next major release.

[2022-01-19 12:26] mespino-cityzenith commented on #90
Hello,

First, thank you for developing this library. I expect this package to be officially supported by Unity soon.

We are considering to use GLTF in our application. We are using CAD files and our idea is to use gltf as a visualization format.
The problem here is that we need to maintain the metadata structure.
I've seen that @chrisssssy has done already some progress in that direction and tha

[2022-01-19 13:42] atteneder commented on #90
Thanks for reaching out @mespino-cityzenith !

So far I haven't gotten much requests for meta-data, thus it's not planned near-term.

I've reviewd @chrisssssy 's work now and I think it needs adjustment.

What does your metadata structure look like? Is it a simple string in `node.extras.data` or a richer, custom JSON structure? Are you using the XMP extension?

[2022-01-19 14:41] atteneder commented on #282
Seems not glTFast related -> closing

[2022-01-20 10:33] mespino-cityzenith commented on #90
The metadata is just a key/value list. It doesn't have any homogeneous schema because it could have any key-value pair

![imagen](https://user-images.githubusercontent.com/72405215/150321104-89ac3acb-fed0-435c-b1a7-76b72fe75c5a.png)

What I'd do is to create a component with a key/value list and add this component to the child corresponding to the node, filled with the key-value list parsed from t

[2022-01-20 10:49] atteneder commented on #90
@mespino-cityzenith

Thanks for sharing this insight. glTFast currently uses JsonUtility for JSON parsing, which makes it, well, *fast*. Unfortunately it's not very flexible, especially when it comes to parsing JSON structures unknown at build time (like yours).

I totally want to enable uses cases like yours, but this needs a bit more research and refactoring first.

This is related to #226

[2022-01-20 14:19] ItsCubeTime commented on #285
The performance difference only became obvious once you had enough overdraw (faces stacked behind eachother within the camera view frustum). If you just put a plane covering your screen I only saw like a 2-3 fps drop.

[2022-01-20 15:24] atteneder commented on #285
I tried to create decent overdraw.

Anyways, guess we'll have to wait for 4.5.0 to compare again. I have some remaining issues to fix first.

[2022-01-20 16:41] ItsCubeTime opened #305 "Store materials/textures in a user specified directory & reuse of materials/textures using texture/material name matching (or "value" matching if possible)"
**Is your feature request related to a problem? Please describe.**
When exporting materials & textures to a larger project, you might find yourself re-using textures/materials for several objects. Often when importing textures from a different software, such as Blender that uses a completely different render engine, you might need to tweak your materials manually afterwards. Therefore its crucial

[2022-01-21 00:56] gfaraj opened #306 "Building with Unity Cloud build fails"
There's some issue with lfs when building in Unity Cloud Build:

`1: [Unity] An error occurred while resolving packages:
2: [Unity]       Error when executing git command. Downloading Documentation~/img/Unity-glTF-workflows.png (46 KB)
3: [Unity]       Error downloading object: Documentation~/img/Unity-glTF-workflows.png (863cfd7): Smudge error: Error downloading Documentation~/img/Unity-glTF-work

[2022-01-21 09:11] atteneder commented on #306
Hi @gfaraj ,

How did you install glTFast? Via OpenUPM, GIT URL (ssh) or GIT URL (https) ?

[2022-01-21 10:53] kfina91 opened #307 "WebGL Materials not loading [Unity 2019.4.34]"
**Describe the bug**
Materials do not load in WebGL build, but load fine in Editor using "Load from byte array" code from docs.

**Code**
[code]

**Information**
I saw these 2 issues:
https://github.com/atteneder/glTFast/issues/151
https://github.com/atteneder/glTFast/issues/149
but no pipeline is installed or referenced.
![image](https://user-images.githubusercontent.com/72922128/150512827-b4ab0d

[2022-01-21 11:27] atteneder commented on #307
Hi @kfina91 ,

most likely your build is missing the shader variants it requires to create the materials for your model. In the Editor they are compiled on-demand, but you have to make sure that your build includes them.

Please read [the documentation](https://github.com/atteneder/glTFast#materials-and-shader-variants)

[2022-01-21 11:27] #307 closed

[2022-01-21 17:33] gfaraj commented on #306
Hey @atteneder ! I'm using an HTTPS git URL in the manifest. Would it be better to use something else?

I ended up forking and removing LFS to resolve the issue last night, but ideally I'd like to avoid using a fork.

https://github.com/gfaraj/glTFast

I didn't see a huge need for LFS though, currently only a handful of small images are being tracked in LFS.

[2022-01-21 18:36] atteneder commented on #306
Yeah, I'd try the scoped registry/OpenUPM way.

True, LFS is not used heavily right now, but I want to keep the option (think adding test or sample glTF-binary files)

[2022-01-22 02:50] gfaraj commented on #306
Yeah I do understand the reasoning, my experience with LFS hasn't been positive usually 🙂  -- the other option would be making a separate repo for samples, with possibly a submodule of this repo within. I hesitate to go the scoped registry route because my plan is to install this on _many_ projects and I like the fact that I can simply add 1 line to the project's manifest and be done. 🤔

[2022-01-24 16:41] atteneder commented on #269
@hybridherbst Is this still a problem? glTFast 4.5.0 uses less shader graph versions. We should re-evaluate this issue.

[2022-01-26 16:24] ROBYER1 commented on #269
I was relived to remove a lot of variants when using URP 12 with gltFast 4.5.0+, keeping an eye on build times here to see if there is a big improvement

[2022-01-27 09:21] hybridherbst commented on #269
I think the underlying issue still isn't fixed in Unity though (it's still in [the "Known Issues" list ](https://unity3d.com/de/unity/whats-new/2021.2.8#:~:text=ShaderGraph%3A%20Some%20lit%20Shaders%20are%20having%20huge%20count%20of%20variants%20which%20leads%20to%20project%20build%20prevention%20(1378545))of Really Bad Things In Releases)

It might just be under the one million variants it needs

[2022-01-27 09:33] ROBYER1 commented on #269
I noticed the same issue with Unity also. The only benefit I had was in Unity 2021.2 with GLTFast 4.5.* and URP 12 I didn't have to use so many legacy variants.

Keeping an eye on this as you with the aborting during builds if I slapped all the variants in rather than just the ones I use so I got lucky in our app use case.

[2022-01-27 10:04] hybridherbst commented on #269
Thing is, if you want to load generic glTF models at runtime (e.g. you don't know what users will add) you definitely want to include the entire set of glTFast shaders as always included ones - otherwise some models will look wrong. Fingers crossed that Unity actually fixes this soon...

[2022-01-28 10:22] vcand commented on #298
Thank you so much for this fix @atteneder . I had the chance to integrate it now into our product and it works flawlessly.

[2022-01-28 16:07] blanxdev commented on #288
Hi, can you please give a bit more details where to change this?

I am also experiencing the shading problems and wanted to see if this helps.

Thanks

[2022-01-29 20:05] atteneder commented on #288
Sorry, there's no solution for this atm. Again, this is a duplicate. The situation is explained in detail in #75.

You can circumvent this by switching to Universal Render Pipeline or not using quantization.

[2022-01-29 21:22] nigelmerle opened #312 "Is it possible to import animations yet ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-29 21:27] atteneder commented on #312
Animation import has been working since [3.2.0](https://github.com/atteneder/glTFast/blob/main/ChangeLog.md#320---2021-04-13).

At runtime, the legacy `Animation` component is used. For Editor import you can choose between Mechanim and Legacy.

I hope that clarifies the question.

[2022-01-29 21:27] #312 closed

[2022-01-29 21:38] nigelmerle commented on #312
I tried to import a 3d model with animations but the animations were not
showing up, thats why i was asking. Does it mean that i need to download an
older version for it to work?

On Sun, Jan 30, 2022, 01:27 Andreas Atteneder ***@***.***>
wrote:

[2022-01-29 21:46] nigelmerle commented on #312
Why it doesn’t use mechanim  ?

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Nigel ***@***.***>
Sent: Sunday, January 30, 2022 01:38 AM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [atteneder/glTFast] Is it possible to import animations yet ? (Issue #312)

I tried to import a 3d model with animations but the animations were not showing up, thats

[2022-01-29 22:09] atteneder commented on #312
No, just use the most recent version and you're good.

If you want me to look at your problem, you have to provide more useful information. For example attach the glTF file in question.

What does "not showing up" mean?

[2022-01-29 22:40] nigelmerle commented on #312
I am missing the humanoid  and the animation import interface,  I need to bake the transform of the character as I usually do to prevent foot sliding…etc. I also need to resize the length of my animations.
I have tried many gltf importers but none have worked for me so far. This is a test I am doing because I wanted to switch from fbx to gltf, I see the animations looks better.
This same animation

[2022-01-29 22:55] nigelmerle commented on #312
I also need to have the event options so that I can reference the animations with the game engine

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Nigel ***@***.***>
Sent: Sunday, January 30, 2022 02:40 AM
To: ***@***.***>; ***@***.***>
Cc: ***@***.***>
Subject: RE: [atteneder/glTFast] Is it possible to import animations yet ? (Issue #312)

I am missing the humano

[2022-01-31 08:53] DelTaGC commented on #258
Hi, I think that option would be useful.

The problem I encountered: I receive a .glb file, but when I import it in Unity and build my binaries size is 4x larger because there were many 4K textures in that model.

With a FBX I would let Unity extract the materials/textures and simply reduce the textures size. AFAIK there is no such possibility with glTFast. So a conversion to Lit/Standard with ext

[2022-01-31 09:11] atteneder commented on #258
@DelTaGC :

I can see that a workflow like that would be useful to some/many, but I'm asking myself what would be the best solution. Ideas for approaches:

1. Optimize glTFs in-place/before import (glTF->glTF). This is very specific, but users of real-time import would benefit as well. Also, this could be done by a separate tool or SDK and thus Unity-independent.
2. Extract Materials (like FBX off

[2022-01-31 09:46] drjaydenm commented on #258
Hi there, personally I am looking for the ability to remap materials at editor import time, similar to how Unity offers out of the box for FBX, OBJ etc. My use case is that I don't want to use any of the gltf material data, apart from the UV coords, and just want to apply a texture via a custom shader graph material.
At the moment, I can do this by manually going into every mesh in the model and s

[2022-01-31 09:48] atteneder commented on #312
@nigelmerle

Ahh, now I get it. Thanks.

So I already did research if it is possible to re-use the FBX import tools (which are indeed powerful), but unfortunately that's not the case. I'll try to look into this topic at some point, but don't expect a near-term solution here. I think we're gonna have to decide what the best glTF workflow is and implement it in a way, that is universally usable (for

[2022-01-31 10:27] nigelmerle commented on #312
Also i want to comment on something. When i checked the humanoid options in the importer in unity, the character doesn't play other unity animations that was retargeted as humanoid, this is problematic if we cannot retarget our characters properly

[2022-01-31 10:31] atteneder commented on #312
I see. I suggest you file a bug (Menu -> Help -> Report a Bug) or consult the Unity forum regarding this one.

[2022-01-31 12:12] atteneder commented on #305
@ItsCubeTime Thanks for the feedback.

Would the solution the FBX importer offers (extract materials and on-demand re-mapping) suffice for your needs?

[2022-01-31 12:13] atteneder commented on #258
@drjaydenm :

I think I got what you mean, thanks. It's a different topic though and (in my opinion) already covered in #305 .

[2022-01-31 13:33] ItsCubeTime commented on #305
Mostly yes, what I have struggled with most in my current workflow is when the materials get some suffix from Blender, like .001, .002 (etc).

Another thing is that the default importer places a folder of materials right next to the fbx. Personally I dislike this for our "reuseability workflow" and would prefer the materials to go into some specified directory that you choose yourself (that in my

[2022-01-31 13:56] atteneder commented on #305
@ItsCubeTime I see.

Imho Blender's numbering is not adequate to replace regular versioning (GIT like). Even if it was, that should be a thing the AssetDatabase should take care of, not the importer of a specific format (glTF). You could actually implement that by hooking into AssetDatabase callbacks if you wanted to.

I think you already can export FBX materials into a custom directory (although

[2022-01-31 14:03] ItsCubeTime commented on #305
Might be a bit of extra work from your standpoint, but what comes to my mind is just putting tickboxes or enum dropdown menus on everything non-essential, having most semi-advanced features disabled by default.

As an artist it can be nice not having to dig into customizing the import process through code - but I can def also see its value for someone who considers himself to have the time to do i

[2022-02-01 00:12] drjaydenm commented on #258
@atteneder Thanks for that, I've read #305 and you are correct, that seems more closely aligned with what I'm looking for, I'll head over to that issue

[2022-02-01 00:15] drjaydenm commented on #305
@atteneder this would be perfect and I have this exact use case in my projects. Just so I know we're 100% on the same page, are you talking about this section here in the FBX importer?
![image](https://user-images.githubusercontent.com/6220167/151893895-fac87e64-f2f7-4c32-9606-2167e656e14f.png)

[2022-02-01 04:56] camnewnham opened #313 "CI build fails with GLTFAST_KEEP_MESH_DATA"
**Describe the bug**
Recently our demands changed and we needed to enable `GLTFAST_KEEP_MESH_DATA`. This seems to work as expected when building locally, but in our CI (github actions) we receive an error:

[code]

The errors it produces in the logs are:
[code]

For some reason Unity also seems to expand this section to it's full namespace declaration (this occurs locally too). In the source code

[2022-02-01 05:32] camnewnham commented on #313
I'll test adding the full namespace inside the `#ifdef` and submit a PR if it works.

[2022-02-01 08:34] atteneder commented on #305
@drjaydenm Yes. I'd also include the Extract Textures/Materials buttons from above.

[2022-02-01 08:37] atteneder commented on #313
@camnewnham Thanks for the report. Seems indeed strange. Looking forward to you results.

[2022-02-01 09:08] #313 closed

[2022-02-01 10:43] DelTaGC commented on #258
That is what I would usually do, but these textures are .texture2D with no settings to change resolution. In the Inspector they only expose WrapMode / Filter Mode / Aniso Level.
Also when duplicating the texture, the editor prints an error: "Instantiating a non-readable 'MyTexture' texture is not allowed! Please mark the texture readable in the inspector or don't instantiate it."

[2022-02-01 10:50] atteneder commented on #258
Right, good point.

[2022-02-01 16:08] mikeskydev opened #315 "[Editor Import] Projects without Library folder will fail to import previously imported glTFs"
**Describe the bug**
Opening a pre-existing project, which doesn't have it's Library folder already present, will fail to import previously imported glTFs.
This use case occurs due to CI pipelines on GitHub starting with the fresh clone of a project, with no library file, though is reproducible by manually wiping your Library folder. Error seems to be coming from a NRE, GltfImporter.cs:123 when at

[2022-02-07 13:24] atteneder opened #316 "Primitive Mode TRIANGLE_STRIP and TRIANGLE_FAN"
The following [glTF primitive modes](https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#_mesh_primitive_mode) are not implemented:

-`TRIANGLE_STRIP`
-`TRIANGLE_FAN`

Unity does not support those out of the box, so glTFast needs to generate indices (similar to how it creates them for missing indices on `TRIANGLES` mode primitives).

Unfortunately I've never encountered such a glTF file,

[2022-02-07 13:26] atteneder opened #317 "Extension `KHR_xmp_json_ld`"
Add support for the extension [KHR_xmp_json_ld](https://github.com/KhronosGroup/glTF/tree/main/extensions/2.0/Khronos/KHR_xmp_json_ld):

[2022-02-07 13:51] atteneder opened #318 "Partial / Selective loading and instantiation"
Currently glTFast always loads the entire content of a glTF file before anything can be instantiated. It allows you to instantiate an individual glTF scene, but no more granular control.

It would be great to load and instantiate only a part of a larger file. That would decrease loading times and memory consumption.

Either by category (material, texture, animation) or knowing the inner structure

[2022-02-07 13:55] atteneder commented on #221
fyi: I created a dedicated issue for partial loading #318

I haven't started work on it though, just tidying the backlog.

[2022-02-07 14:01] atteneder opened #319 "glTF Shader GUI / custom inspector"
glTFast has a bunch of custom shaders and shader graphs. There has been some effort to create a good inspector GUI, but it's far from great.

[2022-02-07 14:05] BrianAmadori commented on #166
just FYI: playable animations do not work at all for webgl (At least for tests I did on Unity 2019 latest LTS version).

[2022-02-07 15:57] atteneder opened #320 "Option to skip creating a scene GameObject"
glTFast currently creates a GameObject representing the scene, which makes sense if one instantiates multiple scenes.

The problem with this is, that this breaks round-trip (export and re-import) by changing the hierarchy (adding one object per round-trip).

There should be an option to omit the scene object, especially if there is only one node at the root. UnityGLTF has something like that (edit

[2022-02-07 16:05] atteneder opened #321 "Make dependency to the Image Conversion package optional"
glTFast has a hard dependency on UnityWebRequestTexture, which itself has a dependency on Image Conversion (both built-in packages). Both are required for loading or exporting PNG and Jpeg textures at runtime.

For users who don't need this (because they don't load/export textures or KTX textures only) this can potentially reduce the final build's size (esp. for WebGL).

It's also the foundation f

[2022-02-07 16:07] atteneder commented on #220
An idea I wanted to document:

For WebGL we could leverage the browser's capabilities to decode PNG/JPGs in Javascript and bridge it back to Unity. I've heard browsers are good at this.

[2022-02-07 16:16] atteneder opened #322 "Asset Analyzing"
Upon import, give feedback whenever assets are not optimal and ideally offer solutions (like re-encoding/optimizing).

- Generic glTF errors/warnings (things the glTF-Validator or glTF QA tool would report as well)
- Unity/glTFast specific problems
  - Unnecessary Shader Variant usage. Examples:
    - Different texture transforms on different maps (BiRP)
    - More than two UV sets
  - Embed buffe

[2022-02-07 16:20] hybridherbst commented on #320
Thanks! Some additional thoughts:

There's two places where this could potentially be skipped
- either when exporting (aka: if the export root is an empty GameObject that can be assumed to be meant as a "scene root" instead, so there wouldn't even be a node for it)
- or on importing (aka: if there's only one root object in the scene then there doesn't need to be an extra scene gameobject on creati

[2022-02-07 17:42] hybridherbst commented on #281
I'm still getting this error on 4.5.0 @atteneder. Is this expected, or should I open a new issue?

[2022-02-08 10:48] atteneder commented on #166
Thanks for the heads-up. If true, that's not good :(

[2022-02-08 11:45] hybridherbst opened #323 "Imported GLB mesh bounds are incorrect when meshopt compression is used"
**Describe the bug**
Seems mesh bounds are wrong when files use meshopt.
This is most noticeable in the import inspector (as wrong bounds = mesh not visible) but probably might have other side effects as well.

**Files**

[Arm.glb + meshopt variants](https://github.com/donmccurdy/glTF-Transform/files/8023253/AnimatedArm.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. Unzip
2. Add files

[2022-02-08 11:49] atteneder commented on #323
@hybridherbst  Thanks for reporting.

Haven't looked, but it's possible that this is expected.

gltfpack/meshopt uses quantization as well. Meaning the vertex positions are converted to normalized ints (e.g. unsigned shorts) and the node's scale counter-acts the effect (so that the final size matches the original).

Try looking at the node's transforms.

Also note that the shading is broken at tim

[2022-02-08 12:04] hybridherbst commented on #323
The node is indeed scaled, so I can see how the bounds need to be different as well, but not sure why the mesh display in the inspector would then be broken... might be a Unity bug then?

Side note, do I get it right that you're scaling animation values to counter the node scale?

[2022-02-08 14:05] atteneder commented on #323
Most likely, yeah.

glTFast does not do any smart thing here. It's the glTF generator (or compressor; gltfpack) that does it.

[2022-02-08 19:32] philippebedard opened #324 "Importer Gamma issue"
I think there's an issue with the baseColorFactor when we import a gltf.
Looks like there's a mismatch of color with the imported gltf compared with original gltf and other software.

You can see over here the difference between my original RBG color and the resulting color in Unity when I import it.
![Untitled](https://user-images.githubusercontent.com/47433856/153058701-761c5d26-3bbf-4e06-a798-b

[2022-02-09 08:34] atteneder commented on #324
Hi @philippebedard ,

Thanks for the report! Follow up questions:

- Did you export with glTFast as well?
- Is your project's color space Gamma or Linear?

Maybe your suggestion is on point, but I'd be surprised (since it's quite good tested and established).

Another explanation could be that the export does not properly convert from gamma to linear. I know that Blender's UI shows linear values (

[2022-02-09 12:46] philippebedard commented on #324
Hi @atteneder,

I didn't export with the glTfast.
I did a test exporting with Blender and a test exporting with [https://github.com/KhronosGroup/UnityGLTF](url)

In both case the color aren't correct when I import with glTfast.

My project is in Linear color space.

Thanks for your fast reply.

[2022-02-09 15:05] philippebedard commented on #324
Alright after some investigation it looks like the issue is probably from the [https://github.com/atteneder/glTFast/issues/url](url) export which doesn't convert the unity color to linear prior the export..

If I apply the linear to gamma factor on my export it seem to be fine on most of the gltf viewer I found.

Probably my mistake

[2022-02-14 13:13] fra3point opened #331 "Surface Type of imported materials is Opaque even if the material has been exported as transparent."
I'm trying to import in Unity a very simple transparent .glb cube, created in Blender 2.92 using the following material:

![immagine](https://user-images.githubusercontent.com/34285897/153870738-cd3953fa-ae97-4459-89b6-b708cdec7f6d.png)

I would expect glTFast to import a transparent material in Unity, but it is set to Opaque surface type.

![immagine](https://user-images.githubusercontent.com/342

[2022-02-16 21:05] RandomFloat commented on #285
I would suggest to just get rid of any handmade shaders and go with what Unity is offering.
At my company we use a very old version of GLTFast (1.1.1) but it actually uses the proper Unity shaders. This is done to keep the shaders fully work with every feature Unity has to offer and to be future-proof.
This is actually very easy to do by coping around the pixels in the textures. We do that in RT o

[2022-02-16 22:48] atteneder commented on #285
@RandomFloat Thanks for your input!

The custom shaders won't go anywhere soon, but I'm certainly open to add alternatives. In fact I planned to import to Standard/Lit for Editor import and would be curious if it ports well to RT. The main reason for custom shaders was to avoid channel swizzeling the textures at runtime.

Detailed insights or active help in implementing this is always greatly appr

[2022-02-17 10:39] hybridherbst opened #332 "First editor import after adding glTFast or library clear fails"
**Describe the bug**
It seems that currently, the first import of a glTFast asset via ScriptedImporter fails.
This affects, besides other cases
- workflows where one coworker adds glTFast to a project, adds a GLB file (that works on his machine), and then a colleague pulls
- library clears and reimports

**Files**

This zip contains a full repro project which is also a git repo (so you can conveni

[2022-02-17 11:25] mikeskydev commented on #332
Hey @hybridherbst I think this is the same bug I documented in #315?

[2022-02-17 13:14] hybridherbst commented on #332
Yep, probably a duplicate of #315. Didn't find that one – let me know if you need more info here!

[2022-02-17 13:14] #332 closed

[2022-02-17 14:29] atteneder opened #335 "Export not working due to culture variant in float serialization"
### Discussed in https://github.com/atteneder/glTFast/discussions/334

<div type='discussions-op-text'>

<sup>Originally posted by **akuttervrinsightde** February 17, 2022</sup>
Hello guys,

I can't succeed in exporting a GLB or glTF from Unity. I created a HDRP demo scene in Unity 2021.2.9f1, imported glTFast. Everytime I try to export a GLB or glTF file the resulting file is not working. You fin

[2022-02-17 15:59] atteneder commented on #315
Looks like upon opening a project first-time glTFast's shaders are imported after the glTF import is running, causing it to fail.

Replacing `Shader.Find` by `AssetDatabase.LoadAssetAtPath<Shader>` seems to solve. Now I'm certifying that this is a good solution and will fix it asap.

@hybridherbst fyi

[2022-02-17 17:16] atteneder commented on #315
@hybridherbst yeah, seems like it's the way to go.

I intend to use paths instead of GUIDs though. GUIDs are flexible, but not very intuitive. Plus some paths are constructed from a naming pattern that I want to re-use. Feel free to raise concerns though.

[2022-02-17 17:20] hybridherbst commented on #315
I'm fine with paths, it's just error prone when refactoring folders (which does not break GUIDs) - guess it's a case-by-case decision, similar to AsmDef references either using GUIDs or strings.

What you could also look into is using LazyLoadReference<T>. The SRPs seem to use that, for example, in their scriptable objects that hold all required references.

[2022-02-18 07:19] atteneder commented on #322
@Phlicess I can reproduce the problem and will look into it.

Please create a dedicated issue, since this problem is unrelated to the feature proposed in this issue.

[2022-02-18 07:21] Phlicess commented on #322
OK，Thx~

[2022-02-18 07:23] Phlicess opened #336 "Embed buffers could not be imported successfully。"
Hello，My GLTF file is embed buffers，use
`string sgltf = "https://a.amap.com/jsapi/static/HD_road/0726/mock/models/circle.gltf";`
`var gltf = gameObject.AddComponent<GLTFast.GltfAsset>();`
`gltf.url = sgltf;`
Failed to import，no error message。Has warn "logger?.Warning(LogCode.EmbedSlow);"
`JSON embed buffers are slow! consider using glTF binary`
What should I do?

[2022-02-18 08:29] atteneder commented on #336
@Phlicess Thanks for reporting.

This glTF file contains one scene, but does not have a [default scene](https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#_gltf_scene). glTFast will, by default, not instantiate this scene in that case according to the [specification](https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#scenes-overview):

There are ways to solve this:

- Modify

[2022-02-18 08:29] #336 closed

[2022-02-18 09:07] Phlicess commented on #336
Nice！Thx！

[2022-02-18 20:15] montana-im opened #337 "ArgumentNullException: Value cannot be null. Parameter name: tex"
**Describe the bug**
I keep getting this `ArgumentNullException: Value cannot be null Parameter name: tex`, when I try to use the gltfastImport class.  I'm able to import my assets when I simply add a GLTFastAsset to a game object and load them on start w/ the url attribute, but when trying to load them with the gltfastImport class, I keep having this error.

**Code**

[code]
**Stack trace**
[code

[2022-02-19 16:14] fra3point commented on #331
I was looking a bit more in deep in these issue.
it seems that the import code itself does the right job, **UniversalRPMaterialGenerator.SetShaderModeBlend** enables the **_SURFACE_TYPE_TRANSPARENT** keyword. I've placed a conditional breakpoint at the end of **GltfImporter.OnImportAsset** to check if at the end of the import process, the keyword was still correctly enabled. And it was!

But as so

[2022-02-21 20:01] #337 closed

[2022-02-21 20:39] montana-im commented on #337
adding the defer agent fixed it -- I modeled it after the TestLoader script in the demo project

[2022-02-21 21:10] atteneder commented on #337
hi @montana-im ,
great! Glad you figured it out

[2022-02-22 08:41] #315 closed

[2022-02-22 08:41] #335 closed

[2022-02-22 08:46] atteneder commented on #331
Hi @fra3point ,

Thanks for the report and going the extra mile and debugging a bit. I noticed that this was indeed incomplete, so I made some fixes specific to URP and HDRP 12.x. It's fixed in the main branch and will be released soon.
Sorry for the inconvenience.

[2022-02-22 08:46] #331 closed

[2022-02-22 08:54] atteneder commented on #324
@philippebedard I'm still not sure where the source of the error lies, so I'm going to leave this open until I've done some proper round-trip tests. Those should cover:

- URP/HDRP/BuiltIn
- BaseColor, Emission, Unlit, ...
- Linear and Gamma project workflows

In case you tracked down the problem, let me know.

Thanks

[2022-02-22 09:22] atteneder commented on #300
@jhx-zc So, I'm having a look at this right now, but before I give any technical feedback:

This asset is distributed under the [Standard Unity Asset Store EULA](https://unity3d.com/legal/as_terms). Whatever you intend to do with exported glTFs, make sure you comply with the license.

The author also states that you've got to make a donation in order to use it commercially, so make sure you comply

[2022-02-22 09:22] hybridherbst commented on #323
Hi @atteneder I looked into this again just now (wanted to report a bug to Unity) and still think the bounds are incorrectly set when importing.

Maybe I'm doing something wrong, but here I exported the same file as FBX, and when importing in Unity (with those meta files) I get identical transform hierarchies and visual results (so, same scale for everything), but different bounds, and the meshes

[2022-02-22 09:30] mikeskydev commented on #315
Thanks for this fix!

[2022-02-22 09:43] atteneder commented on #323
@hybridherbst Oh, you're right! It seems like that for normalized accessors the min-max values are pre-normalization and glTFast assumes they are already normalized. I'll double check with the extension spec and fix that.

Thanks for staying persistent on this one 💪

[2022-02-22 09:44] atteneder commented on #323
yep:

[source](https://github.com/KhronosGroup/glTF/blob/main/extensions/2.0/Khronos/KHR_mesh_quantization/README.md#extending-mesh-attributes)

[2022-02-22 10:04] #323 closed

[2022-02-23 10:41] atteneder commented on #281
@hybridherbst Thanks for the hint. No, that was a leftover....just removed it so no need for a new issue.

[2022-02-23 12:35] A9191 opened #338 "Downloading and rendering status"
Is there any way to get the status of downloading progress and rendering models?
I'm simply using:

`var gltf = gameObject.AddComponent<GLTFast.GltfAsset>();
`
`
gltf.url = "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF/Duck.gltf";
`

I have checked  [#3](https://github.com/atteneder/glTFast/issues/3) and  [#109](https://github.com/atteneder/glTFast/issues/

[2022-02-23 21:12] atteneder commented on #276
@cpetry Please try out the latest version 4.6.0. It received many improvements. In case you still have trouble, provide reproduction steps and re-open.
Thanks

[2022-02-23 21:12] #276 closed

[2022-02-24 14:05] fra3point opened #339 "Give the user control over Legacy Animation automatic play"
[glTFast 4.6.0, Unity 2021.2]

**GameObjectInstantiator:397** calls **animation.Play()** right after adding the legacy Animation component to the instance object.
This causes animations to start automatically, and the only way to stop them is to manually stop and reset the animation component.

It would be great for users to have the possibility to load models choosing whether to start playing ani

[2022-02-24 14:29] atteneder commented on #339
Hi @fra3point ,

Thanks for the suggestion, I will definitely consider it. Another option could be to not start playing and leave it up to the entity that triggered the instantiation. `GltfAsset` could trigger the auto-play, to keep the current behavior.

[2022-02-24 14:38] fra3point commented on #339
I agree with your solution!

[2022-02-24 14:40] asus4 opened #340 "Missing normal must be calculated as flat normals"
**Describe the bug**

First of all, thank you for continuing to develop such a great library.

I found some rendering differences between glTFast and web-viewers. It seems to happen when normal is not included in glTF/glb file.

![compare](https://user-images.githubusercontent.com/357497/155541776-2863f2a0-e80c-46ed-b864-704332a8d5ac.jpg)

This is my export setting in Blender. It seems to only hap

[2022-02-24 19:02] atteneder commented on #340
@asus4 Thanks for reporting. I can confirm that this a bug. The [glTF spec](https://www.khronos.org/registry/glTF/specs/2.0/glTF-2.0.html#meshes-overview) says:

glTFast uses [`Mesh.RecalculateNormals`](https://docs.unity3d.com/2022.1/Documentation/ScriptReference/Mesh.RecalculateNormals.html) to calculate missing normals. It considers all all connected vertices of a vertex, which does something d

[2022-02-24 19:08] atteneder commented on #340
On another note, again from the spec:

Given this information it makes no sense that Blender's export settings allow you to not export normals but DO export tangents.

[2022-02-24 19:51] marcusx2 opened #341 "Being able to load a glb model from a string"
See [this example](https://playground.babylonjs.com/#88CB6A). Apparently it's possible to load a glb from a string. I am not sure if the example uses [gltf embedded](https://docs.blender.org/manual/en/2.80/addons/io_scene_gltf2.html#gltf-embedded-gltf), or if it's something else.

The use case from this is being able to load a glb model at runtime from a [url query string](https://en.wikipedia.org

[2022-02-24 20:07] atteneder commented on #341
Hi @marcusx2 ,

you can already [load a glTF from a byte array](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/ImportRuntime.md#load-from-byte-array). Converting a string to a byte array is doable as well, so there you go.

Let me know if this helped you and what use-case you realized.

[2022-02-24 20:07] #341 closed

[2022-02-24 21:14] atteneder commented on #341
Please click the link I already provided in my last answer. It literally does just that.

[2022-02-24 21:18] marcusx2 commented on #341
Oh I see sorry for the brainfart...when you load a file you already store it in a byte array format, so I just need to convert it to a string.

[2022-02-24 21:23] atteneder commented on #341
Why? There would be no benefit in converting to a string. It's just that if your data source was a string, you have to convert to a byte array.

One thing I realise now is that `LoadGltfBinary` only loads glTF-Binary files (no JSON based .gltf).

[2022-02-24 21:50] marcusx2 commented on #341
`Why? There would be no benefit in converting to a string. It's just that if your data source was a string, you have to convert to a byte array.`

If I can send the byte array as a query string in a URL, then I don't need to convert it indeed. I just assumed that a query string only accepts, well, strings, and not byte arrays.

[2022-02-25 08:35] atteneder commented on #341
Right, got it! thx

[2022-02-25 13:01] asus4 commented on #340
@atteneder Thanks for looking into it.

I had this issue when supporting the C4D default exporter. I guess it has similar options.
https://storage.opensea.io/files/91525ba8a789da1b79155ff63c3c3c5a.gltf
https://storage.opensea.io/files/336992a385208bb9d2e8675f05f47140.gltf

In Three.js GLTF loader, it seems to override normals in the shader (with flat-shading option) instead of modifying the mesh i

[2022-02-25 13:23] atteneder commented on #340
Yes, it would be. I did not consider this option though, because Unity compiles shaders at build-time. Offering this option would double the number of shader variants, which is already very high.

[2022-02-28 10:29] marcusx2 commented on #341
@atteneder hey man, I have just one question about this line `await gltf.LoadGltfBinary(data, new Uri(m_Path));`, what do I do about the path? There is no path technically. I uploaded the glb from the user's computer at runtime, the glb wasn't in the project folder. Can the path be null?

[2022-02-28 10:33] atteneder commented on #341
TL;DR: Yes, the path might be omitted.

Explanation: Any glTF (even a glb file) could theoretically reference external URIs, which are usually relative paths. In order to resolve those relative paths, glTFast needs the original path. Most glb files are self-contained, so you won't have problems there. Only files with relative external references will fail.

hth

[2022-02-28 18:31] marcusx2 commented on #341
Hey man, I managed to upload the 3d model and instantiate it on the scene just fine. But the model is pink. I read the documentation, but couldn't figure this out. Could you add some pictures? I want to preload all the shaders. this is what I tried:

![image](https://user-images.githubusercontent.com/5656275/156038288-e3defe2d-25de-4505-8779-599db24b0fee.png)

[2022-03-01 07:42] bitinn opened #342 "Importer should allow flipping model UV to match Unity importer, to allow for consistent round trip"
**Is your feature request related to a problem? Please describe.**

[Based on what I read](https://github.com/KhronosGroup/glTF/issues/1021), glTF enforce UV coordinate (0,0) at lower left and this is different from the default Unity import direction.

glTF spec is saying the sampling of such texture under OpenGL should be flipped. I see glTFast provides a default shader to achieve the correct sam

[2022-03-01 09:57] atteneder commented on #341
@marcusx2 I received an email with a comment from you having trouble getting the shaders into the build. The comment is gone, so I guess you solved it and deleted the comment. If you have insights what your problem was and where the documentation is unclear, maybe we could improve them for everyone.
Thanks for considering.

[2022-03-01 10:08] atteneder commented on #342
I agree. It's going to get scheduled.

[2022-03-01 19:54] marcusx2 commented on #341
Yes, I think the documentation is unclear...I solved my issue. In the documentation you talk about the preloaded shaders section. Which is here

![image](https://user-images.githubusercontent.com/5656275/156238757-6b765f47-eda0-49ba-bcc3-43530bd53b02.png)

but this doesn't solve the problem of the pink textures. What solved the problem of the pink textures was adding the shaders to the always incl

[2022-03-02 05:51] bitinn opened #343 "Standard SpeedTree static export/import support"
**Is your feature request related to a problem? Please describe.**

Currently the support for SpeedTree are problematic in 3 ways:

- `Nature/*` class shaders are special and require reading from a different set of texture ids, currently glTFast ignore all textures on such materials.

- Large trees often need to be visible from a long distance, so have LODGroup on them, glTFast currently doesn't r

[2022-03-02 12:15] atteneder opened #345 "Export Level of Detail (LoD) support"
Exporting GameObjets using LoD via [`LODGroup` ](https://docs.unity3d.com/Manual/class-LODGroup.html) will discard the different levels.

Possible solutions:
1. Always pick the most detailed level or let users choose the level via export settings
2. Export all levels…
  - …as different child nodes
  - …as  different scenes
3. Via [MSFT_lod extension](https://github.com/KhronosGroup/glTF/blob/main/

[2022-03-02 12:17] atteneder opened #346 "Export Tiff normal maps have incorrect color space"
from #343

[2022-03-02 12:30] atteneder commented on #343
Hi @bitinn ,

Thanks for this detailed report. Much appreciated!

Right, I haven't tested those shaders, but it makes a lot of sense

I presume glTFast exports the current LOD, which depends on the camera's position/perspective, right?
I just created a dedicated issue in #345

Opened #346

I totally agreee. That's a great  use-case.

The channel mappings are given, so copying channels around canno

[2022-03-02 12:56] bitinn commented on #345
Just a quick note to say glTFast already export all meshes in the LOD, the problem is mostly on export, where Unity default model importer will setup LODGroup per this rule: https://docs.unity3d.com/Manual/importing-lod-meshes.html

[2022-03-02 13:53] Anubit93 opened #347 "Import-Export-Import Roundtrip"
**Is your feature request related to a problem? Please describe.**
Exporting models already imported through glTFast cause issues with the textures being swizzled and not looking as desired being imported again, or opened in another 3D application.

**Describe the solution you'd like**
Either supporting a non-swizzle boolean option in the export settings, or potentially having a list of shaders no

[2022-03-02 14:21] petrbroz opened #348 "Cannot enable meshoptimizer"
**Describe the bug**
When following the installation steps in the [README](https://github.com/atteneder/glTFast#installing) it sounds like the meshoptimizer decompression plugin should appear in _Package Manager_ but it doesn't.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Unity (2020.3) project
2. Install _glTFast_ (4.6.0) via a scoped registry
3. Open _Package Manager_ and

[2022-03-02 15:52] butaixianran opened #349 "How to Extract Material?"
Imported gltf turned into a prefab without a Extract Material button.

The "Extract from prefab" menu also is gray, not available.

Then how can I Extract Materials from it? I need to modify those materials.

I'm using standard pipeline with Unity 2021.2

[2022-03-02 16:48] atteneder commented on #349
This is not implemented yet.

workaround: Expand glTF in project view, duplicate sub-assets, tweak them and re-assign manually.

Duplicate of #305

[2022-03-02 16:48] #349 closed

[2022-03-03 11:05] atteneder commented on #348
Thanks for reporting. The installation instructions for meshopt are not correct. I'm in the process of updating them. Here's the correct way:

The package identifier to add is:

`com.unity.meshopt.decompress`

or with exact version for Unity 2020.3 and older:

`com.unity.meshopt.decompress@0.1.0-preview.4`

## Installation

To install this package, refer to the instructions that match your Unity E

[2022-03-03 11:05] #348 closed

[2022-03-03 12:03] Phlicess opened #350 "When importing GLB format data, how can I get GameObject or GltfAsset?"
I need to transform GameObject, but I don't know how to do it.
Can you give some useful advice? Please..
[code]

[2022-03-03 13:45] atteneder commented on #350
You can do it like so:

[code]

[2022-03-03 13:45] #350 closed

[2022-03-03 14:14] atteneder commented on #347
Hi @Anubit93 ,

You are referring to runtime (as opposed to design-time), right?

Two potential ways:

- Import to Lit shaders - Export Lit shaders (preferred for design-time, but involves swizzles)
- Import to glTF shaders - Export from glTF shaders (runtime-friendly; no swizzle required)

[2022-03-03 14:21] atteneder opened #351 "Export glTF shaders/materials"
glTF export currently only supports Unlit, Standard and Lit shaders (across BiRP, URP and HDRP)

Adding support for our own glTF shaders and shader graphs would allow (close to) lossless import-export round-trips without having to swizzle texture channels around.

[2022-03-03 14:23] atteneder commented on #347
Opened #351 for glTF shader export

[2022-03-03 14:30] Anubit93 commented on #347
Hi @atteneder,

Yes I'm sorry that I missed that part in the description - it is indeed meant during runtime.

[2022-03-04 06:28] bitinn opened #352 "Improve glTF plugin compatibility with newer ScriptedImporterAttribute syntax"
**Is your feature request related to a problem? Please describe.**

I am testing interoperability across various glTF plugins for Unity, and run into an issue between multiple ScriptedImporter declaring itself as default importer for `glb` or `gltf` file type.

Unity will disable all importers for `glb` and `gltf` files upon seeing this, and [an error will be logged](https://github.com/Unity-Techn

[2022-03-04 06:58] bitinn commented on #352
Bad news: if no plugin declare `exts` for a file extension (eg. they all declare `overrideExts` only), then under Unity 2022.2.x at least, no Inspector will show up; but if there is more than 1 plugin declare `exts` for a file extension, then Unity disable all of them...

I will follow up with Unity soon.

https://github.com/prefrontalcortex/UnityGLTF/issues/37#issuecomment-1058886899

[2022-03-04 09:14] bitinn opened #353 "Incorrect gamma applied for PNG BaseColor export"
**Describe the bug**

When exporting `glb`, glTFast used incorrect color space conversion for BaseColor texture (in PNG format). The exported BaseColor map is darker than the original file. (And I have verified it in both Unity and Blender, it is not an importer issue.)

I wonder if this has anything to do with "Ignore PNG file gamma" settings. We are in Linear color space with this option uncheck

[2022-03-04 10:16] Phlicess opened #354 "Support GLTF extensions"
Currently I am doing 3dtiles related rendering work，so
Would like to ask, will there be plans to support some GLTF extensions?
E.g：
https://github.com/KhronosGroup/glTF/blob/main/extensions/1.0/Vendor/WEB3D_quantized_attributes/README.md

This is the rendering of my work:
![image](https://user-images.githubusercontent.com/11753644/156745542-50c0fd74-1c9c-4e8d-a2b0-9401b0902cb2.png)

[2022-03-04 20:33] atteneder commented on #354
Hi @Phlicess

Thanks for reaching out. I noticed that this extension is written against glTF 1.0, which is not supported. I'd have to check if this extension still works against 2.0.

It appears to me that [KHR_mesh_quantization](https://github.com/KhronosGroup/glTF/tree/main/extensions/2.0/Khronos/KHR_mesh_quantization), which is supported, is the logical successor, right? If yes and you are in c

[2022-03-04 20:38] atteneder commented on #352
@bitinn Thanks for this excellent report! I haven't looked into 2022.1 too much (especially with multiple, conflicting importers), but I'll do so next week.

[2022-03-05 00:33] Phlicess commented on #354
Thank you for your reply.
I upgraded the version to 2.0 and found that some extensions are not supported, for example:
https://github.com/KhronosGroup/glTF/blob/main/extensions/2.0/Khronos/KHR_draco_mesh_compression/README.md
I saw the list of extensions and found that there are currently 6 supported, so will the rest of the 2.0 extensions be supported?

GltFast list:
<img width="430" alt="CA93E22

[2022-03-05 01:19] Phlicess commented on #354
I noticed that this project, but I don't know how to use it.
https://github.com/atteneder/DracoUnity

[2022-03-05 01:28] Phlicess commented on #354
HAHA，I find this from your code！
![image](https://user-images.githubusercontent.com/11753644/156862013-af112948-02b2-40d4-bacd-8bce82191d28.png)

[2022-03-05 13:10] bitinn commented on #352
Ah my unity doc link was misleading, I was using 2021.2.10f1 to test all of these. The new attribute syntax is available since 2020.2; the conflict / no importer problem probably exists for all versions.

[2022-03-05 22:38] SceneForgeStudio opened #357 "Runtime Export - Non Matching Profiler Endsample Error"
I just downloaded and setup this plugin to use the Runtime Export feature.  I setup the assemblies and all that.
When trying to export using the example code from the docs, I get a bunch (5-7) errors like the one below:

[code]
Surprisingly the export does actually work though, with the resulting gltf/glb files in the specified directory.  The problem is that this triggers these errors that I have

[2022-03-07 11:30] atteneder commented on #354
@Phlicess You're on the right track!

DracoUnity is a soft dependency of glTFast, meaning if DracoUnity is installed, the `DRACO_UNITY` define is set and it becomes available.

Please follow the [installation guide](https://github.com/atteneder/DracoUnity#installing) and let me know if and where you ran into trouble.

[2022-03-07 20:47] atteneder commented on #165
Thanks, will look into it!

[2022-03-08 02:04] Phlicess commented on #354
I follow the guide，and success！Think you！
(✺ω✺)

[2022-03-08 08:01] #354 closed

[2022-03-08 23:47] SceneForgeStudio opened #362 "Exclude certain children when exporting? Or specify specific Renderers only?"
**Is your feature request related to a problem? Please describe.**
In my situation, I have a parent "main" mesh that has children that are only visible by a certain camera (mini map system). I want to export only the parent "main" meshes to a file, excluding its children.

**Describe the solution you'd like**
Maybe just add a bool to the ExportSettings to indicate that the GameObject[] being passe

[2022-03-09 03:32] kyapp69 opened #363 "GLTFast animation export"
Is there any timeline on supporting animation export?

Cheers

[2022-03-09 05:55] kyapp69 commented on #362
In MenuEntries.cs line 114, you could set it to false instead of true and hide gameobjects you don't want to export. Not sure if that works for you

[2022-03-09 08:35] atteneder commented on #363
Unfortunately not. I personally won't have resources until June, but I'm happy for contributions and can offer mentoring.

[2022-03-09 09:14] atteneder commented on #362
Hi @SceneForgeStudio ,

Thanks for the feedback. Export definitely needs more ability to customize what shall get exported. Ideas:

- Do not export recursively (what you ask for, essentially)
- A component with per-GameObject settings that could include a "do not export" flag amonst other stuff (e.g. ignore mesh, camera, etc.)
- Overridable scene iteration (most complex bust also most customizable

[2022-03-09 15:12] SceneForgeStudio commented on #362
Thanks for the replies!
@kyapp69 Ideally I wouldn't just hide exported objects in the resulting files, but actually exclude them from the exports.

@atteneder Not exporting recursively is exactly what I would like!  I realize my explanation might have been overboard, haha!
I think a simple bool flag for that would be the easiest, if most basic solution. (Though still perfect for my needs, personal

[2022-03-09 20:07] SceneForgeStudio opened #364 "Export Multiple Instances of Meshes in Correct Location?"
**Is your feature request related to a problem? Please describe.**
In my app, users can instantiate prefab 3D models and place them wherever they like.
The problem is when exporting the scene (an array of desired gameobjects),  despite the array containing multiple of the same mesh in different positions around the scene, in the export there's only one instance of that mesh, all bunched in the sam

[2022-03-10 00:19] kyapp69 opened #365 "Skinning export support."
I assume that skinning won't be supported until you are less busy?
Will have to take you up on the code structure mentoring. Is anyone else taking up skinning and animation? Otherwise I'll take a stab at it.

[2022-03-10 08:38] kyapp69 commented on #364
Question. Do your harps share the same mesh? As long as they share the same mesh, there's scope to export one mesh and use the same accesors for for different nodes. That would make sense and also make the file size smaller.

[2022-03-10 08:56] atteneder commented on #365
@kyapp69 Correct, I'm focusing on quality and CI at the moment.

BlendWeights and BlendIndices of a mesh should already get exported (haven't tested it though), so it boils down to detecting SkinnedMeshRenderers and see if they have `bones` assigned and convert them to a proper glTF `skin`.

[2022-03-10 08:58] atteneder commented on #365
The starting point would be [here](https://github.com/atteneder/glTFast/blob/208e025c73399539600b0e601b884c136d5bab46/Runtime/Scripts/Export/GameObjectExport.cs#L158) by passing the newly created `skin` data to  `m_Writer`.

hth

[2022-03-10 09:03] atteneder commented on #364
That's true and it should already work like that.

@SceneForgeStudio We'll have to figure out why glTFast does not detect the shared mesh of the three harps. Can you provide a minimal test scene that reproduces this behavior?

[2022-03-10 09:04] atteneder commented on #364
Changed this to a bug.

Note: With identical materials (and a greater number of instances) it would be cool to use the instancing extension instead (or have it as an option), but that's another story.

[2022-03-10 15:09] SceneForgeStudio commented on #364
@kyapp69 Yes, they are exact duplicates just positioned in different locations.
The one caveat being that the object is imported at runtime using Trilib.  That being said, I don't believe that simply instantiating the same mesh would break it.

@atteneder I will do some more testing in isolated scenes and update this issue with an upload.  Thanks!

[2022-03-10 18:25] Pryme8 opened #366 "Cant ever load from file?"
I have tried every method documented and still am unable to load a gltf from the file system.  The URL version of the GLTF asset loads not problem.  I am assuming that its something dumb that I am doing wrong, or a step that I am missing.  Kind of exhausted my options now which is why I am creating this issue.

![image](https://user-images.githubusercontent.com/1538857/157729711-139e10eb-a809-4866

[2022-03-11 03:40] kyapp69 commented on #365
I see that a unityengine.mesh is passed in to the writer and eventually the gltf mesh schema is created during the serialization. Would it be better if the gltf skin is done in the writer also? Let me get it working first and see how to refactor. I see that the only thing to get it working is to export the skin. I'll get right on it.

Cheers
Kevin

[2022-03-11 08:37] atteneder commented on #366
@Pryme8 Hi,

*googling Helen Keller*....haha, certainly not :D

Would be great to know what kind of error you get. If you don't get any, does your glTF file have a main scene at all? If not, nothing ill happen by design.

[2022-03-11 08:45] atteneder commented on #365
I think so, yes....I didn't think it through though, so no strong opinion at this point.

[2022-03-11 10:30] atteneder commented on #352
I tried what you suggested only to find out that the import won't work anymore if you have just one package installed (e.g. glTFast only or UnityGLTF only).

I'm going to ask around how this should be handled. Maybe @hybridherbst knows more.

[2022-03-11 15:22] Pryme8 commented on #366
Yes sir, I am loading the Duck.gltf from the example documents.  When loaded as a URL "https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF/Duck.gltf" everything works swimmingly.

As soon as I have it as a file outside of a resource folder on the file system it just defaults to the generic "Debug.LogError("Loading glTF failed!");"

We are trying to import GLTFs i

[2022-03-14 03:22] bitinn commented on #352
@atteneder yes I am aware of this issue, which I did mention in:

1. https://github.com/prefrontalcortex/UnityGLTF/issues/37#issuecomment-1058886899
2. https://forum.unity.com/threads/scriptedimporterattribute-handling-blocks-multiple-importers-for-the-same-file-type.1248427/

I hope you can ping Unity team to look into it :)

[2022-03-14 07:23] hybridherbst commented on #352
@bitinn thanks for opening the issue on both ends! I'm also aware of this issue, and had opted to use the overrideExt in UnityGltf since we're often using that along with glTFast. I agree that's not ideal.

I have in fact talked to the relevant Unity team about it, and they're aware but don't have a good solution. As so often, this override feature was designed for single projects, not for indepen

[2022-03-14 12:27] hybridherbst commented on #352
OK, UnityGLTF will now check for glTFast existance, and use the regular scripted importer if it doesn't exist and overrideExt if it does exist.
Additionally, I added the ability to override via global scripting defines. I made a PR for glTFast as well which will, by default, not change anything but allow to specify the default importer via global define as well:
https://github.com/atteneder/glTFas

[2022-03-14 17:43] atteneder commented on #352
@hybridherbst yeah, that's the best solution we can have for now. Thanks!

[2022-03-14 17:43] #352 closed

[2022-03-14 19:57] Pryme8 commented on #366
@atteneder Is there a JSON parsing method I can use directly by just passing it a string?

[2022-03-14 23:20] hybridherbst commented on #363
@kyapp69 you can use https://github.com/prefrontalcortex/UnityGLTF/ in the meantime for pretty solid animation export. By doing so, you're indirectly also improving glTFast's future animation export, as whatever breaks/works there is a good foundation to match glTFast against :)

[2022-03-15 16:00] hierro commented on #365
@kyapp69 I've been testing all possible cases to export a character with rig, then i stepped into this thread.
 if I can be helpful, in terms of debug and test, let me know, thank you all.

[2022-03-16 00:54] lkaesberg opened #368 "Shader is missing in build"
Hi guys,
I created a project which uses glTFast to import some gltf Files at runtime. In the editor it works fine, but when I create a build it says that the glTF-pbrMetallicRoughness Shader is missing.
![image](https://user-images.githubusercontent.com/33939116/158495326-688586c4-beb5-4946-8c6f-4caec9242c16.png)

Sadly, the referenced website doesn't exist anymore. I tried using the Project Setti

[2022-03-16 05:57] #368 closed

[2022-03-16 05:59] atteneder commented on #368
Hi @lkaesberg,

Thanks for reporting. Indeed that link was outdated. Here's the correct one:

<https://github.com/atteneder/glTFast/blob/main/Documentation%7E/ProjectSetup.md#materials-and-shader-variants>

Let me know if that helped

Regards,
Andi

[2022-03-16 08:11] kyapp69 commented on #365
Sure, watch this thread.  I just forked it so I can do pull requests.

[2022-03-16 08:30] burakkaraceylan opened #369 "Material is not imported and the object is rendered pink."
**Describe the bug**
The material is not imported using the 4.6.0 version but it works fine with 4.5.0 with the standard pipeline. It renders the oject pink since no material is applied.

**Files**
https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Duck/glTF/Duck.gltf

**To Reproduce**
Steps to reproduce the behavior:
var gltf = gameObject.AddComponent<GLTFast.GltfAsset>(

[2022-03-16 09:39] hierro commented on #365
Following it, and also considering to modify shaders in untiy to be fully compliant with GLTF, in example using roughness maps.
There is a lot that can be done, but indeed the skin is necessary in order to have a valid export tool for interoperability.
Let me know how I may help on this, thank you.

[2022-03-16 13:00] lkaesberg commented on #368
Thanks a lot. That solved it.

[2022-03-17 01:55] kyapp69 commented on #364
I have been doing some test.. @SceneForgeStudio can you verify that it's still happening? Are there any skinned meshes? If the meshes are skinned it can happen. I tested with just pure non skinned meshes and they seemed to export ok to their respective places.

[2022-03-18 00:03] SceneForgeStudio commented on #364
@kyapp69 So sorry I didn't get a chance to upload a reproducible sample, life got in the way and I was away from my desk.
None of the meshes are skinned, just regular meshes.  How was your test done?  Using prefabs?  Like I said, the models are imported at runtime using Trilib, then I'm duplicating (Instantiating) the models.
What steps are you taking that arent resulting in this happening?

[2022-03-20 06:34] kyapp69 commented on #365
You can take a look at my fork to do initial testing of the skinning for the time being. I have enabled legacy path exporting, as I am using that to understand the code. not surer what is missing tho. I just preliminarily tested and it seems to work.

https://github.com/kyapp69/glTFast

[2022-03-21 10:56] hybridherbst commented on #343
In general I think the way to support "each and every weird custom thing" (trees, TMPro, Canvas, whatever you want to export) is to build custom callbacks, at least that's the plan for UnityGltf. Some of those could of course be built in at some point (trees make sense) but others would be very workflow and project specific.

[2022-03-21 11:11] bitinn commented on #343
I definitely agree, though the problem is on import we cannot easily distinguish them (between a tree glb and a car glb), so it would seem like we need some import settings to allow users to select an import template, to remap material and textures correctly.

Sent from my iPhone

[2022-03-21 12:01] hybridherbst commented on #343
Yes, if you want to fully recreate the tree you might need to emit additional userData or a simple extension (possible through callbacks) with everything that can't properly be transferred via glTF itself.

[2022-03-21 12:18] bitinn commented on #343
Just to limit the scope a bit: for now, I am happy if I can get the basic PBR maps out and in again. Main problem currently is texture channel packing differences and import material assignments.

Sent from my iPhone

[2022-03-30 14:49] CorentinDel opened #374 "JSON parse error : Missing a name for object number"
**Describe the bug**
Reimport an exported gtlf file trigger a json error.

**Files**
[Scene_exporter_runtime.zip](https://github.com/atteneder/glTFast/files/8381543/Scene_exporter_runtime.zip)

For more informations : it's 4 cube inside an empty scene

**To Reproduce**
Steps to reproduce the behavior:
1. Click on `file -> Export Scene -> glTF (.gltf)`
2. Save your export anywhere (i did inside a f

[2022-03-31 09:33] Morgan-6Freedom commented on #275
Hello. It seems that the 4.6.0 fix the occlusion map & the metallic. Does it fix the normal map ?
https://github.com/atteneder/glTFast/releases/tag/v4.6.0

[2022-03-31 10:54] Daniel4144 commented on #374
Hi, I assume you were using the Unity default cubes; I experienced the same with these (same import error). The problem seems to be the default material/shader. When I create and assign a material with a different shader, exporting and importing works for me.
So it does not work with the shader  'Standard', but it does with the 'Standard (Specular setup)'.
I have only tested with the builtin rende

[2022-03-31 14:49] merulaxr commented on #165
We have also encountered this issue, I've traced it to the accessor switch statement https://github.com/atteneder/glTFast/blob/main/Runtime/Scripts/GltfImport.cs#L2211 and in particular the `await deferAgent.BreakPoint();` that follows on Line 2271. Tested with the built in GltfAsset loader.

[2022-04-01 09:25] Phlicess opened #376 "Runtime import: Convert to URP/Lit based materials"
When importing glTF in the Runtime,  I want to change gltf default material to URP/Lit or my custom material.
I see the info in document:
![image](https://user-images.githubusercontent.com/11753644/161235664-079a1082-d9f0-442e-b16d-c0f2d22ea512.png)

so, What is the best way? (。-ω-)zzz

[2022-04-05 16:06] atteneder opened #377 "glTF/PbrMetallicRoughness renders pink"
### Discussed in https://github.com/atteneder/glTFast/discussions/373

<div type='discussions-op-text'>

<sup>Originally posted by **rycsim** March 21, 2022</sup>
I'm testing gltF-demo-2020.3hdrp. When I use the shader "glTF/PbrMetallicRoughness" the runtime export work well but unity render it "pink" . Am I doing something bad ? Thanks for advance for the help

![Capture](https://user-images.gith

[2022-04-06 16:31] atteneder commented on #275
@Morgan-6Freedom yes, normal map export works, as stated in the [documentation](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/features.md#core-gltf-features).

[2022-04-06 16:38] atteneder commented on #374
@CorentinDel  Thanks for reporting!

Do you, by chance, use a system that's configured to use a coma (`,`) as decimal point? If yes, this is another instance of [this issue](https://github.com/atteneder/glTFast/issues/335). I'll have a look!

[2022-04-06 16:39] atteneder commented on #374
@CorentinDel Actually, this should already be fixed in the current `main` branch and thus with the next release. Can you, by chance, test the current development  version?

[2022-04-06 16:40] atteneder commented on #374
Assuming it's fixed. Please re-open if that's not the case.

[2022-04-06 16:40] #374 closed

[2022-04-07 05:22] camnewnham opened #380 "[Question] Is ext_mesh_gpu_instancing performance any different to using the same mesh in multiple nodes?"
Looking at the [implementation](https://github.com/atteneder/glTFast/commit/a212539b3ecfe07d65014a563075504bca80cc70) it seems that this creates a GameObject for each transform provided by the extension.

Aside from perhaps more efficient parsing of the transformation arrays and some minor less file-size in the GLTF JSON component, once the geometry is instantiated is this functionally any differe

[2022-04-07 07:09] camnewnham commented on #380
From a bit of reading, it looks like the _ideal_ scenario here would be to use `DrawMeshInstancedIndirect`, but this is not an insignificant amount of work to implement as it has to be supported in the shader, though this would also affect other unity interactions with the object.

[2022-04-07 15:36] seyfeb opened #381 "KTX support"
I tried to load a file with KTX textures. To this end, I installed (as documented in the main README) in a clean Unity 2021.2.25f1 project:

1. glTFast via the Installer Package
2. [KTX/Basis Texture Unity Package](https://github.com/atteneder/KtxUnity) via giturl. I tried the installer Package first but there were errors  about scoped registries

[code]
    so I threw out the second one in the ma

[2022-04-07 17:59] #165 closed

[2022-04-07 18:04] atteneder commented on #165
Thanks everyone for finding this bug! Especially @merulaxr for providing a fix and nailing down the issue!

The problem was, that the auto-generated default `IDeferAgent` (responsible for delaying loading work to the next frame, to keep the frame rate stable) was destroyed when loading a different scene and this went unnoticed, leading to the slow performance you observed.

I installed a couple of

[2022-04-08 08:33] merulaxr commented on #165
Thanks for improving on my fix and I'm glad I was able to point you in the right direction! 😄

[2022-04-08 09:27] atteneder commented on #376
@Phlicess Yes, that's the way to go!

If you manage to write and submit a first draft of a `Lit` material generator, I'd be happy to review and include it!

Closing, since this is a duplicate of #258

Thanks!

[2022-04-08 09:27] #376 closed

[2022-04-08 10:34] atteneder commented on #381
Hi @seyfeb,

Do you mind sharing your `Packages/manifest.json` ?

It should be sufficient to install one package via the OpenUPM installer and add KTX via package manager. Don't know where you went off the rails.

[2022-04-08 10:35] atteneder commented on #381
@seyfeb On another note: If you got as far as to the crash you reported in KtxUnity, then you had it installed successfully already.

I suggest to install it the way you did before. Feel free to re-open if you still have troubles.

[2022-04-08 10:35] #381 closed

[2022-04-08 11:09] seyfeb commented on #381
Okay yeah that sounds sensible. I used the glTFast installer first and the KTXUnity installer afterwards. Each tried to install the scoped registry, which didn’t work out well ;)

Interestingly when adding the KtxUnity package via the scoped URL, on the malformed gltf+KTX file it reports

[code]

while it works for the Avocado model encoded with a new version of gltfpack. So the message was just c

[2022-04-08 12:27] atteneder commented on #381
@seyfeb That does not make sense. Either installation worked and it loads correctly (or crashes) or you get the message about missing extension.

[2022-04-08 12:34] seyfeb commented on #381
Sorry, you're right. I had to reimport the Asset for the Editor to be crashing again. The message that the package needs to be installed does not get dismissed since importing is not possible (only with a crash, which retains the message).

[2022-04-11 17:52] atteneder commented on #75
This problem could be easily solved, if the glTF generator would produce a vertex position accessor with `normalized` set to `true`. This way the node's transform wouldn't need such extreme scale values.

If you run into this problem, chances are you're using [gltfpack](https://github.com/zeux/meshoptimizer/tree/master/gltf). I've created a [feature request](https://github.com/zeux/meshoptimizer/i

[2022-04-17 11:22] carking1996 commented on #153
This is a big one for me, and a current reason of not using it right now. I'm using another GLTF importer which is unfortunately slower but doesn't split the meshes up by material. I'm curious when this will be ready for this project.

[2022-04-19 07:56] atteneder commented on #153
@carking1996 Sorry that I cannot provide this to you currently. There's no definite plan, so work will for sure not start before July. I'll keep you posted in this issue, so please subscribe.

[2022-04-19 09:51] hybridherbst commented on #362
For reference, UnityGltf allows customization in a couple ways:
- decide to include/exclude by GameObject active state
- decide to include/exclude based on layers, auto-set layers by "main camera visibility" is the default - this might work here already

[2022-04-19 10:30] hybridherbst opened #384 "Meshes with Draco compression don't have submesh bounds set (always 0,0,0)"
**Describe the bug**
When importing meshes that use Draco compression (haven't tested meshopt), it seems that submesh bounds are never set. We're using submesh bounds for further processing though (finding local as opposed to world bounds).

**Expected behavior**
Submesh bounds are set correctly

**Screenshots**
![20220419-113850-GOBn-rider64_wPVC](https://user-images.githubusercontent.com/2693840

[2022-04-20 14:47] atteneder commented on #384
@hybridherbst Thanks for the hint!

Instead of (re)calculating the bounds, essentially iterating all vertices (what `SetSubMesh` implicitely does) I'm setting the submesh bounds from the accessor's min/max value now.

This is not ideal, as each submesh will have the bounds of the overall mesh. Actually that's the way submesh bounds are set for uncompressed glTFs as well. In most cases it is correc

[2022-04-20 15:13] atteneder commented on #369
@burakkaraceylan Thanks for reporting and your patience.

I could not reproduce it.
It does not even work in the Editor? Or is it in builds only?
Maybe it's your project's setup. Can you provide a simple reproduction project?

[2022-04-20 15:26] atteneder commented on #366
@Pryme8 Thanks for your patience.

I just got on a Windows box to test it, and it works for me. The `Download buffer 0` error indicates that you did not copy the entire glTF correctly into the `D:\assets` folder. glTFs can consist of multiple files. the `.gltf` file is a JSON that potentially refereces more files like binary buffers (`.bin`) or textures (e.g. `.jpg`).

Your test file in particular

[2022-04-20 15:26] #366 closed

[2022-04-20 16:51] #357 closed

[2022-04-20 16:55] atteneder commented on #357
@SceneForgeStudio Thanks for reporting.

I somehow couldn't reproduce it, but I assume that the source of the error is mixing Profiler calls and await. I tried to the best of my possibilities to de-clutter them. If you could test the current `main` branch again (and re-open the issue if it's not resolved), that would be great.

[2022-04-20 17:00] SceneForgeStudio commented on #357
I will do so when I can, thanks!

[2022-04-20 19:37] burakkaraceylan commented on #369
No worries! Thanks for the amazing work!

It didn't work in the editor and in the webgl build. The scene was the standart empty Unity scene. Since then we upgraded Unity to 2020.3.31f1 and everything have been working fine in this version with glTFast 4.6.0.

[2022-04-21 08:05] atteneder commented on #369
@burakkaraceylan That's great to hear!

I'm going to close it now, but feel free to re-open if you ever run into this problem again.

Thanks!

[2022-04-21 08:05] #369 closed

[2022-04-21 13:50] myartings opened #385 "Import/Export round-trip does not preserve all material features"
**Describe the bug**
Gltf Exporter gives a wrong result. First import a glb format asset into unity and add to the scene. Then export the select game object. The exported glb asset is different from the original one.

**Files**
glb model
[DamagedHelmet.zip](https://github.com/atteneder/glTFast/files/8531422/DamagedHelmet.zip)

**To Reproduce**
Steps to reproduce the behavior:
1. add the glb asset

[2022-04-21 14:02] #353 closed

[2022-04-21 14:02] atteneder commented on #353
@bitinn Thanks for the great report. I just pushed a fix to the main branch.

cheers!

[2022-04-21 14:09] atteneder commented on #385
@myartings Another question: Is this a test-run for a production workflow you're seriously aiming at or did you just stumble across it while playing.

If it's the former, I'm happy to hear insights about requirements (like what shaders would you prefer to import to).

[2022-04-21 15:06] #346 closed

[2022-04-21 19:42] atteneder commented on #324
I could not reproduce the change in values. Here's my steps:

1. import your glTF
2. copy the imported material (so it can be edited)
3. change the shader to `Lit` and assign it to a new cube
4. export this new cube to glTF
5. import the new glTF again

The color values stayed constant.

What I noticed, however, is that the visual color between glTF shader graph and Lit shader is not identical. Th

[2022-04-22 09:10] Holo-Krzysztof opened #386 "Material color property is all zeros/doesn't exist in URP case"
I'm using GLTFast to import a model at runtime and have made 2 example projects: 1 using the built-in renderer and 1 that uses URP.
Code looks like this:
[code]

In the built-in case I get the first material color printed as `RGBA(0.000, 1.000, 0.000, 1.000)`.
In the URP case I get:
[code]

The application we want to use GLTFast in later switches shaders to support selection/highlighting, and if c

[2022-04-22 12:21] myartings commented on #385
@atteneder Thank you for your response. This is a test-run for a production workflow. We aim to make a avatar creator at rum time. It will combine multiple glb body asset into a single avatar model and expect to export the result game object to one glb model file for other use.  Considering shaders, we have no special requirements. It is just ok when rendering correctly.

[2022-04-22 12:51] Holo-Krzysztof commented on #386
I've looked into `BuiltInMaterialGenerator` and `ShaderGraphMaterialGenerator` and saw that the first does assign `material.color` while the 2nd does not (it does `material.SetVector(baseColorPropId, baseColorLinear)` instead).

The warning does go away if I add the line `material.color = baseColorLinear;` to `ShaderGraphMaterialGenerator`, though I'm not sure if this is correct from a color space

[2022-04-22 15:49] atteneder commented on #385
@myartings That's a helpful insight. My 2 cents regarding shader selection:

- Lit
  - pro: Battle prove standard
  - contra: ORM maps need to get converted at run-time, potentially slowing down loading/exporting
- glTF shaders:
  - pro: Faster loading/exporting
  - pro: Feature set is built around glTF, so round-trip is more likely to be lossless in the future
  - con: Not as well (there might be

[2022-04-26 15:14] GeorgeBusuioc opened #387 "Metallic/Roughness Map not Exported at Runtime using glTF/PbrMetallicRoughness shader"
**Describe the bug**
After uploading a glb model in Unity that contains a Roughness/Metallic map and using the glTF/PbrMetallicRoughness shader, export it at runtime using SaveToFileAndDispose. After that, reimport it in Unity or open it with a glb viewer and observe that the model looks off.

**Files**
The file I used to test this can be found here: https://sketchfab.com/3d-models/rzyas-military-

[2022-04-26 15:25] #387 closed, assigned to nobody

[2022-04-27 10:48] hybridherbst opened #389 "File with trailing bytes fails to import"
**Describe the bug**
While working on that other exporter I accidentally produced files with trailing bytes, found [a Validator bug](https://github.com/KhronosGroup/glTF-Validator/issues/180), learned that trailing bytes are actually allowed in the spec. And while the file linked in the issue works in glTFast, this one here doesn't:

**Files**

[todo.zip](https://github.com/atteneder/glTFast/files

[2022-04-29 08:51] #389 closed

[2022-04-29 16:12] wonkee-kim opened #390 "Texture y-flips with KHR_texture_basisu extension on gltfast URP"
**Describe the bug**
When glTFast-URP brings a model that uses `KHR_texture_basisu`, the texture appears y-flipped. I am using version 4.4.6.
It was okay with Built-in render pipeline.
The texture seems coming right(same with Built-In), but some of URP shaders flip it, and others don't as their baseColorTexture_ST is different.

[Not-Flipped]
glTF-metallic-Opaque
glTF-unlit-Blend
glTF-unlit-Blend-

[2022-04-29 16:32] atteneder commented on #390
@wonkee-kim Thanks for the report.

I cannot reproduce on

- Unity 2021.3.1f1 or 2020.3.33.f1 on macOS/Vulkan
- glTFast 4.7.0
- URP 12.1.6/10.8.1 nor BiRP
- KtxUnity 2.1.2/1.3.2

Note: It is expected that the texture is flipped upside-down in the inspector. Unity has a different texture orientation than KTX. It should be correct on the model though, since the texture tiling is transformed to count

[2022-04-29 17:13] wonkee-kim commented on #390
oh sorry, I was using 4.4.6 version and just upgraded 4.7.0 and it's fixed!
Thank you so much for your effort.

[2022-04-29 17:13] #390 closed

[2022-05-02 12:31] atteneder commented on #324
There actually is an error in the shader graphs! A fixis in branch [fix-sg-color-space](https://github.com/atteneder/glTFast/tree/fix-sg-color-space) and to be merged for the next major release (since it's a breaking change)

[2022-05-02 12:36] philippebedard commented on #324
Thanks for your feedback!

It was my mistake for the original issue. Good thing you found out another issue will investigating this one.

[2022-05-02 12:36] #324 closed

[2022-05-02 17:04] cansik opened #391 "Import skin as avatar"
When importing a skin from glTF a SkinnedMeshRenderer is applied to the Mesh. However, there is no option to import the skin as Avatar (Generic / Humanoid). As far as I can say, this could be implemented using the [AvatarBuilder](https://docs.unity3d.com/ScriptReference/AvatarBuilder.html). FBX & DAE importer both support to load skins as avatars and it would be great if glTF would be able to have

[2022-05-03 07:38] atteneder commented on #391
Hi @cansik,

There's the file format [VRM](https://vrm.dev/en/). I have not tested it myself, but in essence it is a glTF file with additional properties/extensions. There's already a Unity importer as well, but I have no idea how it compares to glTFast.

Other than VRM I'm not aware of an extension that specifies humanoid, facial or other rigs.

At some point I'd love to explore this topic and ev

[2022-05-03 17:21] pzhine commented on #269
Unity allows me to build with all of the glTFast shaders included, but it takes a long time (30-40 min on a fast machine). Does anyone know where Unity puts the built shaders, so I can archive those files and just drop them into subsequent builds? I'm building for iOS and Android...

[2022-05-03 17:33] hybridherbst commented on #269
Subsequent builds will reuse the shaders on the same machine, they're getting cached directly into the Library. Only the first build on a machine (or when you changed the shaders) should take this long.

[2022-05-03 19:36] pzhine commented on #269
Actually, if I don't check "Scripts Only Build" they get compiled every time.

[2022-05-03 21:25] hybridherbst commented on #269
That would be a bug, please report that to Unity. It doesn't matter if "Scripts Only" is on or not, compiled shaders will be cached unless your disk is full. Shader stripping though will not be cached (but shouldn't take excessively long - if it does, still please report a bug).

[2022-05-04 11:27] pzhine commented on #269
Ok, thanks, I will file a bug. For reference, it is the "Preparing variants for compilation" that takes forever.
<img width="512" alt="Screenshot 2022-05-04 at 13 26 37" src="https://user-images.githubusercontent.com/2692844/166672711-96eea727-55a8-46ed-83ef-c7cf86a80a38.png">

[2022-05-04 11:41] hybridherbst commented on #269
Yeah, I believe that's a known issue in 2021.2 with URP since they added a ton of multi_compile debug variants that all need to be stripped away at build time and that's not efficient / not cached currently. Can't hurt to report another bug

[2022-05-05 19:31] pzhine commented on #269
Done! https://fogbugz.unity3d.com/default.asp?1425665_8e8453tjnsmolq17

[2022-05-08 15:28] zeusxx opened #396 "error CS0234: The type or namespace name 'Schema' does not exist in the namespace 'GLTFast'"
Hi,

when I'm using Unity 2019.4.1f1, after importing the glTFast package, it shows a lot of messages like this:

_Library\PackageCache\com.atteneder.gltfast@c11e4dca43\Runtime\Scripts\MorphTargetContext.cs(17,15): error CS0234: The type or namespace name 'Schema' does not exist in the namespace 'GLTFast' (are you missing an assembly reference?)_

Could you please have a look and help to solve it?

[2022-05-09 08:37] atteneder commented on #396
Hi @zeusxx ,

Please provide the following info:

- What method of installing glTFast did you choose?
- What scripting backend are you using?
- What API compatibility level are you using?

Could you try upgrading to the latest 2019.4 release (2019.4.38f1 at the time of writing)

[2022-05-09 12:28] hybridherbst opened #397 "SkinnedMeshRenderer bounds are incorrect"
**Describe the bug**
While trying to debug
- https://github.com/mrdoob/three.js/issues/24018

I found that a similar (but different) issue happens when importing the file via glTFast - when playing back the contained animation the skinned mesh is only sometimes visible, sometimes not, and it looks like the bounds are incorrectly updated.

This could well be a Unity bug, but the original comes from

[2022-05-09 13:49] atteneder commented on #397
glTFast cannot calculate the animated bounding box (yet; see #301 ), so `updateWhenOffscreen` is enabled by default, meaning the bounds are calculated by Unity each frame.

Observation: The bounds seem to be invalid whenever the scale of `LOD0` is animated to 0/0/0. I guess the bounds are calculated correctly, but then the 0/0/0 scale jams it.

Is that the same for the original?

Also: `RootNode`

[2022-05-09 14:38] hybridherbst commented on #397
Interesting: I wasn't aware that LOD0 is scaled to 0 in some of these frames, that definitely contributes to the issue, and it's not the same as in the original!
Also it seems something else on my end has set "Update when offscreen" to false, so I'd say glTFast behaves correctly here. Thanks!

[2022-05-09 14:38] #397 closed

[2022-05-10 15:41] wonkee-kim opened #398 "UV value is broken when it's out of 0~1 range."
**Describe the bug**
The model's uv value is as below and it's broken when importing.
![treeUV](https://user-images.githubusercontent.com/830808/167667018-6569dd4e-3254-4f8e-861b-7b6b7098032d.JPG)

This happens only on URP version (built-in was fine) and happens on webgl build, in the editor it's okay.
(gltfast - built in)
![before](https://user-images.githubusercontent.com/830808/167508076-735f5b

[2022-05-11 09:44] atteneder commented on #398
@wonkee-kim Thanks for reporting.

I haven't finished investigating, but first significant observation:

[glTF-Validator](https://github.khronos.org/glTF-Validator/) reports that `[LowPolyTree.zip](https://github.com/atteneder/glTFast/files/8662997/LowPolyTree.zip)` contains invalid tangents (of length zero). I wouldn't be surprised that this is the cause of the invalid shading. I am surprised it'

[2022-05-11 16:30] EricBeetsOfficial-Opuscope opened #399 "Point Cloud Rendering issue"
**Describe the bug**
I try to load a model (based on point cloud from sketchfab) in runtime, and I have a rendering issue and logs warnings on iOS (in Editor mode, I just have log warnings)

[code]

**To Reproduce**
Load the model in runtime.

[code]
**Expected behavior**
I guess, the rendering would be the same  on Editor

**Screenshots**

On Editor (correct rendering):
![Screenshot 2022-05-11 at

[2022-05-11 19:03] Takanu commented on #206
Given the lack of responses it would seem your bet has been vindicated, but I figured I'd make a comment as my workflow heavily relies on more than two UV layers.  I use them in most of my assets to carry data that's too difficult to use Vertex Colors for such as height, position and palette maps, to be used for some more complicated shader effects and while this plugin has better animation suppor

[2022-05-13 08:47] atteneder commented on #206
@Takanu Thanks for your feedback. It is duly noted and taken into consideration!

As far as I see there's two tasks to this feature:

1. Importing all UV sets into Unity Mesh data structure
2. Add support for UV sets 2-8 to all shaders and shader graphs

Your use case implies you're not necessarily using the glTF shaders anyway, so you'd be happy with step 1 already, right?

[2022-05-13 10:40] Takanu commented on #206
@atteneder For any model where I need more than two UV maps I'd have no use for the glTF shaders, Step 1 is all I need.

[2022-05-17 11:26] Holo-Krzysztof opened #400 "Burst 1.6.5 breaks UWP build"
**Describe the bug**
I tried upgrading to glTFast 4.7.0 in our project a few weeks ago, but that broke our UWP build; it seems to be due to the dependency on Burst 1.6.5.
I can't find it on the issue tracker right now, but Unity themselves have downgraded Burst in 2020.3.34 (see [release notes](https://unity3d.com/unity/qa/lts-releases?version=2020.3)) after having upgraded just one version prior

[2022-05-24 08:45] sutheim commented on #391
Hey so I've bumped into this issue now as well so I just wanted to chime in and try to clear up what I believe @cansik is talking about. It's not about supporting avatar specific formats like VRM but being able to create [Unity Avatar assets](https://docs.unity3d.com/Manual/ConfiguringtheAvatar.html) (generic or humanoid) on gltf import, in a similar way to the FBX importer:

![image](https://user

[2022-05-24 08:51] atteneder commented on #391
@sutheim Ok, got it. True, these are different use-cases.

I guess this means (semi-) automatically assigning root bones, bones and other settings optionally with UI to override those settings, right?

[2022-05-24 09:20] cansik commented on #391
@sutheim Thanks for the clarification and yes, currently I am running a script to generate a human avatar after importing it with glTFast. FBX & DAE do have this importer, I guess they are the only one and I could not figure out how to let Unity display this dialog with custom file formats.

[2022-05-26 08:33] orangeagain opened #403 "How to get triangles and materials count before load?"
**Describe the solution you'd like**
Wanna get triangles and materials count in glb file before real load, because we want to determine the impact on performance to decide whether to continue loading.
Did glb file record those information?
Did this function alreadly in code?

[2022-05-26 13:51] andypoly commented on #320
Hi great library. The scene root makes sense if you have multiple child objects, but if you are loading a single model which already has one top root then it seems redundant - however in tests, often the single node below scene is applying a transform so you can't lose that and it would be best that any root node has no scale/rotation applied so would apply it to children?

[2022-05-26 15:37] andypoly commented on #219
To add to this - the first thing we noticed on testing glb is they were like 3 times the size of an equivalent Unity asset bundle. When zipped it was 3 times smaller than before - this was just pure triangle data, not textures - and close to a desktop asset bundle size.
So zipping the files for downloaded seemed sensible...
There may be use cases for a single zipped glb file, cross platform, versu

[2022-05-26 17:57] alexs7 opened #405 "Loading Textures in Android and in Unity"
Hello,

I have a question about loading textures along side a .glb model.

First in Unity, if I install gltFast and then drag and drop the textures (.jpgs) with the .glb model the inspector then shows the model coloured.

Second, in Android do I need to load the textures in code or does the loader picks them up automatically ?
If so how does it know which files to pick?

Thanks!

[2022-05-29 08:47] Woody4618 opened #407 "Using URP the export to WebGL results in shader compilation errors"
**Describe the bug**
I am using unity version 2021.3.2f with URP version 12.1.6.
In the editor everything works fine, but when it try to export to WebGL im getting following 3 errors:

Shader error in 'Shader Graphs/glTF-pbrMetallicRoughness': 'SAMPLE_DEPTH_TEXTURE': Too few arguments to a macro call. at /Applications/Unity/Hub/Editor/2021.3.2f1/Unity.app/Contents/CGIncludes/UnityShadowLibrary.cgi

[2022-05-30 09:40] atteneder commented on #403
Hi,

Thanks for reaching out. This does not exist yet but it should. I'd say this is related to or a duplicate of #147, which is about calculating the overall memory usage beforehand.

Unfortunately I cannot give a timeline. Help is welcome, obviously.

Thanks

[2022-05-30 10:32] atteneder commented on #320
Hi @andypoly

Thanks!

Correct, but the idea is to not create a GameObject for the scene (which applies no transformation whatsoever) and not to eliminate the (single) root node. Hope that clarifies everything.

[2022-05-30 10:57] atteneder commented on #320
Possible options for creating a scene GameObject could be:

1. Always
2. Only if there are more than one root nodes
3. Never (not available for design-time import, since Prefabs always need a single root transform)

I'm wondering if option 3 is required at all? It wouldn't be hard to implement, but make ideas like #404 unnecessarily confusing and generally seem to be YAGNI.

Opinions?

[2022-05-30 11:08] atteneder commented on #219
Thanks for sharing. Making a proper comparison of glTF variants and asset bundles is definitely desirable.

Absolutely!

I'm curious, on what platform(s) do you want to load zipped glTFs? I'm asking because if it's just WebGL, you can leave it up to HTTP's compression level (in other words to the server and browser), right?

[2022-05-30 15:29] atteneder commented on #405
Hi @alexs7 ,

First off please elaborate your use-case/workflow. Do you want to import glTFs into your project (at design-time) or load them at run-time?

The advantage of a glTF-binary (glb) is that it can encapsulate all files/data within a single file (that includes textures). Now it is possible to still have external textures, but it is somewhat unusual. If you can share your data (or a simila

[2022-05-30 16:17] atteneder commented on #320
Thanks for sharing

I think that is custom, project-specific behavior and not desirable within glTFast. It is not importing true to the glTF and entering the editing domain, becoming more complicated when animations are involved. I'd recommend creating a root node with an identity matrix transform in your glTFs (if you are in control of them) or writing a custom `IInstantiator` for that purpose.

[2022-05-30 16:21] atteneder commented on #407
@Woody4618  Thanks for reporting!

I'm having a look, but compiling all shader variants is taking some time :/

[2022-05-30 22:13] atteneder commented on #407
@Woody4618 A similar project setup worked for me. I'd need more details:

Ideally a minimal project for reproduction, otherwise:

- How did you include shaders and which variants exactly?
- URP setting details?

Thanks

[2022-05-31 06:51] Woody4618 commented on #407
Hello, thank you for investigating!

![image](https://user-images.githubusercontent.com/5938789/171108806-eb4d0619-8fdc-4a50-a9a7-99e9a35db832.png)

![image](https://user-images.githubusercontent.com/5938789/171108843-95daafa3-aa76-40e0-a0ca-acd9681e87b2.png)

Following the documentation I added the tracked shaders to always include:
![image](https://user-images.githubusercontent.com/5938789/17110

[2022-05-31 07:19] Woody4618 commented on #407
Minimal project that shows the errors. Just export to WebGL
[GtlfTest.zip](https://github.com/atteneder/glTFast/files/8802946/GtlfTest.zip)

[2022-05-31 12:50] atteneder commented on #400
Hi @Holo-Krzysztof ,

Thanks for reporting and your patience. Annoying bug, but I'll wait for Burst 1.6.6 to fix this and keep this issue open, just in case anyone is looking for a solution.

[2022-05-31 13:57] atteneder commented on #407
@Woody4618 Do you get errors when explicitely build for WebGL 2.0 only (disable Auto API in the build settings)? That's what removed the error in my test right now. WebGL 2.0 has [quite good support](https://caniuse.com/?search=webgl%202.0) these days.

[2022-05-31 14:40] Woody4618 commented on #407
This results into the same Error for me sadly.

[2022-06-01 04:03] insthync opened #408 "Can't load shader error when importing an GLTF/GLB files with Unity 2021.3.3f1"
**Describe the bug**
Can't load shader error when importing an GLTF/GLB files with Unity 2021.3.3f1, I can fix by myself by load the source from repo and change codes in `ShaderGraphMaterialGenerator.cs`

**To Reproduce**
Steps to reproduce the behavior:
- Import GLTF/GLB files in Unity editor

**Expected behavior**
Be able to import GLTF/GLB files with loaded shader

**Screenshots**
![Screenshot_

[2022-06-01 09:31] atteneder commented on #399
Closing. Duplicate of #246

[2022-06-01 09:31] #399 closed

[2022-06-01 09:32] atteneder commented on #246
TIL: Shader Graph (at least the URP target) does not generate point cloud compatible shaders. The only viable option is to write a custom shader.

[2022-06-01 10:49] atteneder opened #409 "Load glTF (non-binary) from `string`, `byte[]` or local file path"
`GltfImport` should implement:

[code]

That opens up some possibilities, like loading from a decoded ZIP (from memory or file; as discussed in #406)

[2022-06-01 12:43] atteneder opened #410 "glTFs with many KTX textures performance improvement"
Currently, KTX transcoding and uploading to GPU is done in one monolithic step. If many textures are loaded simultaneously they'll get uploaded to the GPU subsequently (without breaks) and will stall the frame rate.

To resolve this, `KtxLoadContext.LoadKtx` has to be able to split transcoding/upload and the `IDeferAgent` has to check after each GPU upload.

This requires a change in KtxUnity's AP

[2022-06-01 13:20] atteneder commented on #408
@insthync I'm aware that you install via Package Manager, but there are options to that

- from a local folder (where you cloned the repository into)
- from a GIT URL
- via OpenUPM installer (as recommended in the README.md file)

[2022-06-01 14:41] insthync commented on #408
Installed from GIT URL

here is downloaded result (the folder name is `glTFast` not `com.atteneder.glfast`)

![Screenshot_1098](https://user-images.githubusercontent.com/2697550/171431477-6bce3fd6-4235-44eb-80fe-05fdc663bc20.png)

[2022-06-01 14:47] atteneder commented on #210
Duplicate of #177 . Closing.

[2022-06-01 14:47] #210 closed

[2022-06-01 14:51] atteneder commented on #194
In this context we should consider #179, a Dispose variant that keeps instances intact.

[2022-06-01 14:54] atteneder commented on #109
Closing in favor of #3

[2022-06-01 14:54] #109 closed

[2022-06-01 15:52] atteneder commented on #194
Also, documentation should provide best practice, as requested in #402

[2022-06-01 16:02] #398 closed, assigned to atteneder

[2022-06-01 16:03] atteneder commented on #396
No feedback -> Closing.
Re-open when you got more info.

[2022-06-01 16:13] atteneder commented on #386
Thanks for bringing up this point. It led to some discussions with the following (preliminary) conclusion:

This is by-design. glTF shader properties should match the glTF material spec properties as close as possible and not a certain Unity shader's convention. Conversion between glTF and Unity will be more cumbersome this way, but that's not a common use-case and a direct conversion to Lit/Stand

[2022-06-01 16:18] atteneder commented on #377
Re-open if you find time to give feedback.

[2022-06-01 16:18] #377 closed, assigned to atteneder

[2022-06-01 19:20] Bersaelor commented on #307
PS: [The documentation](https://github.com/atteneder/glTFast/blob/main/Documentation%7E/ProjectSetup.md) has moved.

[2022-06-02 00:12] camnewnham commented on #246
Ah. Does this mean normal HLSL shaders? If so, here are two that might be a useful starting point: https://gist.github.com/camnewnham/290fd777d7b04775f7ad98bbd3ced40f
- Billboard geometry shader that renders uniform screen size points and vertex colors
- Basic vertex color shader that renders pixel sized points on the platforms I've tested; but since gl_PointSize is not supported and generally see